[2015-10-24 17:57] Neuss1987 opened #1 "Ideas"
Hey Evan,

just an idea... maybe it's possible to include Spotify (which is OpenSource!?) via VoiceRecognation...

[2015-10-24 23:37] SaiKrishnaMohan7 commented on #1
Dude! Awesome work you have done! Putting it all over here, you are the real MVP!!

[2015-10-27 21:00] tvfoodmaps opened #3 "Does this only run in Chrome?"
I'm currently using MIdori for my smart mirror, seems like this only works with Chrome? Is that correct?  If so which version of chromium were you able to get working?

[2015-10-27 21:19] evancohen commented on #1
I'm looking at having some music integration. I currently use Chromecast for all of the audio/video in my room, but there are certain restrictions for the Chrome extension that make this impossible(?)

Namely there is no way to dynamically pick a Receiver to cast to (the current version of the Chromecast Extension handles this selection, all you can give it is a callback). If anyone knows how to s

[2015-10-28 10:47] dicker182 opened #4 "default config.js for weather"
Hello Evan,

is it possible to give us a default config.js to show the weather?

Best regards
dicker182

[2015-10-28 16:23] usman118591 commented on #3
Yeh currently it's supporting by chrome. and Chromium is on its testing phase. Have you checked that on chromium?

[2015-10-28 16:27] NomaanA commented on #4
+1

[2015-10-28 19:23] tvfoodmaps commented on #3
I can't get to seem to get chromium working on my pi1 + Raspbian.

[2015-10-29 04:16] evancohen commented on #4
I've added a sample in js/config.js :snail:

[2015-10-29 04:16] #4 closed

[2015-10-30 00:33] Robako opened #8 "I have issue with the weather?"
Can you tell me why my weather stays with a circle? I have API Key but still... I am using my site for tests demo: http://visionplayz.com/test2/

[2015-11-03 00:32] evancohen commented on #8
Check out the [caveats](https://github.com/evancohen/smart-mirror#caveats) section of the README. There are two ways to make this work: one is to install an extension that allow you to white-list the domain for CORS and the other would be to build a proxy. Unfortunately their API doesn't support JSONP :(

You could also swap out the API entirely and use something else

[2015-11-03 00:32] #8 closed

[2015-11-03 00:40] evancohen commented on #3
The mirror uses annyang for speech recognition, which only runs on newer versions of Chromium. It is theoretically possible to compile chromium for the Pi 1, although it would be quite difficult and the end result would not be terribly performant - I highly suggest using the Pi 2 as it drastically simplifies the process and does a much better job with speech recognition.

[2015-11-03 00:40] #3 closed

[2015-11-03 00:44] evancohen commented on #1
In case you are still curious, I'm working on a solution to this issue: [express-cast](https://github.com/evancohen/express-cast)

This will expose Chromecast functionality over HTTP on your local network making it possible for the mirror to give commands to Chromecast (indirectly). It's still a work in progress though and I haven't quite mastered the dark arts of the CASTV2 protocol.

[2015-11-03 00:44] #1 closed

[2015-11-05 16:25] steam0 opened #10 "Is it possible to add a keyword to activate it?"
I want to say: Jenkins, turn off the lights.

[2015-11-05 17:52] evancohen commented on #10
Absolutely! Just prefix the commands in js/controller.js with "Jenkins" and it'll work exactly like that.

[2015-11-05 17:52] #10 closed

[2015-11-15 15:52] murugaratham opened #13 "Equivalent project but on ReactJS"
Hi Evan, i was really inspired by your project and rewrote one using ReactJS, if you don't mind me sharing the link here so that ReactJS folks can take a look at how it can be done.
[React-mirror](https://github.com/murugaratham/react-mirror)

[2015-11-23 22:31] evancohen commented on #13
That's awesome dude! Nice job :)

[2015-11-23 22:31] #13 closed

[2015-11-27 19:04] gnurph69 opened #15 "Are you open to enhancements?"
I'm *really* new to github, but my impression is that the overarching approach here is code and idea sharing.  I don't have a clue as to how I might suggest some things to you - and even though I had no exposure to angular.js yesterday, I've added some functionality that might have some value.  I suspect it wouldn't have taken you long, but - eh, what do I know?

Also, your instructions appear to

[2015-12-02 00:35] evancohen commented on #15
I'm *totally* game. If you want to contribute you should fork the repository (if you haven't already) and then creating a pull request with your recommended changes.

I'm working on some changes that effect how the mirror is run - one of which is ditching the need for SSH certificates and other complexities. So hopefully that'll help others like yourself getting things running :)

[2015-12-06 13:28] javidrazak opened #17 "Ideas"
How about syncing your smartphone notifications and displaying it on the mirror? I think that would make the mirror really "smart".
 I am kinda beginner, and don't know how to push these notifications to the httpserver , so it would be nice if you are integrating it(if u like the idea).

[2015-12-09 03:46] evancohen commented on #17
I've actually already experimented with that using Pushbullit to "mirror" the notifications from an Android device to the mirror. I never quite finished it though...

Request received! I'll add this to my list :)

[2015-12-24 01:38] efunneko opened #20 "Speech recognition doesn't work under electron"
With a fresh checkout running under electron (npm start), annyang is not longer working. I am using a USB logitech webcam microphone for the input.

If I run the exact same set of files under chromium, the microphone and speech recognition work fine. Was there any configuration necessary under electron, alsa or asound to get electron to work?

[2015-12-24 01:50] efunneko commented on #20
After playing around with it a bit more, it seems that if I run 'sudo npm start' instead of just 'npm start', the microphone will work.

[2015-12-25 15:10] dithom02 opened #21 "What browser should you use for this?"
I havent been able to get it working with epiphany-browser which comes stock with raspbian-jessie.

When I try to use this demo link: https://evancohen.github.io/smart-mirror/ I dont get anything.

I figured thats a good sanity check. I have installed nodejs and npm and followed the github install instructions and after npm start I get this error:

npm ERR! smart-mirror@0.0.1 start: `electron main

[2015-12-28 21:47] gdscheele commented on #21
You have to use chrome or chromium for speech recognition

[2015-12-29 12:27] blackshroud opened #22 "Setting Weather Units to Auto Location"
Hey there,

wondering if you could update/provide assistance on setting the units of the weather widget to go along with the geolocation that it is pulling?

I am in Aus and fahrenheit makes no sense to me lol

[2015-12-29 13:20] blackshroud commented on #22
Solved my own issues.
          $http.jsonp('https://api.forecast.io/forecast/'+FORCAST_API_KEY+'/'+geoposition.coords.latitude+','+geoposition.coords.longitude+'?callback=JSON_CALLBACK&units=auto').

[2015-12-29 13:20] #22 closed

[2015-12-31 03:01] blackshroud opened #23 "Search for function"
This does not seem to work.

Is this a function that has actually been completed as yet? or something that is still in the works?

// Search images
            AnnyangService.addCommand('Show me *term', function(term) {
                console.debug("Showing", term);
            });

I also can't see anything that relates to the functions of adding reminders.

Brilliant work thus far

[2015-12-31 06:41] andrewda commented on #23
No, it hasn't been completed yet.

[2016-01-01 01:12] blackshroud commented on #23
So, I have completed the "add reminder" function.

Have setup a todo list in the left section that uses local storage to create a list that can then be marked as complete and cleared of complete items.

Now to get the search function working...

[2016-01-01 01:22] andrewda commented on #23
Make a fork or pull request! I would love to see what you've done :)

[2016-01-01 01:34] blackshroud commented on #23
https://github.com/blackshroud/smart-mirror

[2016-01-01 13:52] TheOnlyTermin opened #24 "Issues starting smart mirror"
I'm having issues trying to start the smart mirror. Logs below if anyone can suggest any help?

    pi@raspberrypi:~/smart-mirror $ npm install
    pi@raspberrypi:~/smart-mirror $ npm start

    npm ERR! Linux 4.1.13-v7+
    npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "start"
    npm ERR! node v4.2.4
    npm ERR! npm  v2.14.12
    npm ERR! code ELIFECYCLE
    npm ERR! smart-mirror@0.0

[2016-01-01 16:45] TheOnlyTermin commented on #24
Need to be in desktop mode, newbie mistake

[2016-01-01 16:45] #24 closed

[2016-01-05 10:43] rsandstroem commented on #20
Thank you for that hint. I had the same problem with a Creative USB webcam, annyang reported unknown input once per second. Starting with sudo makes it work as intended.

[2016-01-05 10:49] rsandstroem opened #25 "Displayed time is not correct"
The time shown on the main page is always a couple of minutes behind the actual time for me. Using the voice command to get the time gives the correct time in the debug window however, so it looks as it is not updating correctly.

[2016-01-06 12:24] swinkq opened #26 "Weather not working"
Hi, i can't get the weather work... I got the working api, paste in config file , but the weather does not show..
I should paste it only in config.js?
var FORCAST_API_KEY = "{https://api.forecast.io/forecast/apikey/47,29}"; Like that?﻿

[2016-01-06 21:33] evancohen commented on #23
Create a pull request and I'd be happy to review it! I was thinking of integrating some kind of service to sync reminders. Maybe Wonderlist?

[2016-01-06 21:38] evancohen commented on #26
The format of the api key should be as follows:

`var FORCAST_API_KEY = "la1ksd90afujw309sd0934afj";`

I'll update the documentation to reflect that :)

[2016-01-06 21:43] #26 closed

[2016-01-06 21:49] evancohen commented on #21
@dithom02 Are you running the latest from master? You also need to be in GUI mode, Electron can't launch if it is not running. Run `startx` to launch it.

[2016-01-06 21:51] evancohen commented on #20
I don't think this is an issue with the mirror, it's more likely an issue with Electron. Having to run with `sudo` is kind of a bummer. I'm using a Logitech Webcam and it's working fine for me... I'll take a look at this and let you know if I figure something out.

[2016-01-08 00:01] #15 closed

[2016-01-08 00:01] #17 closed

[2016-01-08 00:44] #25 closed

[2016-01-08 00:44] evancohen commented on #25
This is probably due to the fact that the clock updates every 60 seconds, assuming that you launched it at the top of the minute, and not updating the time every second. What surprises me is that the clock could ever be more than 60 seconds behind.

I've update the controller to update the clock every second (hopefully this isn't too much of a performance hit).

[2016-01-08 09:49] blackshroud commented on #23
Hadn't heard of wonderlist, might check it out.

On trust me, my coding will be less than average! hahaha.

[2016-01-08 14:58] evancohen commented on #23
That's why there are code reviews! I'm sure it's fine. Lots of stuff is hacky in the code today :P

Their documentation seems really straightforward: https://developer.wunderlist.com/documentation

If I've got some time this weekend I'll take a look at doing this.

[2016-01-10 01:12] Codeusa opened #27 "Lights"
Just out of curiosity, how did you go about hooking up the system to your house lights/changing colors? Would love to do something similar.

[2016-01-10 09:07] monaiz opened #28 "Sound card"
Hi Evan, which sound card did you use with Raspberry Pi for it to pick up sound and listen to you? Thanks!

[2016-01-10 11:01] monaiz opened #29 "Voice Activiation on browser"
How can I use the voice Activiation on a normal browser for development purposes?

[2016-01-10 12:11] monaiz commented on #27
Hi, take a look in hue-service.js the code is explained very well.

https://www.meethue.com/api/nupnp

[2016-01-10 16:48] monaiz opened #30 "Evan"
I'm trying to get into contact with Evan. Monaiz@me.com

Please contact me. I think you'll be interested.

[2016-01-10 18:05] mkerfoot opened #31 "Npm install"
I'm getting the following error after performing the following cmds.

CD /*/smart-mirror
Npm install

Bash: npm: command not found

[2016-01-10 18:27] monaiz commented on #31
Are you doing it from the root?

[2016-01-10 19:08] #28 closed

[2016-01-10 20:09] mkerfoot commented on #31
I am.

Root@raspberrypi:/boot/smart-mirror#

I ended up running sudo apt-get install nodejs npm and then I could run the cmd install npm but with a lot of errors. Then I tried running npm start and got errors(as expected since the npm install errored out so much).

Error

Command "usr/bin/nodejs" "/usr/bin/npm" install
cwd /boot/smart-mirror#

Thanks for any help, I'd love to get this working.

Wa

[2016-01-10 23:02] markparise opened #32 "electron not found/install issues"
Hey evan, So I got npm installed on my pi, but when I ran the "npm start" I get a whole slew of errors the first of which reads "sh: 1: electron: not found"

The rest of the error prompt is as follows:
npm ERR! smart-mirror@0.0.1 start: 'electron main,js'
npm ERR! Exit status 127
npm ERR!
npm ERR! Failed at the smart-mirror@0.0.1 start script.
npm ERR! This is most likely a problem with the smart-

[2016-01-11 10:36] kurtdb commented on #31
When using sudo, you're basically telling linux you want to run this command as the root-user.

Could you copypaste the error trace you're getting when using the npm install command?

[2016-01-11 10:38] kurtdb commented on #32
Did you first run the npm install command? If so, did it return any errors?

[2016-01-11 10:38] #30 closed

[2016-01-11 10:38] #29 closed

[2016-01-11 18:58] evancohen commented on #32
@kurtdb is right, you have to run npm install before you can run npm start. If for some reason that doesn't work you can run `npm install electron-prebuilt` which will install the dependency manually.

[2016-01-11 18:58] #32 closed

[2016-01-11 19:02] evancohen commented on #31
Sounds like you haven't installed npm correctly. Make sure you have installed Node (npm is bundled with Node):
http://blog.wia.io/installing-node-js-v4-0-0-on-a-raspberry-pi/

[2016-01-11 19:02] #31 closed

[2016-01-11 19:07] evancohen commented on #27
Thanks @monaiz :+1:
hue-service.js can be found here: https://github.com/evancohen/smart-mirror/blob/master/js/hue-service.js

[2016-01-11 19:07] #27 closed

[2016-01-11 20:11] markparise commented on #32
maybe I am just running npm install from the wrong location. I did a rmdir
and created a directory called git in which I cloned evans repository. Then
from smart-mirror I ran sudo npm install. But after that installed I get my
errors of no electron found.

Am I running npm install from the wrong place? Would using sudo npm install
cause these issues?

*Mark A. Parise*
College of Engineering - Comp

[2016-01-12 06:46] kurtdb commented on #32
Normally if you have installed nodejs and npm correctly, it shouldn't matter.

Have you tried Evan's second suggestion? If that fails, could you post the message you get when running ```npm install``` and ```npm install electron-prebuilt```?

[2016-01-12 06:54] BrianDawson commented on #20
I am unable to get it to speech to work. How do I set this up? I am not getting any prompts to choose a device on launch. When I record with my usb mic via command line, I get sound back.

[2016-01-12 21:13] efunneko commented on #20
I found getting the mic to work with electron quite finicky. As mentioned above, I never got it to work without running with sudo. I also had issues starting electron in rc.local - it would start (running as root), but the mic still didn't work.

In the end, I start it as the 'pi' user from a '@reboot' in the 'pi' user's crontab file:

    @reboot sudo /home/pi/smart-mirror/start &

with the start

[2016-01-12 21:21] evancohen commented on #20
I wasn't able to come to any conclusions when I looked at it over the weekend - although I have a sneaking suspicion that for some reason electron isn't picking up your microphone is the default (despite your configuration). It's possible to select which media device to use inside Electron, could you try using http://cl.ly/code/303S1R1o332n and seeing if your device gets picked up properly?

[2016-01-12 21:25] efunneko commented on #20
Thanks - I will try it when I get home. If this can work, we could add a config to config.js that allows a hard-coded selection of the microphone.

[2016-01-12 21:35] BrianDawson commented on #20
If I can't get it to work on the default browser. How do you npm start it with chromium/ chrome? I have Chromium installed but, have not seen a way to get npm to start with that instead of default browser.

[2016-01-12 22:26] monaiz opened #33 "Chromium or Chromium OS"
Do you install the browser or the OS?

[2016-01-13 01:32] markparise commented on #32
when I run from "pi@watsonpi ~/git/smart-mirror $" the npm install
everything works fine now its when I run npm start that in lies my issue.
After running npm start I get the following:

sh: 1: electron: not found

npm ERR! smart-mirror@0.0.1 start: `electron main.js`
npm ERR! Exit status 127
npm ERR!
npm ERR! Failed at the smart-mirror@0.0.1 start script.
npm ERR! This is most likely a problem wi

[2016-01-13 01:47] markparise commented on #32
Let me quick follow up. I guess I had accidentally deleted my tmp directory
somehow but I fixed that. Now when I run "npm install electron-prebuilt"
this is what I see:

sh: 1: node: not found
npm WARN This failure might be due to the use of legacy binary "node"
npm WARN For further explanations, please read
/usr/share/doc/nodejs/README.Debian

npm ERR! electron-prebuilt@0.36.3 postinstall: `node

[2016-01-13 03:10] BrianDawson commented on #20
I did what efunneko did with:

[code]

But, I also had to go to /usr/share/alsa/alsa.conf and edit that file. I changed the defaults of the following to 1.

[code]

Only issue I saw so far (about 10 minutes of testing before bed), I was unable to do an image search. I was able to do maps.

[2016-01-13 06:09] evancohen commented on #20
Seems like that's the solution then :)

If you still wanted to test device selection for getUserMedia use https://github.com/atom/electron-quick-start as a starting point and then drop in the contents of http://cl.ly/code/303S1R1o332n in index.html, that should work.

[2016-01-13 06:16] evancohen commented on #33
The browser. More specifically Electron, which packages Node and Chromium together. The installation is all automated, running `npm install` from the smart-mirror directory will install the correct version of electron-prebuilt for your computers architecture.

[2016-01-13 06:16] #33 closed

[2016-01-13 06:17] #21 closed

[2016-01-13 06:35] evancohen commented on #32
Looks like you are running a super old version of Node. First, completely remove the version of Node that you currently have installed on your Pi. Then assuming you are using the Raspberry Pi 2 Model B run:
[code]
This will download the correct Node binaries for the Pi2. Then all you have to do is copy them to /usr/local

`sudo cp -R * /usr/local/`

Once it has been copied run `node -v` to check t

[2016-01-13 17:28] ojrivera381 opened #34 "Unable to install electron-prebuilt"
I have followed the tutorial several times. It fails at the npm installs step with or without sudo.

Running RPI 2 B Jessie.

it fails at the electron-prebuilt install

[2016-01-13 18:09] ojrivera381 commented on #34
this can be closed i followed the directions provided for a smilier issue posted. Removing the version of node i was using (old) and followed Evans direction in updating to the latest version all worked after that.

How can i get this to auto start on reboot?

[2016-01-13 20:41] evancohen commented on #34
Instructions for running a node process on boot: https://thomashunter.name/blog/running-a-node-js-process-on-debian-as-an-init-d-service/

If you have any problems with this please create a new issue.

[2016-01-13 20:41] #34 closed

[2016-01-13 21:57] markparise commented on #32
Oh my gosh its working and I am so happy I could reach though the computer
and kiss you! Thank you so much he is going to love it! Now I just have to
get it to display upright but Im sure I can figure that one out. Thank you
so much. Seriously!!!

*Mark A. Parise*
College of Engineering - Computer| The University of Iowa
President | Sigma Nu Fraternity, Inc.
Risk Manager | Theta Tau Professional E

[2016-01-13 23:25] evancohen commented on #32
You can do this by updating your BIOS setting, which is in the /boot partition on your pi. Inside there you'll find a file called config.txt with a bunch of settings. To rotate your monitor just add this line to the file:

`display_rotate=1`

Restart and you should be good to go :)

[2016-01-14 00:46] ojrivera381 commented on #20
Some help hear would be appreciated. Linux is definitely not my strongest attribute.
I have everything up and running, finally! With 1 exception my mic. I'm using an hp KQ245aa
Tested working using sudo arecord -D plughw:1,0 test.wav ran file the file with aplay test.wav and confirmed audio.

I can't seem to get smart-mirror to listen for commands.

Since I am Linux stupid.

can some one give me a

[2016-01-15 01:34] monaiz opened #36 "Can't get lights to work"
I have 5 lights, they all work on my smart phone, all hooked up to my box and on the same wifi

I have my key right var HUE_BASE = "http://192.168.1.9/api/2f8160674b5f1df27856ce18360f51f0/";

But when I say "lights off" nothing happens..

[2016-01-15 02:17] evancohen commented on #36
Have you created a group for your lights? If you don't feel like doing that just change the group number to 0 in hue-service.js: https://github.com/evancohen/smart-mirror/blob/master/js/hue-service.js#L35
(0 is the default group which is reserved for "all lights")

[2016-01-15 02:17] #36 closed

[2016-01-16 18:59] ojrivera381 commented on #34
Thank you.

__________________
 My LinkedIn Profile
 [image: My LinkedIn Profile]
<https://www.linkedin.com/pub/oscar-rivera/14/b79/3a3>

On Wed, Jan 13, 2016 at 3:41 PM, Evan Cohen <notifications@github.com>
wrote:

[2016-01-18 11:12] rsandstroem commented on #20
I got the voice recognition to work without sudo finally.

I had already made the changes to alsa.conf  and the .asoundrc discussed above, but in addition I also had swapped the ordering of the USB webcam and ALSA, so for me 0->1 and 1->0  compared to the solution above.

The problem was that I did not have "pcm.default.card 0" in my .asoundrc file. With that added, it works like charm!

[2016-01-20 22:52] evancohen commented on #20
Nice job figuring this out folks! I've added a link to this issue in the readme for anyone else who has the same issue.

[2016-01-20 22:52] #20 closed

[2016-01-24 11:59] roelofjan-elsinga opened #39 "Temperature in Celsius"
Could this be implemented? I've tried to get this to work, but I failed.

[2016-01-24 12:45] gazf11 commented on #39
I've managed to get celsius by following blackshroud's solution in closed issues:
 enter
$http.jsonp('https://api.forecast.io/forecast/'+FORCAST_API_KEY+'/'+geoposition.coords.latitude+','+geoposition.coords.longitude+'?callback=JSON_CALLBACK&units=auto').
into weather-services.js
hope that helps

[2016-01-24 14:18] roelofjan-elsinga commented on #39
Thank you!

[2016-01-24 14:18] #39 closed

[2016-01-24 19:57] SenadM opened #40 "Implement Wolfram Alpha api"
Would be a great addition to the mirror.

Help about the API here:

http://products.wolframalpha.com/api/documentation.html

[2016-01-25 04:47] zol60fire opened #41 "Weather"
Weather is not looking ... how can i connect weather?

[2016-01-25 06:00] evancohen commented on #41
Follow the instructions in the Readme

[2016-01-25 06:00] #41 closed

[2016-01-25 08:06] kurtdb opened #42 "Make internationalization a possibility"
I see a lot of questions passing where people ask: hey, how do I display my data like this or like that. (eg the weather format being in centigrade or kelvin)

Wouldn't it be a great possibility if we put the configuration of that stuff in the config.js? That way it will become the only file people who want to use the software will have to look at. (unless they want to hack it, in which case they

[2016-01-26 04:03] zol60fire opened #44 "some problem at npm install"
I've problem at npm install step. What should i do?

![12647590_981106538615557_804877589_n](https://cloud.githubusercontent.com/assets/15710483/12572251/b37d5d24-c424-11e5-811a-620c8348bd3c.jpg)

[2016-01-26 05:39] evancohen commented on #44
How big is your SD card? This error means you are out of space. You probably just need to expand your root partition. Run `sudo raspi-config` and then select "Expand root partition to fill SD card". You'll have to restart and then you'll be good to go.

[2016-01-26 05:39] #44 closed

[2016-01-26 09:46] SenadM opened #45 "Check e-mail"
Would be nice to add under the calendar. Your latest 4-5 mails showing up.

[2016-01-26 14:41] zol60fire opened #47 "npm start is not working"
"npm start" is not working.
![12476105_981276245265253_1284190905_n](https://cloud.githubusercontent.com/assets/15710483/12583440/ca844f06-c47d-11e5-9b6c-388729cb9e7c.jpg)

[2016-01-26 19:59] evancohen commented on #47
It looks like the `npm install` process did not properly complete. Are you using the Pi 2?

[2016-01-27 01:15] evancohen opened #48 "Create mobile configuration agent"
There needs to be a way to better input configuration info into the mirror. Hosting a local Node server with an HTML page that would let you control temp units, time format, service keys, updates, etc. would be a great way to solve that problem.

[2016-01-27 01:21] evancohen commented on #45
I'm a little (maybe overly) concerned about privacy if you are just showing everyone your most recent emails. I'd be more interested in integrating a service like [PushBullet](https://www.pushbullet.com) to "mirror" notifications from your phone.

[2016-01-27 14:45] SenadM commented on #45
PushBuller sounds like a great idea.

[2016-01-27 21:57] SenadM opened #50 "Able to control more groups of Hue"
"Turn on the lights in the living room"
"...bedroom"

Etc.

This functionality doesn't exist yet?

[2016-01-27 22:10] evancohen commented on #50
Good idea :) I'll add this to the todo list!

[2016-01-29 21:29] SenadM opened #51 "Make the screen actually turn off via annyang."
Saving a lot of electricity!

[2016-01-30 00:22] evancohen commented on #51
Best case scenario here we stop outputting video signal out of HDMI. Depending on the monitor this may trigger a power saving "standby" mode, some models even have a configurable "standby" mode - you can never actually turn the monitor without the addition of some hardware.

I haven't been able to test this yet, but theoretically you can do this with
[code]

[2016-01-31 08:03] Hagland opened #52 "Electron error when running npm start"
I get an error when trying to run the npm start command. I've tried looking at other issues, but I still can't figure it out. From what I can tell, the electron-prebuilt install runs fine, but actually starting the mirror gives an error. It gives an error with and without sudo.

**sudo npm install electron-prebuilt**

Downloading electron-v0.36.7-linux-arm.zip
[====================================

[2016-01-31 13:42] Hagland commented on #52
Nevermind. I tried to get it up and running through SSH, where it wouldn't work. Found a spare keyboard and launched it from the pi, now it works.

[2016-01-31 13:42] #52 closed

[2016-02-02 12:22] Keopss commented on #20
Hi! Recent i have bought this Microphone-> http://www.ebay.es/itm/USB-Microphone-for-Raspberry-Pi-A-B-B-2-Model-B-Board-/262246383431?hash=item3d0f1a3f47:g:newAAOSwoydWnHSi

I want to use with Electron to Voice Recognition. But i don´t know how to configure it. I get record a wav file but outside of Electron.

Thank you team!

[2016-02-02 19:58] evancohen commented on #20
Please follow the instructions above to sort this out. There are some variations to this solution (as it depends on which mic you are using) so read through the thread and see what works for you.

[2016-02-02 20:18] Keopss commented on #20
Thank you for your answer. I get this error. I
![img_4743](https://cloud.githubusercontent.com/assets/7506141/12763022/7be08b92-c9f2-11e5-9210-8a204f1b943a.jpeg)
 attach an image

[2016-02-02 20:58] evancohen commented on #20
Hmmmm... This may be unrelated to this issue. Please file a new issue and outline the exact steps you took to reproduce this error.

[2016-02-03 15:24] bastian-w opened #53 "What about GTFS?"
I think i will implement:
https://www.npmjs.com/package/gtfs-realtime-bindings

or does anyone  already did it?

[2016-02-03 17:35] evancohen commented on #53
I don't think anyone is working on this - what GTFS sources are you thinking of adding?

[2016-02-03 19:09] bastian-w commented on #53
First of all my local one (VRS/Cologne, Germany)

[2016-02-03 19:55] Keopss commented on #20
We have installed follow your steps and in:

/usr/share/alsa/alsa.conf ->
`defaults.ctl.card 1
defaults.pcm.card 1`

And i created .asoundrc inside my $HOME/usr/  with this->
`pcm.!default {
        type hw
        card 0
}

ctl.!default {
        type hw
        card 0
}
pcm.default.card 1`

Finally works! Thank you, one quick question if i want to play audio? What i need to do?

[2016-02-03 20:19] goprojojo commented on #47
Hi, I also have problem running npm start. I tried running npm install electron-prebuilt but still no avail. Latest version of node.js and npm are installed.
<img width="477" alt="smart-mirror" src="https://cloud.githubusercontent.com/assets/14301878/12795747/bf469808-cabb-11e5-836c-eada973f6c89.png">

[2016-02-03 20:22] goprojojo opened #54 "Mi-Light support?"
Is it possible to add Mi-light as a cheap replacement of Philips Hue?

[2016-02-04 01:57] evancohen commented on #54
Absolutely, just modify `js/hue-service.js` or use it as a base to integrate with Mi-light (assuming they have an API that you can tap into).

[2016-02-04 01:57] #54 closed

[2016-02-04 01:59] evancohen commented on #53
I don't see why that couldn't work :) Let me know how it goes. If you have any issues along the way feel free to reopen this and ask.

[2016-02-04 01:59] #53 closed

[2016-02-04 02:01] evancohen commented on #47
@goprojojo This might sound silly, but are you running in GUI mode? You can't start the mirror from ssh and you must be running the GUI. This can be started with `startx`.

[2016-02-04 02:14] evancohen commented on #20
@Keopss for new questions please file a new issue or ask on [gitter](https://gitter.im/evancohen/smart-mirror), I want to keep this thread uncluttered so people who have this problem don't have to sift through a bunch of information to get what they need :)

[2016-02-04 17:49] dionzarek opened #56 "Show traffic to work"
Maybe it will be great to see current traffic before go to work or somewhere, like "Show traffic to work" :)

https://developers.google.com/maps/documentation/javascript/examples/layer-traffic

[2016-02-04 19:58] evancohen commented on #56
I've been meaning to implement this for a while. I'm thinking that the mirror should be "smart" about this and always show time to work between 6:00am and 10:00am on Monday - Friday.

[2016-02-04 23:20] SenadM opened #57 "Integrating a streaming service"
Could be Spotify, Apple music etc,

"Play the top ten list"
"Play this song"

Etc.  It could be great.

[2016-02-05 02:36] evancohen commented on #57
I'd rather have the mirror integrate with some kind of speaker _thing_ thank have it play music itself. Something like Sonos or Chromecast maybe?

[2016-02-05 08:43] nandor690 commented on #56
This would be awesome

[2016-02-05 18:56] kurtdb commented on #56
I think this might be the better API from google: https://developers.google.com/maps/documentation/directions/intro#traffic-model.

Bing has a somewhat similar API as this will give you the traffic incidents, but it's not for a route, rather for a region: https://msdn.microsoft.com/en-us/library/hh441726.aspx.

[2016-02-05 20:06] StevenTLBF commented on #57
I thought the same thing. If the board could connect wirelessly through bluetooth to a bluetooth enabled speaker, it could be phenomenal. "Play *insert song name here*" and bam... thoughts? "Now playing *insert song/playlist/album name here" could be displayed somewhere on the mirror.

[2016-02-05 20:11] Shubham0209 opened #58 "mirror on laptop"
My question might appear quite awkward but its because i dont anything about web development.

Thus i want to know, how can i use/run this project on my chrome browser(laptop) in windows without using raspberry.

Why dont you guys make a webpage/webapp like this http://vann.io/graveyard/smrt/# , it would get quite easy for newbies like me.

[2016-02-05 20:25] roelofjan-elsinga commented on #58
You can actually run this on Chrome, you'll just have to install Node on your laptop. You can get it from:  https://nodejs.org/en/ Afterwards you'll need to run "npm install" and when that is finished, you'll need to run "npm start".

[2016-02-05 20:33] evancohen commented on #58
The short answer is that you don't want to run this in Chrome/Chromium, that's how it used to work but I moved to Electron - there are a lot of things that Electron can do that you can't do in Chrome.

@roelofjan-elsinga is right. The code is completely self contained and can run on _pretty much_ any platform, just install Node on your laptop, clone the code, and you'll be off to the races!

[2016-02-05 20:33] #58 closed

[2016-02-05 20:38] evancohen commented on #57
@StevenTLBF totally agreed (although dealing with Bluetooth would be a bit of a pain). If you want to take a stab at it let me know. With a slight modification I could modify the YouTube functionality to also play music and just use the 3.5mm aux out on the pi, but I think some kind of streaming solution would be better.

[2016-02-05 23:11] SenadM commented on #57
@evancohen the youtube idea is also good, but I think you would have a problem playing playlists? I don't want to search a new song every time the last one finish, so playlists are the way to go, I think.

[2016-02-06 02:44] evancohen commented on #57
@SenadM not necessarily... The YouTube API does let you [search for playlists](https://developers.google.com/youtube/v3/docs/playlists/list) and the iFrame in which the YouTube video is embedded fires a `onPlayerStateChange` event so you could queue up the next video once one is finished. This is all in theory of course... But if that works you could have "play next track" and/or "skip track" comm

[2016-02-06 13:34] SenadM commented on #57
Well if it is possible to search for playlists also, then Youtube would be a great start as you already did implement it. And later, maybe other developers could add other alternatives.

[2016-02-06 19:29] Shubham0209 opened #59 "Face Detection!"
Wouldn't it be nice that instead of showing a single comment all the time, mirror may show different comments and greet us based on the detected face.

Can you suggest me any method to so.

Moreover i would also like to "HOW TO USE PUSHBULLET API". Basically being a newbie i don't know how and where to add these api code.

please can you tell me about this in detail.

THANKS!!!

[2016-02-07 00:21] evancohen commented on #59
I've experimented with face detection in the past, but I haven't pushed it out publicly because there are a number of issues with it. As for PushBullet I haven't completed this integration yet. I'm experimenting with Android devices this week and will probably have PushBullet done in the next couple weeks.

[2016-02-07 00:23] evancohen commented on #47
Closing this issue as I can only guess these issues have been resolved.

[2016-02-07 00:23] #47 closed

[2016-02-07 01:04] andrewda commented on #59
@evancohen You could possibly make a branch with the face detection code implemented. I would love to take a look and see what I can do about contributing!

[2016-02-07 14:17] evancohen commented on #59
I'll clean up what I have and do that :)

[2016-02-07 19:00] Shubham0209 commented on #23
@blackshroud reminder function in your program doesn't work. Reminders do get added, but don't get striked off or deleted on command "Item ______ is done".

Please can you explain me how it works..

Moreover your program doesn't appear to have main.js(https://github.com/evancohen/smart-mirror/blob/master/main.js)

Pardon me if the question appears silly.

[2016-02-08 01:18] danielccm opened #60 "Limiting the number of calendar items to be seen"
It might be good (or necessary!) to limit the number of lines to be used by the calendar to just show the current day... or (as Evan suggested on a chat) a few days max...

[2016-02-08 01:30] danielccm opened #61 "Refresh the calendar automatically"
It would be good if the calendar list refreshed itself against the source every so often....

[2016-02-08 01:34] #61 closed

[2016-02-08 07:48] blackshroud commented on #23
hmmm odd......

The adding and removing with the command you mentioned works for me....

And main.js exists within the js folder.

Do you get anything in javascript console when you speak commands for
striking things of the list?

On 8 February 2016 at 05:30, Shubham0209 <notifications@github.com> wrote:

[2016-02-08 07:56] Shubham0209 commented on #23
I am running the code in chrome(laptop), I hope that might not be any issue.

[2016-02-08 08:02] Shubham0209 commented on #23
![untitled](https://cloud.githubusercontent.com/assets/14998135/12880564/2b590e68-ce68-11e5-857d-5191e307e869.jpg)
this is the error which i receive on using the main.js descried by you..

However on using the main.js of that of evan the program works but reminder part doesn't work

[2016-02-08 08:07] kurtdb commented on #60
I would make it configurable so that the user can select which option he wants: either see them all or just see them for the coming number of days.

For me for example, there is no use in limiting the number of items.

[2016-02-08 08:08] kurtdb commented on #59
What framework did you use? I've been reading up on this and it seems like OpenCV is the framework to use for this?

[2016-02-08 08:27] Shubham0209 commented on #23
If I am not wrong the command to strike off the reminder is "Item ______ is done."?.

And on using the main.js of evan on on executing the command "Item ______ is done.", I get the following error.

Uncaught TypeError: Cannot set property 'completed' of undefined - controller.js:58.

[2016-02-08 11:43] teemuha opened #62 "Set weather units to auto for international support"
Shortcut for having full internationalization support for weather units is just to add units=auto GET parameter to forecast.io API call in weather-service.js.  It then selects the relevant units automatically, based on geographic location.

[2016-02-08 12:01] kurtdb commented on #23
Keep in mind that this functionality is still incomplete, so chances are very realistic it won't work. (as you have proven)

Afaik no-one has picked up on implementing this functionality yet, so feel free to implement it and submit a pull request. Maybe you can add an external service to store the tasks? (wunderlist for example is a known service for sharing tasks between devices)

[2016-02-08 13:13] danielccm opened #63 "2 or more users"
Would be cool to have 2 or more users share the mirror but display different data from different calendars.... Any idea how to implement it?

[2016-02-08 13:18] danielccm opened #64 "Idea: having the screen wake up/sleep based on ultrasonic sensor"
I've got a SR04 ultrasonic sensor.. I could try the code if someone does it....

The idea would be, have the screen off except if it senses someone in front?

[2016-02-08 18:01] Shubham0209 commented on #56
@kurtdb Does the traffic.js or "show traffic" command as defined in your repository works fine?

[2016-02-08 18:22] kurtdb commented on #63
There is currently support for adding multiple calendars. It will take all the calendars into consideration and show the next 10 events.

[2016-02-08 18:26] kurtdb commented on #64
It should be possible, but it would be more of a OS-hack than a NodeJS hack, I believe.

Also make sure you test if it works through the mirror glass.

[2016-02-08 18:28] kurtdb commented on #56
It's a really old version, made specifically for my situation (being Belgium). It's not a portable solution.

In the future I think someone (maybe me) will implement the API calls for the google or microsoft service. That might be a better fit.

[2016-02-08 20:11] evancohen commented on #62
If you send a pull request I'll merge it right away, otherwise it'll be a day or two before it gets checked in with another feature.

[2016-02-08 21:57] andrewda commented on #62
#65 will add support for this!

[2016-02-08 22:23] blackshroud commented on #23
sounds to me like you are using a mix of both mine and evans.

There have been changes made to the main.js and the controller.js of mine
that are likely incompatible.

The list and remove function does work, and require the files on my repo.

What do you mean by "using the main.js"?

The entire app should be run in browser, but as mentioned, will require a
PHP enable webserver to run it on.

On 8

[2016-02-09 01:24] evancohen commented on #23
@Shubham0209 The mirror code used to run using a simple python hosted HTTPS server - there are a number of issues with this, which is why I moved to Electron.

We no longer officially support the method of running the mirror in Chrome.

Furthermore this project doesn't use jQuery, so I'm not really sure what is going on with that error... The main process that it is referring to isn't `main.js` in

[2016-02-09 01:27] evancohen commented on #64
Since this requires additional hardware to function we may not want to add it. I don't think we want the mirror to be prohibitively expensive or tricky to get working.

That said I think this is a great idea. You should take a crack at it. If it ends up being super simple or optionally can run independently from the mirror then I'd be happy to merge it in.

[2016-02-09 01:29] #62 closed

[2016-02-09 01:32] evancohen commented on #63
As @kurtdb mentioned you can include multiple calendars. There are a few ongoing efforts around voice and facial recognition that could potentially solve this problem. I'm going to close this issue because it will be addressed by #59

[2016-02-09 01:32] #63 closed

[2016-02-09 01:39] evancohen commented on #56
Best API for this is probably Bing Maps. It accepts two locations and returns a property called `travelDurationTraffic` which is a total time for travel including traffic.

Documentation: https://msdn.microsoft.com/en-us/library/gg636957.aspx

[2016-02-09 05:51] Shubham0209 commented on #23
@blackshroud thanks for looking into the query.Now what I can conclude is i need PHP enabled webserver to run your code. But how do i get one? Can you please guide me.

[2016-02-09 05:56] Shubham0209 commented on #56
@evancohen can you please send me link of any particular page or website(or list down the steps here)  from where i can learn how to incorporate api's into your project. I dont have any knowledge about web development and how to handle api's.

[2016-02-09 08:26] danielccm commented on #64
Hey Evan!

For the cost or difficulty, I doubt it'll be too much... it's just a small piece which logic tells me should be attachable to the I/O ports of the raspberry... no further hardware needed...

I'd be happy to "take a crack at it"... The problem I see is that as of right now, I don't know how to code! Last time I coded something was back in the 90's in C++......

If you or someone here cou

[2016-02-09 08:48] evancohen opened #66 "Cordova Microphone and File System Permissions"
Add additional logic to check to see if the current device has microphone and file system permissions on the `cordova` branch

[2016-02-09 10:16] evancohen commented on #56
Well, you're going to need to understand at least some basic programming to do any of that stuff. There are lots of classes that you can take online, [Codecademy](https://www.codecademy.com/) is one of them.

You'll want to take the classes on:
- HTML & CSS
- JavaScript
- APIs
- Git
- AngularJS

There are a few others I would recommend, but that's probably plenty to get you started.

[2016-02-09 11:48] capfirepants commented on #64
@danielccm I'm actually in the process of adding the HC-SR501 to the code somehow... Sadly I'm not all to good with Nodejs/Js myself and it's hasn't arrived yet but i'll give it a shot as soon as it has. Some code for the SR501 already exists for node, so I don't think implementing it should be too hard.
https://www.adafruit.com/products/189

[2016-02-09 12:21] teemuha commented on #62
Thanks @andrewda

[2016-02-09 15:23] Shubham0209 commented on #59
@evancohen how can we integrate webcam to take our picture on command like "click my picture"?

By doing this we can integrate the feature of selfie mirror.

[2016-02-10 01:04] nandor690 commented on #20
anyone else have a problem with losing sound out of the audio jack when mic is working. and when I edit the files the to get the sound to work I lose the mic again?

[2016-02-10 04:10] evancohen commented on #66
Just for documentation purposes... The Kindel Fire HD does not come with a speech recognition engine, because of this you must sideload the Google Play store and then download the Google app (which comes with Google Voice Search).

[2016-02-10 08:58] blackshroud commented on #23
I have the whole thing running of a simple XAMPP install. Check it out ;)

https://www.apachefriends.org/index.html

On 9 February 2016 at 16:21, Shubham0209 <notifications@github.com> wrote:

[2016-02-10 14:18] nandor690 opened #67 "Lose audio from 3.5mm jack when edited for usb mic"
When I edit the files as suggested in issue #20 I lose audio from the 3.5mm jack. I have try all combinations of editing both files but I can't get them to work at the same time. Forcing it through raspi-config does not help either. Iv also tried mixer set numid=3 1 in Terminal. But both won't work at the same time.

[2016-02-10 19:48] StevenTLBF opened #68 "Enhanced UI"
Is it possible to enhance the UI to resemble the one depicted here: https://medium.com/@maxbraun/my-bathroom-mirror-is-smarter-than-yours-94b21c6671ba#.ikiwookp3

Also how hard is it to add those icons for weather? (The cloud, Sun covered by the cloud, etc).. I just love the font and overall UI of the mirror linked above.

[2016-02-10 21:04] andrewda commented on #68
It wouldn't be hard to add the icons - a switch statement for the whether should suffice.

[2016-02-10 22:02] yaydogan commented on #68
I am adding weather icons in my repository based on evancohen's smart-mirror. I will commit within the next few days. I can let you know and you can check it out.

[2016-02-11 03:54] Shubham0209 commented on #68
@yaydogan please can you message and share the link of final working repository here, once you are done.

[2016-02-11 04:17] evancohen commented on #68
@yaydogan just send a pull request :)

[2016-02-11 04:28] StevenTLBF commented on #68
@andrewda I do apologize; I am new to java script. Could you describe step by step how I would implement my own icons?

[2016-02-11 04:39] Shubham0209 commented on #23
@blackshroud could you please suggest me the changes which are are required to be made so that i can integrate your code with that of evan i.e it can be run using electron with npm start command.

[2016-02-11 04:46] andrewda commented on #68
@StevenTLBF When `weather-service.js` returns the current weather, you can check if it's, say, `Partly Cloudy` or `Sunny`, and assign the respective icon depending on the weather. I've never really done anything with the forecast.io API, but I'm sure they have documentation you can check out.

[2016-02-11 11:03] yaydogan commented on #68
@Shubham0209 Sure I will share the link.

@evancohen I am making some other changes like font type, size, time display etc... to customize the display to my liking. Let me create a new branch which has just the weather icons and send a pull request. You shall review the code before merging though. I am very new to JS - learning with this project :)

[2016-02-11 14:03] yaydogan commented on #68
I committed weather icon changes to my repository. If you are interested in trying, this is the link:

https://github.com/yaydogan/smart-mirror-1.git

This is based on evancohen's master branch.

@evancohen  When you get a chance, please take a quick look and let me know your comments. I can send a pull request if you want to incorporate into your master branch.

[2016-02-11 14:41] Shubham0209 commented on #68
Awesome work @yaydogan .. Now the UI looks really more pleasing and nice.

[2016-02-11 19:59] evancohen commented on #68
@yaydogan I'll totally do that :) I'm on vacation this weekend but I'll take a look at it early next week.

[2016-02-11 22:45] danielccm opened #71 "Configurable Mirror Localization"
Have the mirror somehow either ask in what language you'd like it to be or just figure it out automatically via the coordinates.

[2016-02-12 01:03] evancohen commented on #68
@yaydogan I had the chance to take a look at this today. Awesome job. Please create a pull request and I'll merge it in :+1:

[2016-02-12 14:28] #68 closed

[2016-02-12 20:58] yaydogan opened #76 "Calendar events in the past are still displayed"
I have a calendar event between 1:00pm-2:00pm today. It is 4:00pm and it is still showing. I couldn't figure out why it thinks this event is in the future and still displays it? Anyone knows the fix for this?

[2016-02-12 21:29] yaydogan commented on #76
I think I found the issue. I am testing a fix and will see if it addresses the problem.

[2016-02-13 00:03] evancohen commented on #76
This is because we display all of the events for the day. There is no logic in place to hide events past their end time. Seems like an easy fix though. Send a PR when you are ready :)

[2016-02-13 01:24] yaydogan commented on #76
I typically have lots of meetings in the first half of the day. That is why I was thinking about hiding older events in the day. But now thinking about it, I will use this with family calendar to remind kids' games schedules, appointments, etc... It is better to see all events for the day. I will close this.

[2016-02-13 01:24] #76 closed

[2016-02-13 18:49] CsStorms opened #77 "Logitech Harmony Integration?"
I'm new to all this.  Wondering if it's possible to integrate with the Logitech Harmony system like it does with the Hue.

For instance.  I have a activity that is "Watch Cable" which I can select on my phone or on the Harmony remote.  Would it be possible to integrate that into the mirror where I can say "Watch Cable" and it turns on whatever the Harmony has set for that activity?  I have no idea

[2016-02-13 22:31] evancohen commented on #77
Absolutely possible, but I don't have access to their API. I [requested access](https://www.myharmony.com/en-us/harmony-api) a little over 4 months ago and still haven't gotten it. I've done some experimental integration with the IFTTT maker channel and it looks like there is a [harmony channel](https://ifttt.com/harmony), so that's probably your best bet.

You'll want to write an ifttt service (s

[2016-02-13 22:31] #77 closed

[2016-02-14 14:11] beto2909 opened #78 "Adding voice feedback; also audio problems"
So it ocurred to me to add short voice feedback. I found responsivevoice.js and it's easy to use. I am having problems with my audio in my R-Pi. I have the pi connected to a tv and online says to configure the /boot/config.txt file and add/uncomment a line to force the audio output to the hdmi but it's not doing anything. I've looked everywhere and tried everything and I can't get my audio to work

[2016-02-14 15:14] danielccm commented on #64
I've got a SR04 sensor laying around at home.. I could test it out for you!

[2016-02-14 17:26] 3y3c0ugh commented on #78
I recently switched to the search branch to test the functions and see if my mic setup would still work correctly. I got everything working, but just like you I'm having an issue setting up the sound. I went into /boot/config.txt and uncommented the section regarding pushing through HDMI, I believe it was hdmi_device=2 or something. However upon reboot I still got not sound coming through the TV w

[2016-02-14 22:34] danielccm commented on #45
I found a free alternative to PB.... http://www.getpushline.com/ ... they will even have an API...

[2016-02-14 22:58] beto2909 commented on #78
I sutil need to test the youtube search feature, I just downloaded the repository again. However I already tried hdmi_drive=2 and basically followed the audio config instructions in the r-pi page: https://www.raspberrypi.org/documentation/configuration/audio-config.md

I also saw somewhere that they solved it by adding the /.asoundrc file. I'm just wondering if that has something to do with it sin

[2016-02-15 01:51] nojkepop opened #81 "Available spelled wrong in "Available Commands""
Index.html line 79.

        <div class="commands animate-grow" ng-show="focus == 'commands'">
          <h2>Availalble Commands</h2>
          <dl>
            <dt>What can I say?</dt>
            <dd>Shows a list of voice commands available to you.</dd>

[2016-02-15 08:44] beto2909 commented on #78
This is what i get when i run the mirror. I know the problem is not the mirror but im sure is something that has to do with ALSA.

![12752010_10207572983154282_214465800_o](https://cloud.githubusercontent.com/assets/17233978/13043456/14cfdf04-d37d-11e5-95a7-011ab2026bb2.jpg)

[2016-02-15 10:31] kurtdb commented on #67
I wouldn't be surprised if this was a raspberry pi hardware issue. If I'm not mistaken the audio and USB tracks on the board are linked. That's also the reason why audio is pretty bad if you use one or more USB devices coupled to the board.

[2016-02-15 20:00] evancohen commented on #81
Lol. I'm so dyslexic. Feel free to send a PR, otherwise I'll fix this in the next update.

[2016-02-15 20:02] evancohen commented on #45
@danielccm good suggestion, I'll check it out.

[2016-02-15 20:06] mkerfoot opened #82 "xkcd comic strip"
The below links should help..

https://xkcd.com/json.html
http://forums.xkcd.com/viewtopic.php?f=11&t=3095

I guess I was thinking the bottom left corner of the page.

[2016-02-15 20:11] nojkepop commented on #81
All good man, I made one of these mirror for valentines day and it was the first thing my girlfriend noticed...I probably never would have otherwise.

[2016-02-15 22:21] evancohen commented on #81
Fixed in master at  93066d4

[2016-02-15 22:21] #81 closed

[2016-02-15 22:44] evancohen commented on #78
I considered adding the capability for the mirror to "talk back" to you for a while. Speech is a relatively new interface for technology, and one of the biggest problems is feedback for the user. It's _my opinion_ that the best way to do this for the mirror is to provide that feedback in the form of a UI change (ie: the map pops up, a reminder is added, etc) and anything more than that is actually

[2016-02-15 22:44] #78 closed

[2016-02-15 22:58] SenadM commented on #78
The voice feedback could be great with the wolfram API

[2016-02-16 14:34] kurtdb commented on #56
Isn't the bing API going to be a bit heavy weight? If you look at the response, it returns the complete directions from one place to another. 99% of all the returned data will just be garbage and we will ignore it.

[2016-02-16 20:05] mrtruebeliever commented on #51
I've tested this and it works. My monitor is going into power saving mode.

[2016-02-16 21:26] evancohen commented on #56
@kurtdb Yup, totally wasted information - I agree. On the other hand this API is free and provides the necessary information. Having to fetch a couple of extra KB of data isn't really that big of a deal.

[2016-02-17 00:33] dano25 commented on #67
I have also tried everything in issue #20. I can get everything working only if I do sudo npm start. Not sure if this is a big deal to have to sudo or not.... i'm a noob :/

[2016-02-17 00:47] dardub commented on #56
Would you put the home and work address information into the config file?

[2016-02-17 01:28] beto2909 commented on #67
Last night I was doing some testing and just that pcm.default.card 1 in the .asoundrc file is making my audio not work when that line is there and when is not my mic goes out but my sound works.

Im not sure if it's possible but this is a guide for general Linux system troubleshooting .
https://wiki.archlinux.org/index.php/Advanced_Linux_Sound_Architecture/Troubleshooting#Microphone

I still haven

[2016-02-17 01:37] kryptics opened #86 "Sports Scores pulled from the Yahoo API"
Evan suggested looking at the weather js - i guess the idea would be to show the current sports scores like in the yahoo sports site maybe across the bottom of the screen, and they would up date automatically. You could just enter the names of sports teams into the config and it would show you scores. (it doesn't have to be yahoo, but at the moment i think thats the only free one, maybe google has

[2016-02-17 01:44] evancohen commented on #56
@dardub yeah, you would. As well as mode of transportation (car, bike, bus, walk).

[2016-02-17 04:21] newtux commented on #82
I added #87 which seems to do the trick. If there's a cleaner way of doing it, I'm all ears.

[2016-02-17 05:22] #82 closed

[2016-02-17 05:39] dardub commented on #86
I took a look at the yahoo api. But it's for fantasy league and I didn't see any sports scores in the documentation. I looked around for other options but I could not find any free sports stats, and they were actually kind of expensive. It looked like some people are just scraping websites to get the data. Anyway, if anyone knows any free apis for sports stats, please let me know!

[2016-02-17 07:41] nandor690 commented on #67
Kurtdb, I was for sure thinking it was something to do with the hardware and how it was connected. Kinda bummed. But I guess I don't really need sound on a mirror......Yet. Lol.
I'll take a look at the other things mentioned in the comments

[2016-02-17 07:42] nandor690 commented on #67
Thanks guys

[2016-02-17 12:04] kurtdb commented on #56
The basic version of the traffic-service is currently ready at https://github.com/kurtdb/smart-mirror/tree/traffic.

However it does not display anything yet. It just sets the $scope.trafficInformation to the current time in the following form: 45mins (15mins extra).

To be able to define the mode of transportation, I will have to take another look at the Bing Maps API. (might be able to do that t

[2016-02-17 14:23] kryptics commented on #86
@dardub @evancohen will this work??? https://github.com/metral/scores minus the led of course - but can this be implemented into the code some how?

[2016-02-17 14:33] yaydogan opened #91 "master branch is broken"
Currently the master branch doesn't work. The issue is the clearResults() function is removed but there are few references to it in controller.js.  I removed the references to make it work but not sure why the function was removed in the first place.

[2016-02-17 15:14] boss345 commented on #67
I'm struggling with this as well

[2016-02-17 17:52] dardub commented on #86
@kryptics There is a url in there for nbc sports api thought it looks like that service isn't available anymore.. That project hasn't had a commit in 2 years.

[2016-02-17 18:30] kryptics commented on #86
@dardub ah chucks - what to the drawing board! thanks!

[2016-02-17 18:39] kryptics commented on #86
someone just sent me this... what the hell does that mean? lol

$url = 'http://scores.nbcsports.msnbc.com/ticker/data/gamesMSNBC.js.asp?sport=MLB&period=20130413';

$data = file_get_contents($url);
$records = json_decode($data);

$xmlDocument = implode("\n", $records->games);
$xmlObjects = simplexml_load_string('<?xml version=\'1.0\'?> <document>'. $xmlDocument . '</document>');

foreach($xmlObjec

[2016-02-17 19:17] kurtdb commented on #86
What it means is that they are scraping the results from the NBC-site. You should first read the disclaimer of their site to see if that's legal at all.

Next to that, the code is PHP, so we would have to convert it to Javascript. Looks like it's just a lot of XML parsing, but we won't know until we try.

[2016-02-17 19:32] kryptics commented on #86
I see, i figure this is for personal use anyways... no?

[2016-02-17 19:33] yaydogan opened #93 "Calendar events are concatenated every time it is fetched"
This causes calendar events to be displayed multiple times. @kurtdb knows about the issue and has the fix.

[2016-02-17 19:36] kurtdb commented on #86
The problem is that the software is open-source. There are numerous cases where companies send cease and desist letters to github because someone tried to integrate their API without respecting the disclaimer or the policy. I'ld rather keep a defensive policy and first ask before doing something.

It seems that other people also tried to achieve this and the same question was raised: https://gist.

[2016-02-17 19:38] kryptics commented on #86
ah good point

[2016-02-17 20:23] #91 closed

[2016-02-17 20:25] evancohen commented on #93
Merged into `dev`. I'll close this out once it's in master.

[2016-02-17 20:44] danielccm opened #94 "home screen too cluttered when there are many calendar entries..."
![mirror](https://cloud.githubusercontent.com/assets/9162711/13123980/3cead324-d5bf-11e5-9ab8-70f9ac5f97bb.png)

[2016-02-17 20:50] SenadM commented on #94
Move the compliment down, and make it dissappear when the list of commands comes up?

[2016-02-17 22:17] nojkepop commented on #20
For those that are having audio issues. I'm not sure if this is a universal fix but this is what worked for me.

I ended up editing the /usr/share/alsa/alsa.conf file.
Basically run arecord --list-devices and find the card #/device #. For me I simply needed the card#.

In the /usr/share/alsa/alsa.conf file I then changed these lines
defaults.ctl.card #
defaults.cm.card #
to my corresponding card n

[2016-02-17 22:17] evancohen commented on #94
Looks like there needs to be more space between 'Wednesday' and the text too.

[2016-02-17 22:40] evancohen commented on #20
Awesome information @nojkepop thanks a ton!

[2016-02-17 22:44] beto2909 commented on #20
Does your mic still work?

[2016-02-17 22:48] nojkepop commented on #20
Yes I have a USB microphone and USB speakers connected, these are two separate devices.  I can Airplay audio to my Raspberry Pi using shairport-sync and still use voice commands on the Mirror.

[2016-02-18 00:49] beto2909 commented on #20
But the AirPlay is not running within the mirror? Is it just another application running in the R-Pi? I have my regular audio working and the mic works if I run "sudo npm start" , however if I try to play a regular audio file with JavaScript it won't play it. So I think is something that has to do with nodejs. I found this info about audio and npm, not sure if it will work.will test it when I get

[2016-02-18 00:58] nojkepop commented on #20
You might be right, what you're trying to do is very different than my setup.  I basically wanted the smart mirror to have access to the microphone while still being able to use my usb connected speakers.  This setup wasn't possible with the .asroundrc setup.

I can try you're setup and see what happens but I feel like I read somewhere that the USB and headphone port are on the same bus(?) which p

[2016-02-18 01:07] beto2909 commented on #20
yea the main reason i want to do it is because i am using a tv and i already have speakers in the tv and i dont want the speakers just to sit there, but it just doesn't make sense for me because the audio is going out in the hdmi but I might be wrong.

[2016-02-18 01:14] nojkepop commented on #20
Have you tried anything like this which forces the audio out form HDMI to the 1.8inch jack?
https://www.raspberrypi.org/forums/viewtopic.php?f=91&t=40872

Maybe hop into https://gitter.im/evancohen/smart-mirror so we don't turn this into a giant thread.  I can try to help you some more on there.

[2016-02-18 04:17] MikeMuratore commented on #86
https://developer.fantasydata.com/?developer-portal
I looked around for a second and found this. it allows a 1000 calls per month for free

[2016-02-18 05:40] dardub commented on #60
I have this done, but it's based on the new config model. So I'll have to wait until that is merged before the PR.

[2016-02-18 05:58] evancohen commented on #86
That would only let you refresh the data, on average, every 45 min - not enough to really keep up with any games, just to know the results...

[2016-02-18 12:36] kurtdb commented on #56
Ok, the current version in the branch is displaying the traffic information under the weather on the screen.

What I'm looking at next (before I create a pull request) is support public transportation and walking.

[2016-02-18 16:02] kurtdb commented on #93
I'm going also going to use this issue to base a unit test on.

[2016-02-18 16:13] kurtdb commented on #56
Public transit and walking is integrated. The way it is displayed and the way the public transit api works is under consideration, but driving and walking should work. (although walking gives an extra, which is impossible)

[2016-02-18 21:05] nandor690 commented on #56
Very cool man. Thanks for the work. I'll be trying this out later tonight. For now......yard work :-(

[2016-02-18 22:20] danielccm opened #96 "IDEA: Integrate home automation systems, for example Smartthings"
It would be useful for, for example, those lights that aren't Hue, or to switch the coffee maker on from the bathroom...

Or open the door from the basement, or whatever needs might show up...

[2016-02-18 22:28] espilioto commented on #96
You can do all of those things with shell and/or python scripts.
Just add the voice command and the script you want to execute.

[2016-02-18 23:29] evancohen commented on #56
Kurt, you think you are ready to send a PR? I haven't had the chance to try it yet, but it sounds ready!

[2016-02-19 06:25] kurtdb commented on #56
Not quite ready yet: going to finish the walking part today, make sure the service doesn't return the message (should be built on the front-end) and show a message if no public transit is available between the locations. (right now bing returns a 404, which makes very much sense)

[2016-02-19 08:56] evancohen commented on #56
I merged in the work that you did and changed a few things in #99. Let me know what you think of it, I'd like to merge it in and close this issue out :)

[2016-02-19 09:45] #56 closed

[2016-02-19 09:45] #60 closed

[2016-02-19 09:45] #94 closed

[2016-02-19 09:46] #93 closed

[2016-02-19 18:38] davidgaldon opened #102 "Integrate Rss Feed"
I think it would be very cool and useful to integrate a rss feed, to be able to load the news from NYT for example.
I have found this and I think it would be very clean and nice to ingrate it, but unfortunately my knowledge about angular is not so good to figure it out.

https://github.com/siddii/angular-feeds

Here there is an example of it working:
http://siddii.github.io/angular-feeds/app/

We

[2016-02-19 21:20] kryptics commented on #86
Still digging... might this help us?
http://sportsdatabase.com/api

[2016-02-19 23:14] nojkepop opened #103 """ missing from calendar section of config.js"
This section needs "" inside of the [] otherwise the calendar starts to a black screen with a cursor.

    // Calendar (An array of iCals)
    calendar: {
      icals : [],
      maxResults: 9, // Number of calender events to display (Defaults is 9)
      maxDays: 365 // Number of days to display (Default is one year)

[2016-02-19 23:49] evancohen commented on #103
This is an issue with the calendar-service, not with the config. It needs to have a check to see if the array is empty.

[2016-02-20 00:13] nojkepop commented on #103
The problem is though if you put in your calendar link without the "" the mirror loads to a black screen with a cursor.

[2016-02-20 00:20] dardub commented on #103
I can look at this tomorrow, unfortunately that's most likely the soonest I can do it.

[2016-02-20 00:44] evancohen commented on #103
Originally I thought that having this empty array was causing the mirror to break, but I looked at this and there is nothing wrong with the way this works. That's just the syntax for an array of strings in JavaScript - there's no other way to do it.

There is also an [explicit example](https://github.com/evancohen/smart-mirror/blob/master/README.md#configuring-the-mirror) of this in the README (wh

[2016-02-20 00:44] #103 closed

[2016-02-21 19:34] newtux opened #106 "Idea: News Service"
Planning on creating a news service to show top stories on the mirror, at first just pulling stories from: http://developer.nytimes.com/docs/top_stories_api/.

[2016-02-21 19:36] newtux opened #107 "Idea: Send X to phone"
Thinking about creating a service that allows you to send general things to your phone from your mirror (say the map you were looking at, one of the top news stories, calendar entries, etc.).

https://pushover.net/ seems like the most straightfoward way to acomplish this.

[2016-02-21 19:45] kurtdb commented on #106
Wouldn't integrating the RSS-feed be a more flexible solution?

[2016-02-21 19:52] evancohen commented on #106
Agreed with @kurtdb on this one.what would this give you that an RSS feed would not?

[2016-02-21 19:53] evancohen commented on #107
That or Pushbullet which we are already thinking about integrating.

[2016-02-21 19:55] newtux commented on #106
Ah fair point, didn't realize there was already an RSS branch.

[2016-02-21 19:55] #106 closed

[2016-02-21 21:34] greghesp commented on #64
You could use an IR sensor and use onoff to interact with the ports:
https://www.npmjs.com/package/onoff

[2016-02-22 06:59] zenyagami opened #108 "Caching last data"
Optional to cache data, so if there is no internet connection maybe can display the last available data displayed until internet connection is fixed.

[2016-02-22 09:09] kurtdb commented on #108
We could look into storing all the returned JSON in the localstorage and fetch all the data from there. I don't know if this will be a high priority atm, but we can look into it.

[2016-02-22 09:10] kurtdb commented on #86
It looks like they send back historic data?

[2016-02-22 10:09] kurtdb commented on #71
I think this might be harder to implement as you would expect.

For example: say your mirror is in Brussels. There are a lot of different nationalities living there, next to the fact that in Brussels there are both Dutch speaking and French speaking people. (and not all of them are bilingual) So how would we determine which language the person will speak?

[2016-02-22 10:20] flyingzombies commented on #71
Well..just ask them like the big os's do.
Maybe someone wants an english mirror although he lives in germany or france.

[2016-02-22 10:30] kurtdb commented on #71
What you are suggesting is that we create a separate file containing the translations for all the commands? Feel free to take a crack at it.

What I've been looking into is translation for the dates and days of the week through angular and momentjs. It could be an added bonus if the other stuff was also translated.

[2016-02-22 12:16] flyingzombies commented on #71
i guess in this early sate of development it would be enough to offer the key things like date, time or weather in different languages.

the language could be set via a config file while you set up the mirror.

specific commands could either be translated by experienced users themselves, also written in a kind of config file or added later.
at the moment I guess it's enough to let them in english,

[2016-02-22 12:46] kurtdb opened #109 "Start the mirror on startup"
We get more and more questions from people who want to run the mirror on startup. There have been a few people that have already done this, so it might be a good idea to document this in the readme.

Maybe someone can pick this up?

[2016-02-22 13:44] Shubham0209 commented on #109
@kurtdb i had saved the following comments from chat..

If anyone wants the mirror to autostart you can create the following script in the root of your users home :
/home/pi/smart-start.sh

!/bin/bash

export DISPLAY=:0

export XAUTHORITY=/home/pi/.Xauthority

cd /home/pi/smart-mirror && npm start

Afterwards, add this line to the bottom of ~/.config/lxsession/LXDE-pi/autostart

/home/pi/smart-sta

[2016-02-22 13:45] Shubham0209 commented on #109
moreover this might help
https://github.com/evancohen/smart-mirror/pull/79/files#diff-04c6e90faac2675aa89e2176d2eec7d8R84

[2016-02-22 13:52] kurtdb commented on #109
Thanks a ton for the comment. You're a lifesaver. :)

[2016-02-22 14:00] Shubham0209 commented on #109
Pleasure absloutely mine.. :smile:

[2016-02-22 15:42] ctutu commented on #71
I think a good way will to set language in config file and translation in specific langue file with commande, day like kurtdb said.. The standard must be in English and for other language maybe some contributor could translate in own mother tongue.

Whats do you think ?

[2016-02-22 16:06] danielccm commented on #71
I volunteer to do it in Spanish! what files do I have to modify?

[2016-02-22 16:09] kurtdb commented on #71
None right now as no system is set up yet.

[2016-02-22 16:10] danielccm commented on #71
Ok! I'll keep watching this space then...

[2016-02-22 19:12] evancohen commented on #71
This already exists as a config value, it's just not used anywhere. I'll find some time this week to add localized weather and take a look at what implementing dates would look like.

[2016-02-22 19:46] flyingzombies commented on #71
i could translate to german

2016-02-22 20:12 GMT+01:00 Evan Cohen <notifications@github.com>:

[2016-02-22 21:11] capfirepants commented on #109
HOW TO START THE SMART-MIRROR ON BOOT.
In /home/pi/, create the file called smart-start.sh with the following content:

#!/bin/bash
export DISPLAY=:0
export XAUTHORITY=/home/pi/.Xauthority
cd /home/pi/smart-mirror && npm start

Make the file owned by the user pi
chown pi:pi /home/pi/smart-start.sh
And make it executable
chmod +x /home/pi/smart-start.sh
Then, edit the file /home/pi/.config/lxsessio

[2016-02-23 17:07] dano25 opened #110 "Enhanced weather ideas"
Currently, the mirror just shows the forecast for the week, along with the "Next 7 Days" paragraph. Would it be possible to include the weather for today as well? Something as small as showing the "Next 24 Hours" paragraph on the home screen, or something as complex as a voice command for "What's the weather like today?" which would show the forecast every hour for the next 24 hours.

Also, would

[2016-02-23 22:09] jaaplallie opened #111 "Deezer implementation"
i searched for a good music streaming service to implement (spotify will not work with its current API)
i tried deezer and i think it would work (they have a javascript SDK) but i failed...
Maybe someone with more experience with node/electron could have a crack at it?
The problem that i walked into was that i was unable to get the deezer invisible player loaded
(https://developers.deezer.com/sdk/

[2016-02-23 22:37] evancohen commented on #111
I'm already implementing YouTube on the `search` branch. There are some audio problems on the Pi that need solving like #67 before I'm willing to merge it in.

I'd like to avoid using flash if at all possible, it's a resource hog and on the Pi it has a somewhat noticeable effect on performance.

Running everything on your windows PC shouldn't change anything (one of the beauties of Electron being

[2016-02-23 22:44] jaaplallie commented on #111
There aren't a lot of music services that open up their api, it's a bummer!
The moment i saw that deezer used that ye olde flash i was disappointed too :(
I know that it should not be a problem that i run everything on windows but the use of the pepper flash plugin in electron on windows could be the problem (was just some sideinfo that could be of influence)
Hope the holy YT is going to work out.

[2016-02-23 22:48] #111 closed

[2016-02-24 05:40] 3y3c0ugh commented on #67
I switched to the search branch, and plugged in my speakers to see I got this issue and I did. The only changes I made were in alsa.conf where I made ```defaults.pcm.card 1```.
I'm not sure if there is a conflicting issue with having both ALSA and PulseAudio, but I installed pulse, and after a reboot, sound works find throughout desktop and mirror. All I did was run
```sudo apt-get install PulseAu

[2016-02-24 13:05] nandor690 commented on #67
Awesome. I'll try this when I get home. It snowed pretty good here and modot sucks, so it'll probably take awhile. I'll post my results then

[2016-02-24 18:57] evancohen commented on #67
I've been investigating PulseAudio as a solution to all of the microphone problems people have been having. While I haven't verified that it works with everything it's a pretty good bet that it's what we'll use going forward.

[2016-02-25 03:20] StevenTLBF opened #113 "Youtube and Soundcloud"
I have code here for the use of Youtube and Soundcloud with commands such as "Play music", "Stop music", "Play Youtube", etc. Can someone please remove all the korean and implement this into Evan's code? It is based off of Evan's code, now we just have to remove the korean. https://github.com/mojosoeun/smart-mirror-ko

[2016-02-25 03:23] StevenTLBF commented on #113
https://github.com/mojosoeun/smart-mirror-ko

[2016-02-25 07:07] Shubham0209 commented on #113
@StevenTLBF i think that those functionalities are still incomplete even in the korean version.

[2016-02-25 19:00] evancohen commented on #113
This is code that was copied from the `search` branch, which is still in progress. Also, the SoundCloud looks like it only plays one song - which I'm guessing is not what you want ;)

[2016-02-25 20:00] StevenTLBF commented on #113
My apologies. As you can see, I'm not very experienced with Javascript.

[2016-02-25 20:35] evancohen commented on #113
No worries, I'm going to close out this issue though as there are a couple others tracking YouTube stuff. Until I can fix audio playback issues it'll stay on the `search` branch.

[2016-02-25 21:09] StevenTLBF commented on #67
http://plugable.com/products/usb-audio would this help the issue?

[2016-02-25 21:28] mrtruebeliever opened #114 "Annyang: Stop and start listening to commands"
I added a command Stop Listening, within it I tried to remove all annyang commands and added a new one "Start Listening"
[code]
But I'm not getting this to work, no commands are removed and "Start listening" is not added. Anybody got an idea? I can add the "Start listening" command with
[code]
But that adds back al the other commands too.

[2016-02-25 22:37] beto2909 commented on #114
I'm working in a better structure to add other language support. In order to change the language I had to call annyang.abort(); then I set my language, then I add the new commands and I call annyang.start();

[2016-02-26 00:11] evancohen commented on #114
@beto2909 you should be setting the language in annyang-service.js as the first line of `.start()` https://github.com/evancohen/smart-mirror/blob/master/js/annyang-service.js#L26

[2016-02-26 00:16] evancohen commented on #67
It would introduce the same issue. Electron and the ALSA configuration are not playing well together.

[2016-02-26 00:25] beto2909 commented on #114
Yea I know but I want to switch between languages. If I just create the command and call the .setLanguage() it does change it but it takes a while to start listening in the target language.

[2016-02-26 01:32] 3y3c0ugh commented on #67
So i did more testing and i still get issues..
If i force audio to 3.5 and then install pulse, sound works fine outside mirror and with mirror. However, once pulse is installed, and I want to switch to say HDMI sound from my TV, i get nothing inside or outside the mirror. BUT if I ```sudo apt-get autoremove pulseaudio``` then the sound fixes, forces HDMI sounds, and works outside the mirror but no

[2016-02-26 02:26] evancohen commented on #114
You watn to switch between lenguages on the fly? Toggled by what, a voice command?

You might want to check to see how Annyang implement's it's lenguages switching - it might be a simple fix.

[2016-02-26 03:17] evancohen commented on #67
You might want to check out this response on GitHub about getting PulseAudio working on the pi with analog output: http://raspberrypi.stackexchange.com/questions/639/how-to-get-pulseaudio-running#answer-4022

[2016-02-26 04:13] beto2909 commented on #114
Yea I can show later what I did, in the Api documentation just says to call .setLanguage(language) but when I call it in a function in the annyang service it does the language change but it starts listening in the target language after the "end callback" is called.

And I just noticed you moved that part inside the service. It's not in the controller.js file anymore

[2016-02-26 06:24] evancohen commented on #67
Ok folks, I spent some time on it this evening and got it working. Revert all changes you've made to ALSA conf files (this will be way easier than messing around with those, I promise).
Then run:

[code]

That's it. No fancy configuration - nothing to reset after you reboot, everything should just work.

[2016-02-26 06:25] #67 closed

[2016-02-26 06:30] evancohen commented on #20
This is the definitive answer to all of your problems (hopefully). There is no need to mess around with ALSA conf files. All you have to do is run:

[code]
Then, optionally, if you want to force sound out of the headphone jack:
[code]
Or, to get sound over HDMI:
[code]

[2016-02-26 10:07] beto2909 commented on #67
This works great. You should add this in the troubleshooting section.

[2016-02-26 13:28] secdude commented on #20
Seems like you dug yourself through tons of *nix support forums in the past days...your effort is appreciated! Thanks evan. Will do a fresh jessie install on the weekend and maybe test this! If this proves stable it should enable merge of the search branch to dev-->master?

[2016-02-26 17:06] 3y3c0ugh commented on #20
There shouldn't be a specific time I install pulse is there? Like after node and the mirror are already installed? I did a fresh run of jessie, used those commands for HDMI, installed node, installed mirror, installed npm, then did a reboot. When i launch mirror, I still dont get sound out of HDMI, but it did pick up my mic without changing any options and without a sudo. I even tried forcing soun

[2016-02-26 19:05] evancohen commented on #20
@secdude I'll merge the `search` branch in next week
@3y3c0ugh I installed PulseAudio last, but it technically shouldn't matter... The sound should come out of HDMI by default, so maybe running that command actually messed up something in your configuration?

I'll run through all of this with a fresh install again early next week and make sure everything works properly.

[2016-02-26 19:15] mrtruebeliever commented on #114
@evancohen Thanks for the reply, I'm in the process of learning more about angular so I can understand the syntax a little bit better. Then I'll try to get this done

[2016-02-26 19:17] beto2909 commented on #20
Check that you .asoundrc is empty.

[2016-02-27 00:12] missionrulz commented on #3
@evancohen, Perhaps adding that Chrome/Chromium is a requirement on README.md.

[2016-02-27 01:31] evancohen commented on #3
@missionrulz This information is now out of date. The project uses Electron, which is already described in the README.

[2016-02-27 20:31] gothmate commented on #109
Thank a lot for the comments. I was lookin' up for it.

[2016-02-28 11:31] gothmate opened #116 "Invisible Mouse"
Is there a way to turn the mouse invisible when the mirror starts?
It is very annoying to see the mouse pointer at the center of the greetings message.

[2016-02-28 11:40] gothmate commented on #71
I am translating to portuguese, with annyang commands also.
But I'm having some difficulty to turn the forecast messages to "pt". I've read all documentation and still don't know how.

[2016-02-28 13:22] ctutu commented on #71
hello, to translate in french weather description and day forcast I add this two things in the index.html
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.0/angular-locale_fr-ch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/locale/fr.js"></script>
You just need to modifie both file with you language

[2016-02-28 13:38] gothmate commented on #71
@ctutu what two things?

[2016-02-28 17:02] Shubham0209 commented on #116
https://github.com/evancohen/smart-mirror/pull/79/files#diff-04c6e90faac2675aa89e2176d2eec7d8R84

follow this link, it has got instructions to hide the mouse, as well as to run the mirror on startup.

[2016-02-28 17:16] teemuha commented on #71
@evancohen Could moment.js  be used to provide localized dates and times? It already includes multiple locales http://momentjs.com/

[2016-02-28 18:15] gothmate commented on #116
@Shubham0209 thanks, a lot! There are so much issues I couldn't find that.

[2016-02-28 18:45] gothmate commented on #116
Well, I did what the link says and Unclutter is obsolete or missing... :(
Anyway, I'll look up for another source to install it.

[2016-02-29 01:22] evancohen commented on #116
@gothmate you should just be able to `sudo apt-get install unclutter`. Keeping this open until I update the documentation with this info.

[2016-02-29 15:26] gothmate commented on #116
There it goes, @evancohen ! Thanks!!

[2016-02-29 21:49] mkerfoot opened #117 "Logitech Harmony"
Let's get this mirror in connected homes!

[2016-02-29 23:48] evancohen commented on #117
I don't have one, but you should have a go at it. I still haven't been able to get access to their API.

[2016-03-01 01:44] evancohen commented on #71
@teemuha yeah, it could. The problem is that it's more than just dates that need localization. I've got a couple of different options prototyped, but none of them are as clean as I'd like so I'm holding off until I can get it right. I don't want to push something in that is half broken and then make people do a bunch of work to upgrade when I fix it.

[2016-03-01 20:35] mkerfoot commented on #117
I just shot them an email requesting access to their API. Hopefully they'll get back to me within a reasonable amount of time.

[2016-03-01 22:34] evancohen commented on #117
I requested access about 5 months ago and never heard anything from them :cry:

[2016-03-03 00:35] gothmate commented on #102
Michael Teeuw has added feed messages on his mirror.
Maybe it helps to make your own modifications.
http://michaelteeuw.nl/tagged/magicmirror

[2016-03-03 00:41] gothmate commented on #48
That would be amazing to final users, particularly if they are not developers...

[2016-03-03 03:02] evancohen commented on #102
@gothmate Michael's code in a completely different programming language, so there's nothing to draw from there.

[2016-03-03 06:23] missionrulz commented on #51
@mrtruebeliever, looks good. I have tried this as well and seems to be working quite nicely. I wrapped that code in a try catch so during development on my main machine it would be handled nicely when exec() doesn't exist.

[code]

[2016-03-03 15:24] SenadM commented on #51
Can someone make a pull request if it is done?

[2016-03-03 18:52] SimonSaid00 commented on #109
Hello there! First of all I would like to say  Evan that you did a great job with this project.
Second for all- I am trying to follow Evan's start up program but it doesn't work. Does this have something to do with how my Pi is booting up ? Currently it is set to login automatically as user "Pi" and that's about it. How is yours setup in order for these  to work? Thanks a lot!

[2016-03-03 20:11] evancohen commented on #109
@SimonSaid00 Thanks :)
Have you tried what @capfirepants has suggested above? That has worked for everyone so far.

[2016-03-03 21:18] SimonSaid00 commented on #109
Hi Evan! I did not since I wasn't sure WHERE to put the "chown pi:pi /home/pi/smart-start.sh". I am not a coder :)

Thanks for the reply!

[2016-03-03 21:47] SimonSaid00 commented on #109
It has been done, thank you, it works :)

[2016-03-03 23:45] missionrulz commented on #51
I'm happy to add it in my PR (https://github.com/evancohen/smart-mirror/pull/121), as I already have it working on my local branch. If no body objects to this, I will update that in roughly 6-7hrs.

[2016-03-04 00:45] evancohen commented on #51
@missionrulz please add it to a new PR. It will make it easier to review.

[2016-03-04 02:41] kryptics commented on #86
Still hacking away i think this is my last try lol - i realize with out API you can't get the scores... BUT! with Google Cards you can - is there anyway we can incorporate google cards to the repo? there ya go for the minds of the smart mirror... @jeffrhap

[2016-03-04 06:17] redbeed commented on #45
@evancohen pushline is not ios compatible at the moment :-1:

[2016-03-04 13:09] yaydogan opened #130 "Google calendar events with alarms doesn't display the correct event summary"
If you have an event in your google calendar which has a reminder/alarm, it always shows "Alarm notification" instead of the event summary. I found the root cause and have a fix for it. I will create a PR shortly.

[2016-03-04 20:27] Time4u2run opened #132 "Issue with installing npm"
Hey,

I always get an error while installing npm: "Failed at the electron-prebuild@0.36.9 postinstall script 'node install". What did I do wrong?

/ Markus

[2016-03-04 21:05] evancohen commented on #132
Please elaborate. What command did you actually run? Was it `npm install`?

What OS are you using? What version of Node do you have installed?

Maybe just a typo, but the package is actually `electron-prebuilt ` if that's not what you are using then that could be the issue.

[2016-03-04 21:37] Time4u2run commented on #132
I ran cd /home/Pi/Smart-mirror/
Then npm install

I have the actual wheezy and node 4.3.2 and i read something with electron-prebuild within the errors while installing npm

[2016-03-05 00:36] missionrulz commented on #102
@gothmate, I am currently porting Michaels code from jQuery into Angularjs. I currently have a working prototype that should be ready for a PR later today or tomorrow.

[2016-03-05 01:09] StevenTLBF commented on #132
@Time4u2run I had the same error. I extended the root partition with sudo rapsi-config, rebooted, than ran sudo npm install

[2016-03-05 02:07] missionrulz commented on #59
@Shubham0209, Do you know how ironic that sounds? I can understand the want and need from a technical point of view, but do you really need your picture taken only to be displayed in a screen behind a mirror. It kind of defeats the whole purpose of a mirror.

[2016-03-05 02:50] evancohen commented on #102
@missionrulz you should really use https://github.com/siddii/angular-feeds, it's totally awesome :)

[2016-03-05 06:40] Time4u2run commented on #132
Alright, I will try this, thanks!

[2016-03-05 07:32] Shubham0209 commented on #59
@missionrulz actually it was only step 1.What i was actually thinking was to maybe post those pictures on fb etc or send them to the phone. so the basic idea was to click the picture and share it. I know it sounds weird.lol

[2016-03-06 00:02] distortd6 commented on #132
Time4u2run, I have same setup as you.  I just tried this, to no avail... have you by chance tried this yet?  Curious to see if it works for you and I'm just doing something wrong

[2016-03-06 02:06] tomasvr commented on #59
Thats a pretty neat idea! The point is that you would be able to see the full picture you're about to take of yourself through a big mirror. Only placing the camera at the right position seems kind of tricky because it should be at eye height, where the screen is.

[2016-03-06 11:04] Shubham0209 commented on #59
yeah @tomasvr you feel me right. lol

[2016-03-06 13:11] Time4u2run commented on #132
No i'm on Holiday at the Moment. Will be able to try it on sunday. When I did, i will inform you guys :)

[2016-03-06 13:38] tomasvr commented on #132
Having issues with running 'npm' from /home/Pi/Smart-mirror/ aswell. It doesn't recognize the command 'npm' even though I have node 4.3.2 installed at my /usr/local directory.  I am not yet using the actual wheezy OS. I used the standard Raspbian version from the NOOBS software, maybe that's part of the issue? I'm pretty new to the raspberry so yeah. Would love to hear back!

[2016-03-06 20:56] evancohen commented on #132
@tomasvr are you sure you properly installed Node? `npm` comes packaged with it, so if the command is not found than it likely wasn't installed correctly.

[2016-03-06 21:10] kxd1000 commented on #42
Hi,
this is a good idea. I am trying to get my mirror to german language.
I sent a PR today with modification of the weather language. It is not a big change but it is a beginning.

BR. Kurt

[2016-03-07 08:35] FrankMatheis opened #140 "TV live stream"
Wouldn't it be great to have the mirror play live tv streams? For example "show me news channel"
Is that possible?

[2016-03-07 19:09] evancohen commented on #140
Well... Anything is possible, you just have to find a service that will let you do this. You can already play videos and music in the `search` branch.

[2016-03-09 16:15] jamesarm97 opened #142 "Cannot get Apple iCal events to show"
I have tried to get the links to my calendar to work but nothing I try works. They begin with an webcal:// and if I try that link in a browser it attempts to import to my calendar. If I do a wget on the line I see a bunch of redirects to another link. Does anyone have apple iCloud calendars working?

[2016-03-09 21:52] sabbyt opened #145 "Issue with npm start"
Followed the instructions and received the following error:

npm ERR! Linux 4.1.7-v7+
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "start"
npm ERR! node v4.0.0
npm ERR! npm  v2.14.2
npm ERR! code ELIFECYCLE
npm ERR! smart-mirror@0.0.1 start: `electron main.js `
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the smart-mirror@0.0.1 start script 'electron main.js '.
npm ERR! This is m

[2016-03-09 22:11] evancohen commented on #145
You can't start the mirror via SSH, you have to run the command from the desktop UI. It looks like that's the problem that you are having right now.

[2016-03-09 23:03] sabbyt commented on #145
Thanks! That works! Additional question - have you tried electron-packager to wrap all the files into an .exe?

[2016-03-10 02:48] evancohen commented on #145
I have, but when you do that you also wrap the config file - making it impossible to configure the mirror.

[2016-03-10 02:51] #145 closed

[2016-03-10 03:23] sabbyt commented on #145
Good point. I'm looking at different ways of doing this and thinking of maybe packaging the  app - did you use electron-packager for Linux ia32?

Sent from my iPhone

[2016-03-10 03:49] evancohen commented on #145
I did, yeah. I'll eventually move to binaries with auto-update, but until I finish #48 it's not going to happen. If you'd like to contribute you should jump into the gitter chat :)

[2016-03-10 09:37] secdude commented on #145
On the original topic of running the mirror via SSH an additional comment: It is possible to run the mirror via SSH if you use `ssh pi@raspberry -X` which will activate x Window Forwarding. Runs natively  on my Kali, you can use xming on windows. For sure apple's OS will have something in store as well.  Have used this myself but performance is horrible. But if you lack options and you are testing

[2016-03-10 22:56] evancohen commented on #145
Hey @secdude I'll totally have to try that out, that's awesome. As for testing/developing I've been running the mirror on my desktop and doing the bulk of my development there and then just pulling changes onto the pi to verify that it works. Thanks!

[2016-03-10 23:09] chuddnutts commented on #142
Hi Jamesarm97, I have an apple iCloud calendar working my address is published as https:// I had to publish the calendar online first to get it working,

[2016-03-10 23:55] evancohen commented on #142
Please try that. If it doesn't solve your problem you can re-open this issue.

[2016-03-10 23:55] #142 closed

[2016-03-11 11:49] lucasfischer opened #148 "start the mirror over ssh"
i figuered out how to start the mirror over ssh.

just create a script with the following content. like `start-mirror.sh`

[code]
then start it via `sh start-mirror.sh`
thanks to @capfirepants who provided me with this script #109

[2016-03-11 15:11] paviro commented on #59
Not all of it is published yet but I started adding facial recognition to another mirror project you could probably use the code as it is right now to get something up and running:
https://github.com/paviro/MagicMirror-Modules

[2016-03-11 17:09] evancohen commented on #148
I always suspected this would work, but I never tried it. Not all environmental vars are there so you may have trouble with some functionality (this includes speech). I'm sure you could modify the script to export the appropriate vars to have speech working.

[2016-03-11 17:35] #71 closed

[2016-03-11 17:35] #130 closed

[2016-03-11 18:19] FrankMatheis opened #150 "Shared Exchange Calender is not working"
I have shared my exchange2010 calender. I got 2 links. Both working fine. I put https:// infront of the *.ics link and put that into the config.js.
Result is
![calender](https://cloud.githubusercontent.com/assets/17391346/13711177/77f6d41c-e7bd-11e5-89ec-56528858f0ef.png)
Than, I shared my icloud calender, paste the ics link into config.js and the calender is shown. but I need the exchange calende

[2016-03-11 18:24] yaydogan commented on #150
I am using MS Exchange calendar and I have the exact same problem. Couldn't get a chance to debug further.

[2016-03-11 18:37] FrankMatheis commented on #150
Boy, if we could find someone from Microsoft who knows about Outlook - that would be great (just kidding :-)))

[2016-03-11 18:47] willem-hill opened #151 "Bad layout on 720P display during map viewing"
Hey everyone,
First of all this is a great project. Love it. everything works fine, except that some text gets overlayed on other text on my 1280 x 800 display when I view a map. The customized greeting scrolls up, but then its actually on top of the clock. Here is an image of what I'm talking about: http://imgur.com/NWxSYjU

[2016-03-11 20:10] evancohen commented on #151
Change the greeting line in `index.html` so it only shows the greeting when in the default view state and fades it out when in another state.

[code]

[2016-03-11 20:10] #151 closed

[2016-03-11 20:17] willem-hill commented on #151
@evancohen Beautiful! Thank you.

[2016-03-11 20:19] willem-hill commented on #151
@evancohen Sorry to bother you more, but similarly, the map image is somewhat vertically stretched.

[2016-03-11 22:54] willem-hill opened #152 "A few minutes after starting smart-mirror, the time changes to scientific notation"
Here is an image of the problem: http://imgur.com/KrWK2nJ

And please note that this only started happening after I updated to the most recent update (as of March 11).

[2016-03-11 23:51] chuddnutts opened #153 "display errors"
I have just downloaded the latest master and when i run this on my mac i get a white display with all the text on
<img width="1280" alt="screen shot 2016-03-11 at 23 48 31" src="https://cloud.githubusercontent.com/assets/17237803/13718677/090bcba8-e7e4-11e5-8ba7-4b5aa06d179c.png">

is anyone having this issue. I have node installed and Electron (v0.36.7)

Thanks

John

[2016-03-12 00:15] shoaibuddin commented on #153
do: npm install and bower install then run it

[2016-03-12 02:04] evancohen commented on #153
@chuddnutts you'll have to run `npm install` again (`bower install` should automatically be run as a part of this process). You'll also have to update `config.js` based on the new instructions in the readme.

[2016-03-12 02:04] #153 closed

[2016-03-12 02:35] evancohen commented on #151
I think it's less about the map being vertically stretched than it being horizontally squished. You might want to modify the request in the map controller to use a different width/height to make sure the aspect ratio doesn't get messed up.

[2016-03-12 02:43] evancohen commented on #152
I've had my mirror running for 45 minutes and haven't been able to reproduce this... In the chat you mentioned that you were seeing an error with Bing maps, maybe you should start by trying to fix that and see if that works.

[2016-03-12 02:43] #152 closed

[2016-03-12 02:57] shoaibuddin commented on #78
That's what I exactly did with say js node module. Tried on Mac. Waiting for Ras 3. Will try on that too.

[2016-03-12 02:59] willem-hill commented on #152
@evancohen yes, I fixed the Bing maps error, that was simply because I hadn't filled in where I work and live in the config.js. But the time display issue is still happening.

[2016-03-12 03:01] willem-hill commented on #151
OK thanks. I'll do that at some point. Right now I'm trying to figure out the scientific notation time thing. And other people have that problem too...
Thanks for the help, BTW.

[2016-03-12 03:01] shoaibuddin commented on #78
Try this on PI:
sudo apt-get install festival festvox-kallpc16k

[2016-03-12 11:31] chuddnutts commented on #153
Hi @evancohen @shoaibuddin , I have reran the the npm install but that is failing, I have attached the log. I tried running it with sudo too.

"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'install' ]
2 info using npm@2.14.12
3 info using node@v4.3.0
4 verbose readDependencies loading dependencies from /Users/John/Downloads/smart-mirror-master-2

[2016-03-12 12:00] roelofjan-elsinga commented on #153
Do you have bower installed globally (npm install bower -g)?

[2016-03-12 12:24] Keopss commented on #51
Hi! I have been tested "screen off" and "screen on" commands. First command works fine but wake up monitor command only show Black Screen.
exec("/opt/vc/bin/tvservice -p && chvt 1 && chvt 7", puts);

I have tried add this:

exec("/opt/vc/bin/tvservice -p", puts);
exec("fbset -depth 8; fbset -depth 16", puts);

And monitor wake up. But not works all times.

[2016-03-12 12:54] chuddnutts commented on #153
@roelofjan-elsinga I ran sudo npm install bower -g and this is what i i got after it installed

/usr/local/bin/bower -> /usr/local/lib/node_modules/bower/bin/bower
bower@1.7.7 /usr/local/lib/node_modules/bower

[2016-03-12 12:56] chuddnutts commented on #153
@roelofjan-elsinga and this

bowler@0.0.0 /usr/local/lib/node_modules/bowler
└── handlebars@2.0.0 (optimist@0.3.7, uglify-js@2.3.6)

[2016-03-12 16:47] tomecerqueira commented on #152
Same thing here. It's weird, don't happens everytime i start the mirror. But when happen, occurs after 5 minutes and the time changes the hour format.

[2016-03-12 21:29] yaydogan commented on #150
@FrankMatheis I got a chance to debug it today. I have a fix for it. You can check the PR #156 for the changes if you want to try it.

[2016-03-13 04:36] willem-hill commented on #152
I have determined that this only happens in specific time zones. If you would like to reproduce this issue, I suggest (using `sudo raspi-config`) to change your pi's time zone to EST, where it is happening to me. Choose New York time.

[2016-03-13 10:02] jonoscott opened #157 "Time all screwed up"
Hi there,
Just updated to the latest version of the smart mirror (had been waiting for the different messages for different time of day) and it appears that the time initially comes up fine, but after the time changes (next minute), the hour (and Calendar hour) becomes completely screwed up eg.  11:00 PM is showing as 2.225071738008484308:00 PM, where as 11:01 PM shows as 2.225071738000848308:01 P

[2016-03-13 15:10] willem-hill commented on #157
I have the same problem, as many of you probably know, since I was quite vocal about it initially. If I change the time zone to something wacky, them this issue doesn't happen anymore. Out of curiosity, what time zone are you in, @jonoscott? I'm in eastern standard time.

[2016-03-13 19:00] jonoscott commented on #157
Hi there @willem-hill,  currently my timezone is set to: Pacific/Auckland.
This was working fine up until me pulling down the latest update, prior to that it was fine,  however I have noticed that it seems to be fine for any time (so far that I can see at least) in the morning eg 7:57 AM is fine, and all calendar appointments in the morning appear to be fine as well.

Unfortunately I don't have th

[2016-03-13 19:49] willem-hill commented on #157
@jonoscott I found that it works almost always except in the evening eg. 6-10PM. This fits with what you were saying.

[2016-03-13 21:44] skru1es commented on #157
Hey guys

I think I found the problem. I had the exact same problem with my install on a raspberry pi. It was really frustrating because it only happed in the afternoon. However I traced the issue to the new version of moment.js.

I downgraded my moment.js to 2.10.6 found here: https://github.com/moment/moment/releases/tag/2.10.6

I replaced my moment folder in /home/pi/smart-mirror/bower_componen

[2016-03-14 00:57] jaysan21 opened #158 "Calendar not displaying"
I have looked at few examples. After adding the ical link in config it is still not showing on my smart mirror. Am i suppose to edit anything else? do i need php? please help.

 `calendar: {
      icals : ['https://calendar.google.com/calendar/ical/STUFF/basic.ics'],
      maxResults: 9, // Number of calender events to display (Defaults is 9)
      maxDays: 365 // Number of days to display (Defaul

[2016-03-14 06:30] webcris77 commented on #140
Hi Evan, it's prefect if you will integrate HDHomeRun
It's a network DVB-IP box that will automatically offers JSON API (HTTP) for IP streaming in local network.
Also the source code of HDHomeRun is open source.
I think that it's very simple for you to integrate this device, is just like HUE integration.
http://www.silicondust.com

[2016-03-14 07:06] jonoscott commented on #157
Hi there @skru1es,

Nice work, I've confirmed that just replacing the moment.js file with the older one works fine.  No need to replace the entire folder, just the file.

So far so good, along with the time not going weird, all my calendar appointments are showing the correct time as well.

[2016-03-14 07:58] luchadorman commented on #158
As a total newbie, I found that I had made the mistake of not using " ", instead of '', and also you must make your google calendar public I believe. I could be wrong, but those are the only two things I have different besides you and mine works.

[2016-03-14 10:44] #150 closed

[2016-03-14 11:54] ctutu opened #159 "Not all content is localized"
Hello,

Could you please add  "var DEFAULT_COMMAND_TEXT = 'Say "What can I say?" to see a list of commands...';"  from controller.js to be able to translated into locales files ?

Regards

[2016-03-14 12:13] kurtdb commented on #158
You don't have to make your google calendar public. You can perfectly use the private ical-link.

Normally adding only the ical-link should be enough. Are you sure the link is correct? If so, what does it say when running ```npm start dev```?

[2016-03-14 12:15] kurtdb commented on #140
While it might in theory be easy to integrate such services, without any test devices the integration will be like flying blind with 1 hand tied behind your back.

[2016-03-14 12:16] jaysan21 commented on #158
I am currently running this on windows 10 in chrome. Would that make a difference?

[2016-03-14 12:18] kurtdb commented on #158
That shouldn't make any difference.

[2016-03-14 12:22] jaysan21 commented on #158
Sorry i am kind of a newbie when it comes to this stuff. how do i see what it says when running npm start dev?

[2016-03-14 12:45] jaysan21 commented on #158
![2016-03-14](https://cloud.githubusercontent.com/assets/17818014/13744839/01ace0a2-e9c1-11e5-8c70-f433963eaeca.png)
The error can be seen on the right.

[2016-03-14 12:50] kurtdb commented on #158
Normally electron should handle the access-control headers for you. Odd that you are receiving such an error in the console.

[2016-03-14 15:58] distortd6 opened #160 "Hardware related: Is original RPi B+ not compatible?"
Finding issue after issue with getting this original RPi B+ up and rolling.  Is it just not compatible?

[2016-03-14 15:58] dano25 commented on #157
Also confirmed on my end that switching out the moment.js file solved this.

[2016-03-15 00:23] evancohen commented on #160
It's not :/ There are no chromium binaries recent enough that are compiled for ARMv6. I invested some time getting it working a couple of months ago only to discover that the performance was really bad (to the point that I decided that it wasn't worth supporting the device).

It's only $35 for a Pi 3 (which others have verified is compatible). I'm not quite finished with it yet, but this limitatio

[2016-03-15 00:23] #160 closed

[2016-03-15 00:24] evancohen commented on #158
My thoughts exactly @kurtdb... Are you running the mirror via `npm start`?

[2016-03-15 00:35] jaysan21 commented on #158
I am not familiar with `npm start` what is that or where can i find it?

[2016-03-15 06:17] evancohen commented on #158
That's why you are having access issues. Read the [documentation](docs.smart-mirror.io) :)

[2016-03-15 09:33] webcris77 commented on #140
Hi Kurt,   are you based in EU or US? (just to know if you need DVB-T or DVB-C/S test device )

In order to send you HDHomerun for test/dev i need to know your address for shipping.

If you have time during the wait of the demo device the syntax for channel live tv view is the following :

http://172.18.1.104:5004/auto/v1
http://172.18.1.104:5004/auto/v2
http://172.18.1.104:5004/auto/v3
http://172

[2016-03-15 10:23] FrankMatheis commented on #140
For all Telekom IPTV customers it should be very easy. All we have to do is interating vlc.  I found a webpage (sorry, I just found a german one, but maybe someone who is able to code could understand that)  discribes the way to watch tv over vlc. Here's the link: http://www.iptv-anbieter.info/iptv-software/entertain-tv-am-pc.html
For partial translation please PN

[2016-03-15 20:36] evancohen commented on #159
Not all the content was localized on the first pass. Using this bug to track the work to localize the rest of the mirror content.

[2016-03-15 20:58] evancohen opened #163 "Switch away from bower"
Bower seems to be eating our moment dependency (and using a version that is making the time show up in scientific notation in certain time zones #157).

We should switch this out for `npm` or another dependency manager.

[2016-03-15 21:37] icopp opened #164 "Integration with Home Assistant"
[Home Assistant](https://github.com/balloob/home-assistant) is an open-source smart house hub app that's meant to link lots of different platforms (for example, it already has support for Insteon hubs, Nest, Wink, generic Z-Wave devices, etc etc). You can do quite a lot of automation in it (take a look at their [Examples page](https://home-assistant.io/cookbook/) for more of an idea).

Integration

[2016-03-15 22:00] evancohen commented on #164
I love Home Assistant! Not sure if you saw it, but there is a `home-assistant` branch (very out of date). I've considered doing this a number of times but wasn't sure if it would be worth the time (unsure if anyone else would be interested).

I've already prototyped a REST interface for remote configuration, so I could just extend that. Would you be interested in doing the work to create the HA mo

[2016-03-15 22:05] #158 closed

[2016-03-15 22:21] i-c commented on #164
I haven't made any HA modules before, but I'd be willing to give it a try.

Having a REST interface to work with would be the first part of things. I think for HA, the important bits would be getting the status of the device (screen on/off, which focus is current, etc), being able to change wake/sleep status, and changing the current focus with whatever suitable arguments.

Something else that pot

[2016-03-16 04:01] Shubham0209 commented on #153
@chuddnutts first install bower by **npm install -g bower**
then to install bower dependencies run **bower install**

[2016-03-16 16:52] nicolasmn commented on #163
Hi Evan, the correct way of doing this would be to specify an "overrides" object in `bower.json` for wiredep to pick up the additional dependency. ´

This should work:
[code]
See https://github.com/taptapship/wiredep#bower-overrides for more information.

[2016-03-16 17:52] evancohen commented on #163
Ahha! Yes you are absolutely right. Reopening this so it can be tracked.

[2016-03-17 10:12] stephwe opened #166 "DS18B20 Temperature Sensing"
you get the temperature sensor with display somehow?

[2016-03-17 20:02] beto2909 opened #168 "Connecting to Twitter"
Has anybody tried connecting the mirror to twitter? I know there's some tokens but I can't find a way to give the tokens in order to get the response.

[2016-03-18 20:32] ctutu commented on #159
what do you think to use angular-translate module to translate each text you want.
I don't know if the best way to do that and how to implement.

[2016-03-18 21:57] CaolanMcK commented on #64
you could attempt to set it that when you're not in front of the ultrasonic sensor it activates a screensaver

[2016-03-19 11:35] CaolanMcK opened #169 "White screen"
Hey guys, i am currently working on building my own smart mirror, but i just get this screen when i try to load it. I checked and the config is correct, and chrome is telling me that angular is not defined for most of the scripts. any advice?

![image](https://cloud.githubusercontent.com/assets/16864978/13898361/825faac8-edc6-11e5-9a6a-e75afc058e63.png)

[2016-03-19 13:04] evancohen commented on #169
You may not have installed bower (which should have happened via `npm install`)
Run:
[code]
Then start the mirror.

[2016-03-19 15:35] evancohen commented on #159
It's just about extending the existing locale files. Should be pretty easy.

[2016-03-19 22:31] CaolanMcK commented on #169
getting a segmentation fault when i try to install npm

[2016-03-19 23:28] samueller1 commented on #169
I had a similar issue when installing for the first time on a fresh install. I tried the two commands you suggested, bower installed however the issue persists. Is there a need to install a separate web browser for this to run?

Additional info, I am running this on a Pi 3, using a copy/paste of the config.js file listed in the install instructions.

[2016-03-20 12:58] mojosoeun opened #170 "Speech recognition not working [Keyword Spotting]"
Hello.
From 9am to 4pm KST, voice recognition didn't work. But after that time it began working again. I'm trying to figure out why but I can't solve it.

[2016-03-20 16:58] Badaboomchef opened #171 "npm install Syntax error: ")" unexpected Node v5.9.0 arm64 (Pi 3)"
Hi,
i receive an error on the npm install command:
pi@raspberrypi:~/smart-mirror $ npm install electron-prebuilt
/usr/local/bin/node: 18: /usr/local/bin/node: ELF���s@�d@@%"@@@@@��@@@@��������Y��Yx�p����Y��Y00@@DDQ�tdR�td����Y��YXX/lib/ld-linux-aarch64.so.1GNUGNU>�T$�
j=�y,M�d�H�
                 0���@�`#C
4@  B��@`$@��

[2016-03-20 18:36] bmccuskey opened #172 "Mirror not importing all calendar events"
After updating  smart-mirror a couple days ago, most of my calendar events are missing. The mirror is pulling from the icals I add to the list, but it doesn't show all the events. For example, it shows only one event for tomorrow, then another event a couple weeks from now but it misses all the events in between.

I went through and completely removed the smart-mirror directory and uninstalled eve

[2016-03-20 21:36] MarkAsRead opened #174 "Mirror not starting"
Hi All,

I keep getting this error message when I want to start NPM

npm ERR! Linux 4.1.19-v7+
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "start"
npm ERR! node v4.0.0
npm ERR! npm  v2.14.2
npm ERR! code ELIFECYCLE
npm ERR! smart-mirror@0.0.1 start: `electron main.js `
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the smart-mirror@0.0.1 start script 'electron main.js '.
npm ERR!

[2016-03-21 02:49] evancohen commented on #171
Pretty sure the Pi 3 uses ARMv7, so that's the incorrect binary. Node v5.x has not been tested yet and is not recommended. Follow the instructions in the documentation and it should work.

[2016-03-21 02:49] #171 closed

[2016-03-21 03:00] evancohen commented on #172
What was the version that you were using before (ie, the commit ID)? There have been some recent fixes for Exchange and iCloud that may have caused a regression here.

It would be helpful if you could PM me your iCAL URL in gitter and tell me which events aren't showing up so I can test this.

@yaydogan @kurtdb who might be able to help.

[2016-03-21 03:06] evancohen commented on #170
This is a known issue. My current theory is that because of the high volume of mirrors we are collectively using up Electron's Google speech key.

I am currently investigating solutions (and am open to suggestions)

[2016-03-21 10:23] kurtdb commented on #172
That's a new one to me. I know there is still an issue between fetching from multiple calendars and the events showing up twice through time.

Would it be possible to share a minimum viable testset so we can verify and fix the issue?

[2016-03-21 12:57] bmccuskey commented on #172
I'm trying to backtrack when I updated. (I hadn't really kept track of the commit IDs when I updated.) I do know that I updated my pi2 on the 9th or 10th which is when I first ran into the time issue, then I transitioned to a raspberry pi3. The calendar was still working then. I updated and then downgraded moment on the 17th and I believe that was when the calendar stopped working.

I have been ad

[2016-03-22 01:32] yaydogan commented on #172
On a business trip this week but I will take a look at it when I get a chance. Don't have access to my setup now but I also saw some events missing from my exchange calendar. Seemed to be the ones where organizer is in a different timezone. It could be a coincidence too, not sure yet. @bmccuskey if you observe the same, that may give us a hint to debug further.

[2016-03-22 01:52] bmccuskey commented on #172
I think the issue might lie with events that repeat. Though, it isn't consistent.

[2016-03-22 01:56] evancohen commented on #172
That's likeley the issue. Today I don't think there is any code specific to parsing time zone offsets for the calendar. It works when things are specified in UTC or within your own time zone, which is pretty standard - but there's a specific format that uses text to specify the time zone which we ignore right now.

[2016-03-22 02:02] bmccuskey commented on #172
Hmm. Was that a recent change or what might have caused it to work before? One of the calendars that I pull from the mirror only shows non-repeating events, on one of my other calendars it actually shows one of the repeating events, but not others.

[2016-03-22 17:42] Robiv8 commented on #174
Hallo,
i have the same Problem!
I am a newbie in raspberry pi, so thanks for help.

[2016-03-22 19:29] chuddnutts commented on #169
did you fix this? as i am having the same issue..

[2016-03-22 20:26] MrLegendary opened #176 "Trakt.tv Integration"
Would it bo possible to add trakt.tv integration, so I can see my watchlist from trakt on my mirror?

[2016-03-22 20:38] evancohen commented on #169
Interesting... I just got my Pi 3 in the mail so I'll give this a shot tonight. You are running `bower install` from within the smart-mirror directory, right?

[2016-03-22 21:01] evancohen commented on #169
Interesting... I just got my Pi 3 in the mail so I'll give this a shot tonight. You are running `bower install` from within the smart-mirror directory, right?

[2016-03-22 22:23] evancohen commented on #172
Well, there's #155 and #131 which don't really mess with it, and #89 which fixed recurring events. None of these really touch this issue. I'm guessing that it never actually worked to begin with...

[2016-03-22 23:16] #169 closed

[2016-03-22 23:16] #174 closed

[2016-03-22 23:32] #157 closed

[2016-03-22 23:32] #163 closed

[2016-03-22 23:33] evancohen commented on #117
Closing this because it's impossible to get a Harmony API key today. Someday when it becomes publicly available I think it would be awesome to implement.

[2016-03-22 23:33] #117 closed

[2016-03-22 23:55] #66 closed

[2016-03-23 01:44] #42 closed

[2016-03-23 09:19] Robiv8 opened #177 "Microphone in chromium, Access allowed?"
In popup window where is access allowed to the microphone you can afford , but it seems all the seconds again . is there a workaround ?
Sorry Form my Bad englisch!

[2016-03-23 09:25] Robiv8 opened #178 "No access control allow origin."
no-access-control-allow-origin-header-is-present-on-the-requested-resource
Hallo
How to fix this in chromium, Raspberry Pi 2, jessi, localhost

[2016-03-23 11:43] kurtdb commented on #178
Currenty there is no support for use cases bypassing the use of the electron library. (which takes care of the origin headers)

[2016-03-23 15:20] Robiv8 commented on #178
Hello , I do not understand ! Evan Cohen operates this mirror with its software with chromium .
And since it works yet ! Or is it? Then makes the whole but not meaningful. Confused.

[2016-03-23 18:07] evancohen commented on #178
If you are using Electron, like the [documentation](docs.smart-mirror.io) outlines you will not have this issue. You should not be running the mirror via localhost.

[2016-03-23 18:07] #178 closed

[2016-03-23 18:20] evancohen commented on #177
Just like in #178, please follow the documentation: http://docs.smart-mirror.io/docs/troubleshooting.html

[2016-03-23 18:20] #177 closed

[2016-03-24 00:02] evancohen opened #181 "Remove 'my name is *' command"
It's currently useless and keeping it around isn't doing anything good.

[2016-03-24 12:37] chr1s1 commented on #57
+1 for sonos integration :)

[2016-03-24 16:32] jaaplallie commented on #57
spotify isn't optimal to work with atm...
the api isn't 'good' enough to work with (play songs etc.)...
it mostly supports data fetching, not 'controlling' spotify.
Maybe someone has a hacky way to get it to work but it is definitely not normally supported right now

[2016-03-24 17:49] evancohen commented on #57
Yeah, there really isn't a good way to do Spotify. SoundCloud works pretty well thoigh. Both YouTube and SoundCloud are on the search branch (which is now horribly out of date). It's probubly worth the time to rewrite. Maybe I can look at doing that tonight.

[2016-03-24 22:54] wuast94 opened #184 "npm install error"
i have noobs raspian clean install on raspberry 2 .. follow the dokumenation and all good, when i run `npm install`
 or `npm start` i became error.

i have tried:
[code]
but don´t change anything
the output from npm-debug:

1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@2.14.2
3 info using node@v4.0.0
4 verbose run-script [ 'prestart', 'start', 'poststart'

[2016-03-24 23:18] evancohen commented on #184
Are you using the Raspberry Pi 2/3? Are you running the latest on master?
I pushed an update two days ago that should have fixed this.

[2016-03-24 23:49] evancohen commented on #184
Sorted out over gitter. Issue was that you can't start the mirror via ssh. Updated the documentation to reflect this: http://docs.smart-mirror.io/docs/troubleshooting.html

[2016-03-24 23:49] #184 closed

[2016-03-26 01:43] evancohen commented on #168
You might be better off using RSS feeds from twitter once that work is done. I don't plan on making twitter a "first party" integration any time soon, but you are welcome to send a pull request should you decide to implement it. Feel free to drop into the gitter if you have any questions.

[2016-03-26 01:43] #168 closed

[2016-03-26 01:43] #116 closed

[2016-03-26 01:44] evancohen commented on #148
This is now mentioned in the documentation http://docs.smart-mirror.io/docs/troubleshooting.html

[2016-03-26 01:44] #148 closed

[2016-03-26 19:03] Laubre opened #188 "Error everything during npm install"
Hi, i have now already reinstalled my system 4 times, always following your installation guide, but whenever i am at the "npm install" point, i get the same error.. I have no idea how to fix it, but it gives me this error log file.
Maybe anyone here has an idea on how to fix it

[npm-debug.txt](https://github.com/evancohen/smart-mirror/files/190591/npm-debug.txt)

Thanks in advance :+1:

[2016-03-26 19:51] Bjern opened #189 "Wiredep not found error"
Since I'm no linux guru and certainly not familiar with node.  This is the error I'm getting...

bower postinstall   npm run wiredep
bower postinstall   > smart-mirror@0.0.1 wiredep /home/pi/smart-mirror
bower postinstall   > wiredep -s index.html
bower postinstall   sh: 1: wiredep: not found
bower postinstall   npm
bower postinstall
bower postinstall   ERR!
bower postinstall    Linux 4.1.19-v7+
b

[2016-03-26 21:31] evancohen commented on #189
Please update to the latest in master. This issue has already been fixed. Save your config then:
[code]

[2016-03-26 21:39] evancohen commented on #188
Dupe of #189

[2016-03-26 21:39] #188 closed

[2016-03-26 21:39] evancohen commented on #189
My fault, you are totally right, something is messed up in the master branch. Please use the `dev` branch for now (which I have just verified is working.

Reopening this bug

[2016-03-26 21:41] #189 closed

[2016-03-27 00:03] Laubre commented on #189
Hey, just want to report back, the Dev branch seems to work!
You should run the following commands from the smart-mirror folder (atleast i had to before i could get it to run):

rm -rf node_modules/
sudo npm update -g npm
npm install

[2016-03-27 06:54] jonoscott opened #192 "Multiple "Time To" options"
Thinking it would be nice to have multiple "Time To" options,  eg Time to Work, Time to Gym, Time to etc.

I'm unfortunately not a coder in NodeJS, I was thinking either an Array, or a series of Subroutines for the Time to section.

If anyone is good enough at coding, or could provide a suggestion on how to do this, it would be great.

[2016-03-27 07:02] jonoscott opened #193 "Strava Intergration"
Would be great if we could integrate Strava into the mirror,  I see that Fitbit has just been integrated.  I would think that being able to see the latest activity, week to date, month to date would be all that is needed.

While I'm not much of a coder (not coding in NodeJS),  I've managed to find this: https://github.com/UnbounDev/node-strava-v3 which perhaps someone may be able to use to incorpo

[2016-03-27 17:34] Robiv8 opened #195 "DocumentRoot Apache2 ? Newbie"
Hello, can someone tell me how this Smart-mirror can run.? I mean, it is supposed to be installed in /home/pi ! But Apache2 does show the data in /var/www/html
I'm confused . Must i put the /home/pi/smart-mirror as the new document Root in the Apache configure file.

Thanks and happy easter

[2016-03-27 18:05] Laubre commented on #195
Hi Robin, this is not meant to run under Apache, this is not the Smart-mirror that is set up in the webfiles. You should see the installation guide for this:
http://docs.smart-mirror.io/
If you follow these steps it should work! :)

[2016-03-27 19:07] Robiv8 commented on #195
Thanks Laubre,
hmm..
If I understand you correctly now then I proceed to the installation instructions. OK
And then?
When I enter on the Chromium browser my IP then comes only the Apache home page, since the / var / www / html folder is nothing in it. (At least, I assume, have not yet installed it.)
I stand on the hose! :-(

I'm going to make it this step by step so and then look what happened.

[2016-03-27 19:16] Laubre commented on #195
You don't need to enter an IP into any browser for this, it runs as a kind of "standalone" programm. You follow the step by step guide from the link, on the last page you have 2 things to do ( Run "npm install" from the "smart-mirror" folder, and after that has completed you can run "npm start" from the "smart-mirror" folder, then after a short loading time a dark screen will pop up with the Infor

[2016-03-27 19:19] Laubre commented on #195
There is a "smart mirror" setup which runs off php, apache (a web server) but it's not this one, it's the one from michael teeuw which is located here (https://github.com/michmich/magicmirror/tree/master) It's a little easier to setup :) ,
But the one you are working on here (from evancohen) has some possibiltys that the other should not have (including speech recognition)

[2016-03-27 20:28] Robiv8 commented on #195
Great! Thank you. I understand now.
I have it installed and it is RUN :-) For the first a white page ;-) but hey! Slowly

How can i stop this white page? and reload it again after i put the right dat in my config.js

[2016-03-27 21:06] Laubre commented on #195
Glad to hear that you are making Progress :+1:
A white page should be caused by the Config file, have you renamed the config_example.js to config.js (in the main "smart-mirror" folder) ?

You can reload it after you made changes by pressing the "alt" button on your keyboard, youll have a menu bar appear, their is an option (located under view or window afaik) where it says reload..

Or you can sim

[2016-03-27 21:49] Robiv8 commented on #195
Thank you very much!
One more question:
Is it possible to have more than 1 Calender, i have 2 google and 1 iCal. How can i do that.

[2016-03-27 21:58] stephwe opened #196 "animatetd weather icons (skycons)"
Has anyone tried to use the animatetd weather icons (skycons)? I know that there is some tokens , but I can not find a way to give the token to obtain the answer .

Thanks and happy easter.

[2016-03-27 22:06] Laubre commented on #195
Yes it is, the config file from the Installation guide shows that already

calendar: {
      icals : ["https://calendar.google.com/calendar/ical/SOMESTUFF/basic.ics",
"https://outlook.office365.com/owa/calendar/SOMESTUFF/reachcalendar.ics"],
      maxResults: 9,
      maxDays: 365
    },

There you have 2 calendars, or did you mean displaying 2 calendars on the screen, and not combine the informat

[2016-03-27 22:13] Robiv8 commented on #195
Great! Its work :-)
Many Thanks for your HELP

Only the display_rotate=1 in the /boot/config.txt have no reaction.
The raspberry pi 2 is conected with HDMI to DVI Kabel on a Dell UltraSharp U2412M 61cm (24'')  VGA,DVI-DP (1920x1200)

[2016-03-27 22:34] Laubre commented on #195
Glad to hear that! :)

Ok, Have you restarted your pi after adding the line to the /boot/config.txt arlready ? it needs a restart afaik

[2016-03-27 22:52] Robiv8 commented on #195
yes! Thanks!
Its late in the Night here in Germany, i give it a try tomorrow ;-)

Good Night
Robert

[2016-03-27 23:50] evancohen commented on #192
Yup, I've been meaning to do this for a while but I haven't had the chance. I've added it to the todo list.

[2016-03-27 23:52] Laubre commented on #195
^^ Sure, good luck tomorrow!

[2016-03-28 00:00] evancohen commented on #195
Seems that this has been resolved :) thanks for helping @Laubre!

:rocket:

[2016-03-28 00:00] #195 closed

[2016-03-28 06:13] Laubre opened #197 "Microphone problems with the Smart mirror"
Hey, I have my usb headset set up and got it to work correctly, i can record sound from my microphone and play that file..
But whenever i start the Smart mirror, i get this error:

ALSA lib pcm.c:7924:(snd_pcm_set_params) Channels count (2) not available for CAPTURE: Invalid argument
ALSA lib pcm.c:7993:(snd_pcm_set_params) Unable to set hw params for CAPTURE: Invalid argument
ALSA lib pcm.c:7924:

[2016-03-28 08:10] evancohen commented on #197
It should, it uses the same audio input methods as Chromium. You might have better luck when using PulseAudio. Check out the troubleshooting docs.

[2016-03-28 13:02] nicolasmn commented on #196
In fact skycons are already implemented and utilized by the "icesnow" theme. Simply change the key "layout" inside your `config.js`:
[code]

[2016-03-28 13:34] Laubre commented on #197
Pulseaudio fixed it! :+1:  Thanks for the quick tip :P

[2016-03-28 19:25] #197 closed

[2016-03-28 19:26] #196 closed

[2016-03-29 03:49] #181 closed

[2016-03-29 10:48] Prahli opened #199 "Second Fitbit User"
I was wondering if it would be possible to add a second fitbit user. As my girlfriend and I use the same mirror and both have a Fitbit it would be nice to see the stats of both of us.
As I understand the config, it wouldn´t be necessary to make a hole new config entry but another token with credentials of the second user is needed. And it has to be implemented in the GUI as well. Poorly as I am no

[2016-03-29 11:38] kurtdb commented on #192
This is one of the reasons I created my timeboxservice. By using it, you could easily switch between the different routes without having to change the way it is displayed on screen.

[2016-03-29 22:07] evancohen commented on #199
Should be possible :)

@Shogan can you take a look at this?

[2016-03-29 22:47] Shogan commented on #199
@evancohen @Prahli I'll take a look at adding support for a second user - should be able to get to it in the next couple days :smile:

[2016-03-30 08:17] chuddnutts opened #204 "Issues with running on a mac with electron/bower"
Hi All,

I am having an issue with running the new version of the 'Master' since bower is required on a mac. I have tried reinstalling it all but i now get a lot of fails. When I load it in Electron it appears as a white screen and a lot of text <img width="1280" alt="screen shot 2016-03-11 at 23 48 28" src="https://cloud.githubusercontent.com/assets/17237803/14135910/054d3eac-f658-11e5-82c4-42109

[2016-03-30 08:55] evancohen commented on #204
Follow the instructions under "Still Having Problems": http://docs.smart-mirror.io/docs/updating.html

[2016-03-30 08:55] #204 closed

[2016-03-30 23:59] #192 closed

[2016-03-31 04:49] ultrabarney opened #206 "npm install error"
Hello there,

I have follow all the steps until the installation.

Can anyone tell me how to resolve this error?

Thanks
![img_20160331_124639](https://cloud.githubusercontent.com/assets/18182130/14165752/ee2c3f42-f73e-11e5-8fc6-c46609dd920a.jpg)

[2016-03-31 07:03] ultrabarney commented on #206
I managed to solve the error by setting the time and date right

[2016-03-31 07:03] #206 closed

[2016-03-31 07:46] ultrabarney opened #207 "Error when trying to install electron-prebuilt"
Hi all,

I have this error when installing  electron-prebuilt. Any idea how to overcome this?

(I am still a newbie. Would appreciate if anyone can help me)

Thanks
![img_20160331_152111](https://cloud.githubusercontent.com/assets/18182130/14168940/973e24de-f757-11e5-8603-018df0dcd15e.jpg)

[2016-03-31 07:49] evancohen commented on #207
Can you include the file that the error suggested?

[2016-03-31 08:04] jonoscott commented on #192
Hi there @evancohen, I see this is closed,  does this mean its live in the latest update?

[2016-03-31 09:40] ultrabarney commented on #207
I have updated to the latest smart mirror with git pull

I even try
git clean -xdf -e config.js
npm install

It still produce the same error, the file i use is the one i downloaded on your site.

[2016-04-01 02:54] evancohen commented on #192
Yup! It's in PR #205. You can try it in the `dev` branch now if you'd like.
Just beware that the format of the config has changed to accommodate multiple trips so you'll have to update it.

[2016-04-01 02:56] jonoscott commented on #192
Oh sweet, that's fine, I noticed the config was different in the notes, but
reinstalled from the live master version, might be a silly question, but
how do I install the Dev version?
On 1 Apr 2016 3:54 PM, "Evan Cohen" <notifications@github.com> wrote:

[2016-04-01 03:10] evancohen commented on #192
You'll need to checkout the branch with
[code]
Depending on how old your current master branch is you may have to run through the [updating](http://docs.smart-mirror.io/docs/updating.html) instructions in the documentation.

[2016-04-01 03:15] evancohen commented on #207
Please include `npm-debug.log` otherwise it's going to be really hard to diagnose this issue. It looks to me like there is something wrong with your `package.json` - the most recent version doesn't use "wiredep", it uses "wiredep-cli" so I can tell from your screenshot that it's out of date.

Did you by any chance download the zip file from the website? That's not how you should do it, it's really

[2016-04-01 05:14] ultrabarney commented on #207
I try to do a fresh install. And this time around i got this error (which i initially encountered yesterday) I have include both the log file and error.

Please dl here:
http://www.filedropper.com/npm-debug
http://www.filedropper.com/error_1

[2016-04-01 09:38] ultrabarney commented on #207
Hi there,

I managed to solve it by using another internet connection.

Thank you!

[2016-04-01 09:38] #207 closed

[2016-04-01 10:40] 7h30n3 opened #208 "Multilingual Detection of Spoken Words inside Services"
It would be nice if the detection of spoken words inside the services (e.g. hue-services.js) were multilingual, too.

I think we should determine an universal and simple way how to do that. Any suggestions?

[2016-04-01 12:41] yaydogan commented on #172
Few examples of timezone string I captured from my calendar events:

DTSTART;TZID="(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna":20160314T140000
DTSTART;TZID=Eastern Standard Time:20160318T090000

We need to process the TZID parameter to address this issue. In MS EXchange, the timezone is set to the meeting organizer's timezone.

[2016-04-01 13:26] MarkAsRead opened #209 "issue #174"
Hi,

The above mentioned ticket was closed assuming a fix, however I still have the problem.

Did a clean install today and sill run into the problem again.

See log:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@2.14.2
3 info using node@v4.0.0
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart sm

[2016-04-01 17:22] MarkAsRead commented on #209
Turns out this error happens when I run from SSH. Can be closed

[2016-04-01 17:22] #209 closed

[2016-04-01 18:16] evancohen commented on #208
There already is a "universal" way of doing this, and it's through the locale files. There is still some content, as mentioned in #159, that is not using the new localization system.

I'll make this a part of the next update, but I'll need help from some folks to actually localize the content.

[2016-04-01 18:44] ctutu commented on #208
About hue-service by exemple, we use two different word to say switch on or switch off. How to translate ?

[2016-04-01 19:38] evancohen commented on #208
You'll have to create an array of synonyms in the loc file and then do something like
[code]

[2016-04-01 19:58] ctutu commented on #208
Thx for advices,  I'll try to do.

[2016-04-02 05:09] alexkhalaf opened #210 "Transit time"
Can we add transit times to the mirror

http://transitapp.com/developers

[2016-04-02 09:15] Zaratiegui commented on #153
I am having the same problem when installing in raspberry pi 2 with jeesie:
"npm WARN lifecycle smart-mirror@0.0.1~install: cannot run in wd %s %s (wd=%s) smart-mirror@0.0.1 bower install /home/pi/smart-mirror"
Tried all what I found in the forum (this time I really was reading before posting) and my point is that it works in other pi I used wheezy. I think I did the same steps, but I might have m

[2016-04-02 11:40] chuddnutts commented on #153
Hi @Zaratiegui @evancohen, I believe i have fixed the issue...

When trying to run the 'npm install' it was showing that there was no access to "Error: EACCES: permission denied, open '/Users/John/.config/configstore/bower-github.yml'
You don't have access to this file."

I browsed to the above location and found that my user account was not in the access list. I added my account and gave it read/

[2016-04-03 03:21] jonoscott commented on #210
Not sure if this is what your meaning @alexkhalaf, but there is already a Time To option built in which shows you your travel time to work, or wherever you put in your config.js file.

[2016-04-03 07:36] evancohen commented on #210
Agreed with @jonoscott not really sure what you mean. You can already see transit times. Can you be more specific about what you have in mind?

[2016-04-03 08:04] alexkhalaf commented on #210
Hi,
The mirror shows the travel time (which really never change), where the transit times shows what time will the bus arrive (Live) if you check the transit app you will know exactly what I mean

[2016-04-04 01:46] jaysan21 opened #211 "How to get usb mic working with smartmirror"
I am using a usb mic and was wondering how to get it to work with smart mirror application. The mic works alone on the raspberry pi but when I run the application it doesn't work or detect any voice input.

[2016-04-04 06:54] evancohen commented on #211
Have you looked at the troubleshooting steps in the documentation?

[2016-04-04 15:58] darealShadow opened #212 "Black screen without any information on Raspberry Pi Zero - Help highly appreciated"
Hi all,

first of all let me tell you, Even, I love your project and want to make that work too. So I got myself a Pi Zero and installed Raspbian. Then I followed pretty much your instruction to make it work. After installing nodejs in the version 4.4.1 (I used the one for the ARM6 as the pi zero is based on a ARM6 chip as far as I know) and installing the dependencies I only get a black screen wh

[2016-04-04 23:08] evancohen commented on #212
The microphone has no impact on the display, but I've never tested any of this on the Pi Zero - not a lot I can do to help you without some error logs I'm afraid.

The last time I checked `electron-prebuilt` only worked with ARMv7, but I've heard from a few people that they got it working with the Pi Zero (not sure how though).

[2016-04-04 23:45] jaysan21 commented on #211
Yes, we installed pulse audio and it is still not picking up the mic in the smart mirror application.

[2016-04-04 23:47] evancohen commented on #211
Did you restart the Pi after? If you run `npm run microphone-debug` (on the latest in master) I created a simple utility to debug microphones. The "blank" entry in the dropdown is your default microphone.

[2016-04-05 00:04] jaysan21 commented on #211
We were working on a older version of the project about 2 months ago we are using that.

[2016-04-05 00:17] evancohen commented on #211
There's not much I can do to help without more information. What have you tried so far? You might want to give the instructions here a shot: http://askubuntu.com/questions/31206/how-can-my-audio-input-always-be-the-webcam-microphone

[2016-04-05 04:05] darealShadow commented on #212
Hi Evan
Thanks for your feedback. I'll try to follow your instructions updating. If that doesn't work I'll uninstall node and electron again and try again running it on the arm7 version.
If anyone successfully installed it on the pi zero let me know.  As soon as I get that running I will publish a detailed instruction on my blog if that's OK with you, Evan. Appreciate your feedback.

[2016-04-05 08:14] evancohen commented on #212
Pretty sure ARMv7 binaries wont work on a ARMv6 device ;) You'll need a Raspberry Pi 2 or 3.

[2016-04-05 13:52] darealShadow commented on #212
Well if thats all what it takes I will make this investment ;)

[2016-04-05 19:12] evancohen commented on #212
If you are doing it I recommend the Pi 3 (same price, more power). Good luck!

[2016-04-05 19:12] #212 closed

[2016-04-06 01:33] jaysan21 commented on #211
The mic worked once but the app doesnt always pick it up. Its either a hit or miss.

[2016-04-06 07:19] Shubham0209 opened #213 "Python code/script by voice command"
Actually I was thinking of running the motors,led strip and other Hardware devices connected to the gpio pins of Raspberry Pi through voice command.I was able to download the python code available for running the motor on rasp forum but don't know how to integrate it with the smart mirror.I also went through the Python branch of the smart mirror but was unable to understand how to use it, any help

[2016-04-06 07:55] evancohen commented on #213
The Python branch create a service (craftally named python-service.js) which executes arbitrary bash commands as the active user. So this means you can run a Python script (or anything else) from within the mirror.

Check out that file and let me know if you have any more questions :)

[2016-04-06 07:57] evancohen commented on #211
Without more info there's nothing I can do. Please give me a little more to go on (what's your default PulseAudio device, what USB mic are you using, what Pi are you using, etc)

[2016-04-06 07:57] #211 closed

[2016-04-06 09:11] cxcornel commented on #64
If PIR sensor is used, the mirror can also have something like "Alarm Mode". When the mirror is set into this mode, it would take a picture and notify "admin" every time it detects presence in front of it.

[2016-04-06 09:16] cxcornel opened #214 "RFID/NFC Authentication system"
Can you add some sort of authentication system for multi-user usage? This way it can store preferences and be used also as an alarm system using Motion detection(webcam) or PIR sensor.

[2016-04-06 09:18] Naivn3m opened #215 "Face Detection"
Face Detection would be a great addition to your project

[2016-04-06 10:31] stephwe opened #216 "Integration with Wunderlist"
I think it would be very cool and useful to integrate Wunderlist.
https://developer.wunderlist.com/documentation

[2016-04-06 10:44] kurtdb commented on #210
The hard part to implement this, is that there is no standardized service that offers this information as far as I know. There might be one for the US, but in Europe this information will not be very useful.

This might result in a service which only 1% of users will use. I'm afraid this will result in a very low priority, so might be best to implement it yourself and contribute it.

[2016-04-06 19:43] evancohen commented on #215
Duplicate of #59

[2016-04-06 19:43] #215 closed

[2016-04-06 22:41] gabedragon opened #218 "issue installing dependencies with npm install"
Hey, I am using the raspberry pi with jessie installed. I have followed all of the steps in the documents but when I get to the install dependencies I start to have trouble. Here is the message I get -
pi@raspberrypi:~/node-v4.0.0-linux-armv7l $ sudo npm install /home/pi/smart-mirror
/

sh: 1: bower: not found
npm ERR! Linux 4.1.18-v7+
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "inst

[2016-04-06 22:58] gabedragon commented on #218
nvm I fixed it.

[2016-04-06 22:58] #218 closed

[2016-04-07 01:25] evancohen opened #219 "Install script"
An install script that downloads the mirror and installs all dependencies.
This needs a little bit more love to get working 100%. The script does the following:
- Installs node (if not installed already)
- Installs unclutter (hides mouse when inactive)
- Sets rotation for mirror (requires reboot)
- Clones the `smart-mirror` (using the master branch)
- Creates an empty config file
- Installs `smart

[2016-04-08 06:38] Shubham0209 commented on #213
[motor_pi.docx](https://github.com/evancohen/smart-mirror/files/209711/motor_pi.docx)
suppose this is the python code which is to be executed on voice command - "run motor", then what changes are required to be made into the python branch in order to execute it. Sorry for the noob question.

[2016-04-08 14:04] darkeagl opened #222 "Error while start"
Hi, I get this error when I start the Raspberry (Pi 1 B+)
It is a clean install from your docs website, followed everything

** Message: app.vala:76: Launching pcmanfm

** (lxsession:523): WARNING **: app.vala:86: Failed to execute child process "xscreensaver" (No such file or directory)

** (lxsession:523): WARNING **: app.vala:87: Error when launching xscreensaver
** Message: app.vala:76: Launch

[2016-04-10 18:02] Zaratiegui opened #223 "microphone"

[2016-04-11 08:05] kurtdb commented on #223
Without a description, chances are very slim this issue will be long lived.

[2016-04-11 09:29] kurtdb commented on #222
The raspberry pi 1 B+ is not supported, as is stated in the documentation. (http://docs.smart-mirror.io/docs/supported_hardware.html)

[2016-04-11 09:38] Zaratiegui commented on #223
sorry, I was not trying to write anything.
Anyway, my smart mirror finally works!

[2016-04-11 09:38] #223 closed

[2016-04-11 13:56] kurtdb commented on #199
@Shogan any updates on this? :)

[2016-04-11 13:58] kurtdb commented on #132
@Time4u2run any update on this? It's been over a month, so did you have any time to test?

[2016-04-12 01:12] shekit commented on #170
Any updated theory on this? I'm facing a very random issue where my code was working earlier in the day and suddenly stopped working, no voice detection.. nada..

Here's another issue I opened on annyang that details all my attempts [https://github.com/TalAter/annyang/issues/188](url)

[2016-04-12 08:30] javiersigler commented on #219
What about this way:
curl -s https://raw.githubusercontent.com/evancohen/smart-mirror/dev/scripts/install.sh | bash
?

[2016-04-12 15:07] Shogan commented on #199
Hi Kurt,

Unfortunately I've been tied up with other work the last week. I haven't
had a chance yet, but will look into it soon I hope.

On 11 April 2016 at 14:56, Kurt Du Bois <notifications@github.com> wrote:

--
VMware vExpert 2012-2016
Shogan.tech <http://www.shogan.co.uk> - VMware, Cloud, Automation,
scripting blog
Hobbyist Coder <http://hobbyistcoder.com> - Programming and Game
Development b

[2016-04-18 07:11] evancohen commented on #170
You are correct in you assumption that the issue is with key utilization (there have been may discussions about this on the gitter chat, which I suggest you check out).

I'm looking at alternatives (BlueMix, Microsoft, etc) as well as investigating offline Keyword Spotting to reduce quota usage.

[2016-04-19 15:09] ddelm opened #226 "Speech recognition not working via wifi"
Hi there,
I am a baby with codes and solving my problem is beyond my skills : I connected my pi to ethernet and the smart-mirror works like a charm :o).
When I unplug the network cable and connect with wifi the Google speech recognizer gets down...
Any idea please ?

[2016-04-20 01:09] evancohen commented on #226
It could be a few things

1) You are connected to the WiFi but not the internet
2) Your WiFi/internet is running super slow
3) You are actually out of requests (connecting back to Ethernet gives you the same error)

I'm guessing 3 is the culprit here, can you test Ethernet again?

[2016-04-20 06:56] wuast94 opened #227 "idea: Twitter, Facebook and others feed."
It would be nice to impliment feed from Social Media

[2016-04-20 17:12] evancohen commented on #227
This can be done via RSS (although I suppose it would be possible to make these "first party" modules).

[2016-04-20 20:42] evancohen commented on #213
the python controller actually lets you run arbitrary bash commands (see the python service). So you could `python motor_pi.py`

[2016-04-20 20:42] #213 closed

[2016-04-20 20:42] #222 closed

[2016-04-20 20:44] evancohen commented on #170
Another update: I've got keyword spotting functioning in the `evancohen/keyword-spotting` branch. There are a number of issues that exist with this implementation, namely poor performance and some comparability issues with certain microphone setups.

[2016-04-21 11:30] ddelm commented on #226
Thank you for your reply evancohen.
1-> no, the internet works fine
2-> my wifi connection is actually pretty good
3-> may be but when I connect the Ethernet it works again.

When I surf on he I Internet via wifi it works very well.

I will try to replace my wifi stick maybe it comes from that.

Thanks again for your help.

[2016-04-21 12:32] Prahli commented on #226
Hi ddelm,
I had a similar problem with the raspberry 3. After some hours of Google I have read about a problem that even if the signal goes out via wifi, the raspberry is waiting for response on the ethernet port. So I have outcommented the ethernet port in the config file. Now it works good for me. It´s worth a try

[2016-04-21 16:30] evancohen commented on #226
@Prahli thanks for the info! Sounds like that's the issue to me.

[2016-04-21 16:30] #226 closed

[2016-04-21 17:34] ddelm commented on #226
Thank you so much ! You solved my problem :0)

[2016-04-22 00:35] skydazz opened #228 "Plug in microphone, Google speach recognizer is down :("
When I don't have a microphone pluged in it says what can I Say but when I plug in my mic it says Google speach recognizer is down :(

RPI 2 raspian
Turtle beach px22 ear force controller for mic

[2016-04-22 03:21] evancohen commented on #228
This is active issue with the Google speech recognizer and is already being tracked by #170. The current solution is to get your own speech keys (instructions for this in the documentation) and to the the keyword spotting branch.

[2016-04-22 03:21] #228 closed

[2016-04-25 11:47] overflOw11 commented on #208
Check on the dev branch, the support for multilingual detection in hue-service was merge 2 days ago :p

[2016-04-25 17:46] #208 closed

[2016-04-26 13:12] shrimp69 commented on #170
I just set it up today and it seems I already made too many requests. I have my own Google API keys but in a matter of 2-3 minutes I made over 500 requests and now it seems to be down for me.

[2016-04-26 14:33] skydazz commented on #170
I am still getting "Google speach recognizer is down :(" when I plug in any sort of microphone in to it. I have my Own Speech Keys. May I suggest that its a driver issue. Is it set to only be compatible with a list of mics? (PS: It was "Say "What Can I Say" to see a list of commands" when I unplug the microphone.)

[2016-04-26 14:37] skydazz commented on #170
Also I get the "[1444:0426/103700:ERROR:logging.h(813)] Failed to call method: org.freedesktop.NetworkManager.GetDevices: object_path= /org/freedesktop/NetworkManager: org.freedesktop.DBus.Error.ServiceUnknown: The name org.freedesktop.NetworkManager was not provided by any .service files" Message in the Terminal When I start it.

[2016-04-27 01:05] skydazz commented on #170
I have started from scratch. I downgraded from Jessie to wheezy and I am following the documentation exactly as it is printed (except config.js). I am using a USB camera as a mic as it states in the documentation also. Will post results soon

[2016-04-27 03:26] skydazz commented on #170
Ok, my issue now, still with sound, is getting the usb camera mic as the mic being used, I can use any USB sound device for anything. I have tried turtle beach px22 controller, USB sound card, and a USB camera

[2016-04-28 16:33] evancohen commented on #170
@skydazz have you tried following the directions in the troubleshooting section of the documentation? You may also want to look at #20 (which was an old thread on the issue that may help you find an alternative solution)

[2016-04-28 20:40] Binaryash opened #233 "Mirror going to sleep"
As requested by Evan, posting the mirror sleeping issue.

My mirror goes to sleep in just 2 or 3 mins. A press of the connected keyboard wakes it straight up.

I can recreate the issue after a complete rebuild of the mirror, using s fresh Jessie install

Binaryash>

[2016-04-28 23:02] evancohen commented on #233
Just for clarification purposes @Binaryash followed the steps in the documentation and his pi keeps going to sleep: http://docs.smart-mirror.io/docs/configure_the_pi.html#disable-screensaver

[2016-04-29 12:52] pearno commented on #172
Hi folks,

I'm a brand new smart-mirror user/builder, and I can confirm that I have the same problem, specifically with recurring events.  The source is a shared iCloud calendar.  I temporarily added my work Exchange  calendar and saw a similar pattern - recurring events not showing up, but ad-hoc events just fine.

To confirm the problem, I created a new calendar, published it, then created three

[2016-04-29 13:09] bmccuskey commented on #172
I've become increasingly aware of how many recurring events I have programed in my calendars. I have noticed that sometimes, some repeating events show up, but not always.

[2016-04-29 14:44] Sachin1968 commented on #170
@skydazz Were you able to resolve the issue you had with " Failed to call method: org.freedesktop.NetworkManager.GetDevices: object_path= /org/freedesktop/NetworkManager: org.freedesktop.DBus.Error.ServiceUnknown: The name org.freedesktop.NetworkManager was not provided by any .service files"

I have the same issue and can't figure out how to resolve it. Thanks.

[2016-04-29 17:47] evancohen commented on #170
@Sachin1968 that error is unrelated to this thread and is harmless - you can be safely ignore it.
You can find more info on [this Chromium forum post](https://bugs.chromium.org/p/chromium/issues/detail?id=109696).

[2016-04-29 21:47] Binaryash commented on #233
Resolved :
I found that putting the code from this section of the documentation..
[http://docs.smart-mirror.io/docs/configure_the_pi.html#disable-screensaver]

into this file     /home/pi/.config/lxsession/LXDE-pi/autostart

stops the screen from sleeping.

Binaryash>

[2016-04-29 21:47] #233 closed

[2016-04-29 23:16] evancohen commented on #172
Thanks for sharing that @pearno, it'll be super helpful for debugging this issue. @kurtdb is on vacation so maybe @yaydogan can take a look. If not I'll add it to my todo list :)

[2016-04-29 23:17] evancohen commented on #132
closing this out because this issue has gotten stale

[2016-04-29 23:17] #132 closed

[2016-04-30 02:28] yaydogan commented on #172
Hi all,
I have been away from the forum for a while due to busy schedule. I know the timezone issue for sure but don't have a fix for it yet. I can take a look at the test calendar @pearno  provided next week. Will keep you all posted.

[2016-05-01 21:04] Binaryash opened #235 "Phillips Hue Integration"
In order to get the Mirror to work with the Hue bridge, you need to create a username.

follow the steps listed on the Hue developer web ....

http://www.developers.meethue.com/documentation/getting-started

This will give you the username that you need to put into your config.js file on the mirror.

[2016-05-01 21:04] #235 closed

[2016-05-02 00:33] evancohen commented on #170
So, another update for you all :)
Keyword spotting officially works in the in the [evancohen/keyword-spotting](https://github.com/evancohen/smart-mirror/tree/evancohen/keyword-spotting) branch. Unfortunately the Pi is not quite powerful enough to process everything in real time. Because of that I've added a clap detector to that same branch, all you have to do is clap (a configurable number of tim

[2016-05-02 16:40] evancohen commented on #159
Seems like this is now all taken care of. It'll be an ongoing process to keep all the localization files up to date, so please file a new issue or create a PR if anything gets out of sync.

[2016-05-02 16:40] #159 closed

[2016-05-02 16:53] Sachin1968 commented on #20
I finally just reinstalled pulseaudio per evan's definitive answer...Voila!

![image](https://cloud.githubusercontent.com/assets/18444661/14960877/7c175798-105c-11e6-893f-3931c1c68520.png)

[2016-05-03 05:47] evancohen commented on #50
This is fixed in #234

[2016-05-03 05:47] #50 closed

[2016-05-03 17:19] skydazz commented on #228
For Anyone else with this issue I had to install PulseAudio

[2016-05-04 01:49] evancohen commented on #166
Absolutely, you can do this with https://www.npmjs.com/package/ds18b20

[2016-05-04 01:49] #166 closed

[2016-05-04 01:50] evancohen commented on #114
Feel free to reopen this issue if you have any more questions about it, but I'm going to consider this closed.

[2016-05-04 01:50] #114 closed

[2016-05-05 23:10] skydazz opened #239 "[Dev Branch] Alot of videos can't be played"
I am on the dev branch. When I play a video alot of them say they must be watched on YouTube.com due to (dcc? I think) Regulations.

[2016-05-06 18:16] overflOw11 opened #241 "Regexp with annyang"
To get more flexibility in control of voice detection, we can use regexp instead of simple sentences to match command. Regexp are powerful and allow to match more sentence for one command.
I''m working on version which allow dev to set regexp in locale files. It works pretty well but I would like to have your point of view on this :
- Is it possible to work only with regexp on the locale files
- o

[2016-05-06 21:11] evancohen commented on #241
I'd be totally open to using Regex, the only reason I shied away from them originally was because I was already getting the flexibility I wanted with standard Annyang expressions: using `(` and `)` to make words optional, using `:` for single word in-sentence variables, `*` for wildcard, etc.

I'd be curious to know what commands you want to add/change that can't be achieved without the use of Reg

[2016-05-06 23:18] overflOw11 commented on #241
I agree with your final comment, support both standard and regex command  would be better.
It''s not really difficult to add this possiblity, i just add an addRegexpCommand in the annyang service and I check in the addCommand function of the controller if the regexp is defined for the command you want to add (in the locale files).
To explain why I need regexp, this is just to get more flexibility

[2016-05-07 01:06] evancohen commented on #241
Can't this be accomplished with: `"(show)(search)(me)(a) video of*"`? Maybe in French it's more complex than this, but it seems relatively straightforward. Sure, syntactically it's not quite as nice as `"(show|search) (me|a) video of *"`, but they are effectively the same.

[2016-05-07 09:20] overflOw11 commented on #241
You're right ! For the end user, this is the same as the regexp. This is even better for the end user because he can say whatever he want before "video of...", contrairly to the regexp. I keep my regexp branch internal. If you need it, ask to me. I close this suggestion/question.

Thank for your comments.

[2016-05-07 09:20] #241 closed

[2016-05-08 20:17] wagdatto opened #244 "Forecast, Time to work and voice do not work unless started in Dev mode."
After a fresh rebuild of the whole system to try to fix the voice not working, I have things displaying properly.  However, unless I start npm using the dev tag, the forecast and driving time don't display, and the microphone doesn't push anything to the bottom of the screen as voice commands.  Once started in dev, voice works and the forecast, etc show up.  Once the dev window is closed, the voic

[2016-05-10 18:23] nicoparis opened #245 "map not displaying without throwing errors when changing language to fr in Config.js, working well with en"
Hi Evan,

As i told you, when i change the language to 'fr' in config.js the map is not displaying when i told the map to display.
Not a sound detection problem i think it's later because the speech detected is the same than the one in the localization file.

Thank you very much for your help

[2016-05-11 08:42] evancohen commented on #239
Relevant to the completion of #113. According to the [YouTube Documentation](https://developers.google.com/youtube/v3/docs/search/list#parameters) we should be able to use the `videoEmbeddable` parameter to exclude results that can't be embedded in the mirror.

[2016-05-11 23:28] evancohen opened #248 "Mirror Service"
In an attempt to make the mirror more user friendly, we should add a service to manage mirror operations:
- Let you control the power of the mirror remotely (Possibly via something like Home Assistant or other home automation tool).
- Run a command on the mirror remotely (for testing purposes)
- Uses the GitHub API to check the [release version](https://api.github.com/repos/evancohen/smart-mirror/

[2016-05-12 11:51] thomasstr commented on #248
You were talking about having a single node server for administrating the config. How about if you also  would be able to add/remove the different "widgets" that you would like to show in the default view? Maybe a site with all the widgets that is available and you can have a checkbox on each for showing them.

[2016-05-12 22:04] ojrivera381 commented on #140
I love this idea. Currently i'm using Mythbuntu as a backend server with a ceton digital tuner card and a verizon fios decryption card. i then loaded Kodi on all my rpis to run live tv using mythtv plugin. Is there away to use this as a starting point. I'm no devekoper so I can only assist by being a guinea pig for ya.

[2016-05-13 01:12] Aosdin opened #249 "windows7 electron install error"
run git-bach

$ npm start

'electron'▒▒(▒▒) ▒▒▒▒ ▒Ǵ▒ ▒ܺ▒ ▒▒▒, ▒▒▒▒▒▒ ▒▒ ▒ִ▒ ▒▒▒α׷▒, ▒Ǵ▒
▒▒ġ ▒▒▒▒▒▒ ▒ƴմϴ▒_.(Internal or external command, program or batch file)_

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "start"
npm ERR! node v4.4.4
npm ERR! npm  v2.15.1
npm ERR! code ELIFECYCLE
npm ERR! smart-mi

[2016-05-13 03:40] evancohen commented on #249
Please include this file to help debug.

[2016-05-13 03:42] evancohen commented on #140
Agreed, it would be pretty cool to be able to watch TV. You can already watch YouTube on the `dev` branch today.

Maybe someone else can take a look at implementing this?

[2016-05-13 05:54] patm189 opened #250 "Having trouble with mirror.conf set up. Any help?"
Hi, I'm not a programmer whatosever, but I've been doing okay following instructions on smart mirror until now. I'm working on adding mirror.conf but getting stuck.

I'm on the following step. I believe I've done everything correct. I added the configuration to "sudo nano /etc/nginx/sites-available/mirror.conf", but when I try to activate the configuration with, "sudo ln -s /etc/nginx/sites-availa

[2016-05-13 08:51] Keopss commented on #170
All time "Google speach recognizer is down :(" I have setup my own Google Keys. I don´t know because  this service is not stable...

[2016-05-13 09:03] evancohen commented on #250
I think you may be in the wrong place, friend. No PHP servers in this smart mirror!

The documentation for this project can be found here:
http://docs.smart-mirror.io

That said I'll still totally help you with what you've got going (but I will close the issue because it isn't relevant to this project). Could you share the tutorial you were following so I can get a better sense of what's going on?

[2016-05-13 09:03] #250 closed

[2016-05-13 09:05] evancohen commented on #170
@Keopss we'll get you sorted out in gitter :)

[2016-05-13 11:41] patm189 commented on #250
Thanks for the reply, Evan! That is so strange, I thought I was following the correct instructions to the letter: http://blog.dylanjpierce.com/raspberrypi/magicmirror/tutorial/2015/12/27/build-a-magic-mirror.html

Perhaps there's more than one way to skin a cat? I am hoping I didn't irreversible screw anything up on my Pi. I will run through the documentation you provided and follow up if I run in

[2016-05-13 15:03] joerod commented on #170
I had the same problem with overusing my 50 speech API calls in about 10 minutes of use so I'm happy to test the new "clap" feature.

[2016-05-13 16:40] Keopss commented on #170
One question i try to configure Clap detection.

I follow this steps:

1- sudo apt-get install sox
2 - npm install
3 - edit my config.js file inside my files mirror folder.
4 -  add this:

overrides : {
    AUDIO_SOURCE: 'hw:1,0', // this is your microphone input. If you don't know it you can refer to this thread (http://www.voxforge.org/home/docs/faq/faq/linux-how-to-determine-your-audio-cards-or

[2016-05-14 08:50] gunatenam opened #251 "weather is not work"
I'm a student in Korea trying to set up smart mirror with Evancohen's guidance.

I'm not used to Javascript, so I'm just following steps of Evancohen's smart mirror guide post. I succeeded to show greetings and time on display, but I'm stuck on weather forecast.

I don't know how to get weather API and input it in weather.js without error. Tried my best, but when I run npm start, only time and gre

[2016-05-14 23:40] evancohen commented on #251
Lose the brackets inside the forcast key:
[code]

that's the only change you should need.

[2016-05-14 23:40] #251 closed

[2016-05-15 03:55] gunatenam commented on #251
yes, I do that. But I can't see weather yet.

[2016-05-15 12:13] gunatenam opened #252 "weather problem."
Now I have a problem in weather part.

In config.js

I wrote

forcast : {
    key : "ab68b753b3aba5e9b71781cdcba2df99", // Your forcast.io api key
    units : "auto" // See forcast.io documentation if you are getting the wrong units

and

In weather.js

service.init = function(geoposition) {
        geoloc = geoposition;
        return $http.jsonp('https://api.forecast.io/forecast/'+config.forcast

[2016-05-15 16:48] evancohen commented on #252
Looks like you made some changes to that file. https://github.com/evancohen/smart-mirror/blob/master/js/services/weather.js#L11

Unless you need them you should revert. If you are still having issues then look at the network tab and see if you are making the correct request. This may be a symptom of Electron not being able to determine your location, so you may want to hard-code it (this config va

[2016-05-15 16:48] #252 closed

[2016-05-16 13:37] yomgdf commented on #153
Hi,
I'm havin exactly the same issue.
Thanks to Shubham0209, hos procedure to install bower solve that problem !
But I still erros on startup with an empty black screen and a bar on the bottom of the screen :
![image](https://cloud.githubusercontent.com/assets/11963962/15290817/34264212-1b7b-11e6-949a-98b90adafe11.png)

I thought about a config.js problem, but i can't find it !
`var config = {

[2016-05-16 19:08] evancohen commented on #153
Hey @yomgdf can you run `npm start dev` and tell me what error you see in the dev console?

[2016-05-16 21:53] yomgdf commented on #153
Hi @evancohen
Here are the logs:

[2016-05-16 22:08] evancohen commented on #153
@yomgdf I'm talking about the chromium dev tools (the side panel that opens up inside the UI of the mirror).

[2016-05-16 22:38] yomgdf commented on #153
Sorry...

Red logs are:
angular.js:13236 TypeError: Cannot read property 'midday' of undefined
    at greetingUpdater (controller.js:117)
    at MirrorCtrl._this.init (controller.js:135)
    at new MirrorCtrl (controller.js:379)
    at Object.invoke (angular.js:4604)
    at extend.instance (angular.js:9855)
    at nodeLinkFn (angular.js:8927)
    at compositeLinkFn (angular.js:8226)
    at composi

[2016-05-16 22:42] evancohen commented on #153
Ah, I see what the issue is. You commented out `greeting` in your config so the mirror assumed that you were specifying time bound greetings, which is also commented out.

If you want to have no greeting you can set the `greeting` array to a single empty string to fix this problem.

[2016-05-16 22:47] yomgdf commented on #153
Arf I haven't see the /* */ comments on multi line greetings...
Thanks a lot @evancohen, it works !

[2016-05-16 23:32] Keopss commented on #170
Only works with clap no with keyword then? :)

[2016-05-18 07:04] Keopss commented on #170
Hi @evancohen ! i don´t know what happen with my rabs :(

I have installed smart-mirror-master and work fine. Then i install smart-smirror with keyword then edit config.js and add overrides options but no clap and speech detection.

[2016-05-18 12:53] gunatenam opened #255 "Error: Failed to call method"
Now I have a problem =.
It's is that weather is not display when 'npm start'.

when npm start,
In consol, I saw Error like this

![image](https://cloud.githubusercontent.com/assets/19358851/15359106/c8d70ae0-1d42-11e6-8c33-2981d57b2438.png)

I think that this error is reason of weather's problem.

How to do solve this problem?

[2016-05-18 14:48] gunatenam commented on #255
I find solution. reason is old node version. so I install new version, then I can see weather UI

[2016-05-18 14:48] #255 closed

[2016-05-18 17:47] Sachin1968 opened #256 "Scrobbling Support"
Can we add Last.fm support?

[2016-05-18 23:02] evancohen commented on #170
The geniuses over at http://kitt.ai have created an offline keyword spotter that should work. In order to find out I need your help to train the keyword "smart mirror". Just follow these steps:

1) Go to https://snowboy.kitt.ai/hotword/47
2) Click "Record and download the model"
3) Follow the instructions to train the model (be sure to click "save" at the end!)

I'll continue to keep this thread u

[2016-05-18 23:31] #23 closed

[2016-05-18 23:31] #113 closed

[2016-05-18 23:33] evancohen commented on #239
This should be fixed now

[2016-05-18 23:33] #239 closed

[2016-05-21 02:28] smalik03 commented on #172
Hey guys, I am having the same issue with my calendar as well. For me, the problem is with recurring events, they do not show up. I debugged the Calendar service and noticed the condition for 'RRULE'  on line number 107

`if (cur_event['SUMMARY'] !== undefined && cur_event['RRULE'] !== undefined &&
              cur_event['DTSTART] !== undefined && cur_event['DTEND'] !== undefined)`

The issue fro

[2016-05-21 20:56] rholmboe commented on #214
I'd probably go with some sort of wifi/bluetooth module and check distance and/or closest match. Latest RPI comes with both embedded, and most operative systems support simple dongles from what-ever site you prefer.

When random person X is closest, nothing but the "default" is visible.
When legit person Y is near, default + extras is shown for him/her.

[2016-05-21 22:12] HelloExactly opened #258 "Video Stop On "Go Home" Command"
Video continues to play upon arriving at home screen.

[2016-05-23 19:06] Keopss commented on #170
Hi! how gone? fine?

[2016-05-23 19:32] evancohen commented on #170
I have a working implementation of keyword spotting, I'm currently trying to fix an issue on the Pi 3 that causes recognition to fail because of a native PulseAudio issue.

[2016-05-23 20:51] trenkert commented on #170
Hello, I've succesfully installed smart mirror and I am very impressed!

However, I also get "Google Speech Recognizer is down"...

How long will it take for you to implement the new solution into the main branch?

Just an idea:
Could you use jasper with pocketsphinx (http://jasperproject.github.io/) to train a number of keywords than then either activate Google STT or Amazon Alexa? Or is Kitt.ai

[2016-05-23 21:23] trenkert commented on #102
I would also love to have this feature.

[2016-05-24 01:14] evancohen commented on #102
@trenkert noted. Once in finished with the keyword spotter I'll take a crack at it :)

[2016-05-24 01:25] evancohen commented on #170
I tried Jasper... it's quite resource intensive and is painful to use as a dependency (building projects on top of it is great, building integration into an existing project not so much).

I also tried PulseAudio (same native recognition engine that Jasper uses) and it wasn't quick enough to recognize keywords without significant lag.

Snowboy (from the folks at kitt.ai) is super lightweight and v

[2016-05-24 09:01] trenkert commented on #170
cool! What's the problem with pulseaudio?

[2016-05-24 18:31] evancohen commented on #170
@trenkert it's an issue with Bluetooth that causes PulseAudio to crap out. Even after disabling it within the config the issue persists (which makes me think there may be another root cause). I'm worried that the real cause is a conflict between dependencies of the mirror and keyword spotter (but I haven't confirmed this yet, and I don't *think* it's the cause).

[2016-05-25 01:42] ev1stensberg commented on #78
I agree with @evancohen. Alltough we could do better. Voice could turn out to be a right way to go if we have the context-architectural reason to. Either if its a middle-ware or out of the box as a core functionality. In terms of middle-ware, we could pre-fetch a voice-response for  slow wi-fi, and cache this if possible. Means that you'll get a somewhat progressive feedback based on your request.

[2016-05-25 02:55] chenguoguo commented on #170
Sorry for coming into this late. Snowboy is a C++ library and doesn't have much dependency. It will work as long as you can feed it linear PCM data sampled at 16K, with bits per sample 16, and number of channels 1. PyAudio is only used for demo purpose. If it turns out that PyAudio is the problem, we can turn to other alternatives for audio capturing.

In the [Snowboy repo](https://github.com/Kitt

[2016-05-25 07:29] evancohen commented on #170
Hey @chenguoguo thanks for dropping in! Awesome to see you all so committed to your (super awesome) project. I managed to write a pretty hacky IPC between Node and your pre-packaged Snowboy binaries/Python wrapper. It's *definitely* not the ideal way to use Snowboy with Node, but I just wanted to see if I could get something that would work.

I don't think it would be too challenging to [wrap the

[2016-05-25 07:47] chenguoguo commented on #170
That's great @evancohen! @amir-s is also helping us working on the NodeJS module, see the issue [here](https://github.com/Kitt-AI/snowboy/issues/4). He'll likely get something soon.

[2016-05-25 11:31] kurtdb commented on #244
Sorry for the late reply, but which branch are you using? And is the problem still showing?

[2016-05-25 12:21] snypervash opened #259 "Smart mirror startup"
Hey Guys, I followed the guide and when I reboot my pi, it just gets stuck on the desktop screen with no taskbars. Any help is much appreciated.

Also, I can't install NPM without getting the 'illegal instruction' error.

[2016-05-25 13:15] #259 closed

[2016-05-25 18:03] evancohen commented on #256
That would be super cool! Unfortunately I've got a lot on my plate right now, but I'd be happy to consider a PR if you send one.

[2016-05-25 22:54] ojrivera381 commented on #140
Looks like this is a dead project, but could be a good resource for implementing Livetv via mythtv api.
https://github.com/MythTV-Clients/MythExpress

[2016-05-26 00:32] evancohen commented on #140
@ojrivera381 Totally not dead... Why do you feel that way? The last big update was only 6 days ago and the latest code check-in was last night. The project is alive and well (although maybe my perspective is a bit biased).

I am a bit overwhelmed with feature requests and am still working on fixing some underlying speech issues (which I consider the highest priority because they are a part of core

[2016-05-26 00:38] evancohen commented on #258
Thanks for following through and filing this. I'll take a look after I finish the keyword spotter :)

[2016-05-26 01:52] HelloExactly commented on #258
Thanks for putting this project together!

[2016-05-26 05:25] ojrivera381 commented on #140
Totally understand

[2016-05-26 05:26] ojrivera381 commented on #140
No. not your project. I meant the Mythhexpress one I linked. no update in over a year

[2016-05-26 17:08] evancohen commented on #140
Hahaha, wow. Looks like you struck a nerve there ;)

I wonder if we could just throw Netflix in there... that'd be interesting. They no longer have an API, but maybe we could do something tricky with windowless pop-ups or iFrames...

[2016-05-26 18:20] kurtdb commented on #172
This should be fixed in my dev-branch (https://github.com/kurtdb/smart-mirror/tree/dev)

If anyone who has the problem can verify it works for them, that would be awesome.

The example ical that was shared in the bug report now works for me. (shows recurring events for event 1 and 3)

<img width="1440" src="https://cloud.githubusercontent.com/assets/5654891/15585364/2f06e3fc-237f-11e6-9139-d9e71a2

[2016-05-26 19:15] kurtdb commented on #249
I would say: try installing nodejs in a path that does not contain a space. Most of the time, it's the root of all evil.

[2016-05-26 19:28] kurtdb commented on #245
Do the other commands work correctly?

[2016-05-26 20:24] trenkert commented on #170
@evancohen I've experienced a similar issue. I would guess it has to do with pulseaudio-bluetooth. It works for me when I start pulseaudio manually once again after login.

[2016-05-26 22:27] ojrivera381 commented on #140
I get it I would be pissed too, but you know how I fell about this project. I follow it almost everyday.

[2016-05-27 13:54] pearno commented on #172
I've just tested this and it works a treat, both on my test calendar and my original calendar that I was having issues with.  Great stuff!

[2016-05-27 14:45] kurtdb commented on #172
Okay, I will merge it into Evan's dev branch later today.

[2016-05-31 09:26] kurtdb commented on #57
@SenadM is the soundcloud and youtube integration enough for you? Or do you see another possible integration point?

[2016-05-31 10:31] kurtdb commented on #172
Closed due to the fact that this is now integrated in the dev-branch.

[2016-05-31 10:31] #172 closed

[2016-05-31 12:12] evancohen commented on #57
@chr1s1 It seems that you can get Sonos (and Chromecast!) integration with PulseAudio, which is already a dependency of the mirror: https://github.com/masmu/pulseaudio-dlna/issues/32

I'm going to add https://github.com/masmu/pulseaudio-dlna to the smart-mirror documentation because that is **totally awesome**.

[2016-05-31 12:36] chr1s1 commented on #57
Awesome! Thanks a lot! @evancohen

[2016-05-31 19:58] sata73 opened #266 "Switch calendar via Voice Command per User"
It would be great to show different calendar or even RSS feeds per user via voice command, eg. "Show Evans calendar" or log in as a user via voice command to show specific content and log out to show default content.
It could probably be done by adding users to modules in the config and define if it is for this or for that user or for all.

[2016-05-31 22:29] evancohen commented on #266
I think the best approach here would be to use the webcam and facial recognition here, as suggested in #59

[2016-06-01 02:01] evancohen opened #267 "Eat24 Integration"
The mirror needs Eat24 integration so we can be super lazy and order food to be delivered conveniently to the door.

[2016-06-01 06:12] trenkert opened #268 "Slideshow mode"
for screens that are smaller or have a lower resolution.

The idea is that different modules like weather, calendar, greetings are shown as rotating slides. Only when a voice command is activated, the screen stays fixed (and shows a map, for instance).

[2016-06-01 06:14] trenkert opened #269 "css themes"
The default theme is nice but I'd like an option where the font weight is a little bolder. I can, of course, do this manually for each module. But I would prefer having the option of different themes.

[2016-06-01 07:20] evancohen commented on #268
I think the better solution here would be to use viewport based font sizes so that the mirror gracefully degrades down to smaller screen sizes.

How does that sound?

[2016-06-01 07:22] evancohen commented on #269
A theme system already exists (see icesnow in the config documentation). Can you be a bit more specific about what you want?

[2016-06-01 17:53] sata73 commented on #266
Thanks for your fast reply!
I thought about voice control, because not everyone is fine with having a cam spying into the room. And since voice control is already enabled, it might be worth a thought, using the available technology.
The command home shows the default layout. Probably different layouts could be defined which can be called by custom commands like Evans home? Is that possible?

[2016-06-01 18:17] overflOw11 opened #270 "Language in annyang won't work"
I can't change annyang language anymore with my smart-mirror. The setLanguage function disappears from annyang-service.js when it changes to speech.js.

Can we reintroduce this fonctionnality ?

[2016-06-01 20:43] trenkert commented on #268
Yes, that would be an alternative. However, I still think that rotating slides also have some benefits.

[2016-06-01 20:46] evancohen commented on #268
It'd be interesting to see how it would work. Create a rough prototype and I'd be happy to take a look.

[2016-06-02 19:33] kralle1987 opened #271 "Error: "Cannot find module" and "Unknown Provider""
Hi,

I am somehow not able to get it running.
I used the step by step installation guide.
I only use the greeting, weather, traffic and the calendar. everything else is commended.
when I run it in dev mode I get 2 errors:
"Cannot find module './router'"
and
"Unknown Provider: FitbitServiceProvider <-Fitbitservice <- MirrorCtrl"

View the [Screenshot](http://i.imgur.com/HMaF99n.png) here

Any ideas

[2016-06-02 20:10] overflOw11 opened #272 "Load of the config.js file in main.js doesn't work"
Load of the config.js file doesn't work in the main.js file. We can check if the file exists with the first if clause in the catch block. The line "config = require(__dirname + "/config.js");" doesn't load the file, it just allow us to check if the file exist so later in the main.js file, when we load the config.speech.model (var modelFile = config.speech.model || "smart_mirror.pmdl"), the config

[2016-06-02 21:01] evancohen commented on #272
You're probably missing the final line of your config file:
[code]

See: https://github.com/evancohen/smart-mirror/blob/dev/config.example.js#L88

[2016-06-02 21:06] overflOw11 commented on #272
My mistake ! Thank you

[2016-06-02 21:06] #272 closed

[2016-06-02 21:06] evancohen commented on #271
Do not remove config values, this will cause a bunch of issues in master. This has already been fixed in the dev branch with 30fe896bae25450a88400ad17b26fe6ac3fa73b2 but for now just leave the empty config values there.

[2016-06-02 21:06] #271 closed

[2016-06-03 00:50] evancohen commented on #270
Thanks for pointing this out! Fixed in f193256142b98171c6e0ef9de7a945b8b5b0660c.

[2016-06-03 00:50] #270 closed

[2016-06-03 20:57] Binaryash opened #274 "How to code your own greeting time slots"
How to customize the greetings ::
First, open the file ...  /home/pi/smart-mirror/js/controller.js
To define your own time frames you need to modify this file.  If you compare it to the default file, you will see that I've changed it slightly to add an afternoon slot.
You can add whatever time slots you wish
Look for this section in the file >>

var greetingUpdater = function () {

[2016-06-03 20:57] #274 closed

[2016-06-05 14:36] R3dRuM commented on #268
I like the idea about the slideshow. I'm currently using a pretty small screen (19"), too. I'd love too see as much information as possible but it gets packed pretty quickly and disctracts you from the original purpose of the mirror :)
are you working on this yet @trenkert ?

[2016-06-07 09:11] trenkert commented on #268
@R3dRuM i am not, in fact. It shouldn't be too difficult to do it, though.

[2016-06-07 12:38] vrsho opened #278 "npm start issue"
Hi, when i start the shell script, nothing happens. I have raspberry pi 1 and i installed the node for armv6. What could be the issue? Thanks.

[2016-06-07 14:32] evancohen commented on #278
As noted in the documentation (in the hardware section), the Pi 1 is not supported for this project.

You may be able to install Chromium and use a local HTTPS Python server (go back through this projects history to the very beginning, that's how it used to work). I can't gerentee that everything will work with that method though (for instance the keyword spotter would have to be started manually)

[2016-06-07 14:32] #278 closed

[2016-06-08 15:59] hiltonmw commented on #259
How did you resolve this - I'm having the same problem

[2016-06-08 16:01] snypervash commented on #259
I was using the Raspberry PI 1, which isn't supported. It worked perfectly on my RPi 2

[2016-06-08 21:19] evancohen commented on #245
You should be setting the language to `"fr-FR"` in the config, not just fr (which will change the language, but not speech detection)

[2016-06-08 21:19] #245 closed

[2016-06-08 21:21] evancohen opened #279 "Update documentation to use fully qualified language name"
Documentation is unclear, leading to a possible mistake in the config which appears to be working but results in recognition in the wrong lenguage #245

[2016-06-09 03:12] evancohen commented on #279
done :)

[2016-06-09 03:12] #279 closed

[2016-06-09 12:10] ikucukkaya opened #280 "What time is it?"
The "what time is it" command is shown in the available commands however it has no effect. Evan I open a new issue because you told me if i didn't misunderstand you :d

[2016-06-09 22:53] ikucukkaya opened #281 "Timer"
Can the timer wink when time is up? or something like that.

[2016-06-09 23:43] GobleSt commented on #269
A more simple method of customizing the main interface, such as including more/different features or excluding unwanted features other than playing with css would be real nice for those of us who do not actually want to learn cascading style sheets....?

I would like to simply move the greeting to the bottom of the window and include newsfeeds.

[2016-06-10 00:43] evancohen commented on #281
@nicolasmn maybe you could take a look at this? Your call if you think it's something we should do. BTW, did you ever get some sounds that we could use when the timer was up?

[2016-06-10 07:10] vrsho opened #282 "Google Speech Recognizer is down :("
Hi, i cant fix this error. The Speech Recognizer was working Yesterday and suddenly stopped this Morning. I have tried to install pulseaudio, microphone is working good. I have registered to the speech API and added the API Keys to the env but still no speech recognition. Is there anything else i missed? Thanks.

[2016-06-10 07:28] rohansood opened #283 "RSS feed support"
I think it would be great if we could manually add a RSS feed source in the config.js that would display things like news/sports

[2016-06-10 12:25] ikucukkaya commented on #283
There is a pull request for RSS feed, i tried to run that but i couldn't. If you want to look: https://github.com/evancohen/smart-mirror/pull/161

[2016-06-10 12:29] ikucukkaya commented on #282
This is a known issue and everybody have this problem you are not the only one :d You can check here: https://github.com/evancohen/smart-mirror/issues/170 Evan is working on the keyword spotting to solve this problem and in that link there are some steps which Evan told, you can try them.

[2016-06-10 12:32] yaydogan commented on #283
I have a working RSS service in my branch:
https://github.com/yaydogan/smart-mirror/tree/customize

Unfortunately my branch is behind Evan's main branch so I can't merge. I was too busy and couldn't get my branches up to date and raise a new PR. You can look at the code and just pull in RSS service related code. If you need help, IM me privately and I can point you what files (and sections) you ne

[2016-06-10 13:13] GobleSt opened #284 "Soundcloud starts to play but stops."
When using voice and having Soundcloud play a song, it comes up starts to play then stops.  In addition, the greeting is moved to the top of the screen and jumbles up with the calendar and weather features.  Soundcloud plays fine with no issues in the browser.

[2016-06-10 16:01] ikucukkaya commented on #284
I have the same issue, i thought this error comes up because of my internet speed but now i can see it is not related to speed.

[2016-06-10 23:26] GobleSt opened #285 "Plex integration similar to Soundcloud and Youtube."
I serve up photos, music, tv and movies using Plex Media Server and I would love to be able to search for a song or show using voice commands on the mirror.

[2016-06-11 08:53] kurtdb commented on #285
This will probably involve intercepting the commands that the Plex web client sends to the server. Afaik these are not documented, so might be a cumbersome job.

[2016-06-11 11:03] GobleSt commented on #285
I saw this yesterday... [plexpy](https://github.com/drzoidberg33/plexpy/issues)

[2016-06-11 11:28] GobleSt opened #286 "Motion Detection with a "sleep" mode"
Since a lot of us are using webcam for the mic / voice control how hard would it be to add a motion detection using the webcam?  When a certain period of time goes by to sleep the screen to help prevent burn?

[2016-06-11 19:08] HelloExactly opened #287 "Speech Rec Works Intermittantly"
I've noticed others with this issue so I thought I'd post it here.  Speech rec works but not always.  Sometimes 2 in a row will work, sometimes 10, sometimes none at all.  Only fix seems to be a reboot but then the issue will start all over again.

[2016-06-11 20:06] #282 closed

[2016-06-11 20:08] evancohen commented on #283
If someone could create a new PR with @yaydogan's changes that would be super helpful :)

[2016-06-11 20:08] evancohen commented on #284
Sounds like a bug! I'll take a look this week.

[2016-06-11 20:09] evancohen commented on #287
@HelloExactly it would help if you could give more information about your issue. IE: what branch are you using, what errors you see, etc. This is likely already a known issue #170 and I should have a complete fix this weekend.

[2016-06-11 22:04] #170 closed

[2016-06-11 23:26] yaydogan commented on #283
I am working on resolving conflicts. I should be able to complete it by tomorrow.

[2016-06-12 09:15] GobleSt opened #289 "Latest update breaks weather and voice is accepted but commands are not performed."
`npm start dev` pops these errors:

angular.js:13642 TypeError: Cannot read property 'key' of undefined
at Object.WeatherService.service.init (weather.js:11)
at controller.js:70
at processQueue (angular.js:16104)
at angular.js:16120
at Scope.$eval (angular.js:17378)
at Scope.$digest (angular.js:17191)
at Scope.$apply (angular.js:17486)
at bootstrapApply (angular.js:1780)
at Object.invoke (angular.

[2016-06-12 10:21] GobleSt commented on #289
There are changes in the config.js that cause some of the issues above.  I redid the config.js using the new changes in config.example.js and was able to get weather displaying.  Voice is still accepted and no action is perfomed.

Issuing the #`pulseaudio --start` prior to #`./smart-start.sh` will fix the failure of performing voice commands.

I DO see these when starting the mirror:
`pi@smartmirr

[2016-06-12 11:01] GobleSt commented on #289
Mark this one as me being an idiot.

[2016-06-12 11:02] GobleSt commented on #284
This may be fixed in the new update.  I still need to test.

[2016-06-12 15:04] GobleSt commented on #287
@HelloExactly have you tried just killing the running instance and restarting?  That works for me.  ALT-F4 to close the open window, use terminal and run the `./smart-start.sh`.  ...shouldn't need a whole reboot.

@evancohen I have the same issue.  Today, I wiped and started from scratch to get a clean install.  I still need to run `pulseaudio --start` prior to the `./smart-start.sh` to get the vo

[2016-06-12 15:06] GobleSt commented on #284
Not fixed.  In the default web browser Soundcloud is not able to complete playing a track.  It just never completes the buffer.  I installed Chromium and Soundcloud plays with no issue.

[2016-06-12 18:20] HelloExactly commented on #287
Reboot/restarting the app, semantics.

@evancohen I'm using the Dev branch, and same as the above poster, I see no errors after KWS shuts off.

[2016-06-13 06:08] evancohen commented on #287
Sounds like this is a bug. I haven't had this repro in my current build, but I'll do a clean install this week and see if I either missed a step in the documentation or if there's something up with the keyword spotter.

[2016-06-13 06:10] evancohen commented on #284
Ok. @mojosoeun maybe you could take a look at this since you were the one who sent the original PR?

[2016-06-14 01:19] shep99 commented on #287
Hey Guys: I'm getting the same also. KWS works one or two times, then seems to die. Below is my log:

[code]

[2016-06-14 02:01] yaydogan opened #292 "Any interest in www.todoist.com service?"
I have a working service for www.todoist.com. If there is enough interest and people think it is not redundant to the existing reminder service, I can create a PR for this function.

@evancohen  what is your take?

[2016-06-14 04:36] evancohen commented on #292
Absolutely :D syncing reminders to a service (and not just having them stored locally) would be rad!

[2016-06-14 04:50] evancohen commented on #287
So I was able to spend a few minutes looking at this tonight, and it looks like the keyword spotter is causing the alsa-sink to hang in a rewind (the hang itself is intermittent, which is probably why you are seeing it work for a couple times before stopping). I was able to get this to reliably repro when recording via the microphone debug utility (`npm run microphone-debug`) and recording audio t

[2016-06-14 04:56] xuchen commented on #287
I have never seen this error before. And PulseAudio isn't my favorite way
to handle audio either.

If the errors come from audio playback, why not use a different prompt,
such as printing something on the mirror.

On Mon, Jun 13, 2016 at 9:51 PM, Evan Cohen <notifications@github.com>
wrote:

[2016-06-14 05:06] evancohen commented on #287
@xuchen there is already UI feedback on the mirror for when it is listening (the bottom glows) so we wouldn't really be losing anything removing that audio.

[2016-06-14 13:14] mojosoeun commented on #284
I'll take a look this week.

[2016-06-14 20:25] evancohen commented on #283
This has now been merged into the `dev` branch.

[2016-06-14 20:25] #283 closed

[2016-06-15 00:17] kgrewohl commented on #287
I can confirm with a decent amount of certainty that commenting out line 19 of kws.py (the playback line) that the keyword spotting detection works reliably.

[2016-06-15 00:46] evancohen commented on #287
@kgrewohl I've pushed that change to the `dev` branch. @HelloExactly and @GobleSt could you test this and see if it fixes your issue?

[2016-06-15 01:49] kgrewohl commented on #287
@evancohen I just re-cloned the dev branch and the mic is working like it was before.  The ding was nice but functionality is way better.  Thanks!

[2016-06-15 08:05] evancohen commented on #287
@kgrewohl it won't be any trouble to add the ding back on the JavaScript side of things, the issue arose from the way the keyword spotter was playing audio.

[2016-06-15 10:47] kurtdb commented on #292
I'm also a huge fan to make this a hosted feat in stead of using the browser storage. (which could be a bit volatile due to some code changes)

[2016-06-15 11:41] GobleSt commented on #287
@evancohen confirmed.

VC is working like a charm.  If for no other reason to put the mirror to sleep and wake it up again is totally awesome. Issue [284](https://github.com/evancohen/smart-mirror/issues/284) still exixts but I would say [244](https://github.com/evancohen/smart-mirror/issues/244) and [287](https://github.com/evancohen/smart-mirror/issues/287) are outta here!

Youtube also starts t

[2016-06-15 12:12] yaydogan commented on #292
Thanks for your feedback guys. I realized code layout changed a bit since I developed todoist service in my repository. I am working on porting my code to a new branch now. I will raise a PR soon.