[2016-06-15 12:55] GobleSt commented on #292
I haven't used the reminders yet and did not realize they would be local.  I was thinking they would integrate with my iCAL feed.  Is there not a way to use existing google calendar?

[2016-06-15 14:55] SebHeuze opened #293 "Snowboydetect fail on Windows 7"
Hi everyone,

I tried to launch the last version of Smart Mirror with Snowboydetect on Windows 7
But it fails with "ImportError: No module named _snowboydetect"

Which is logic because snowboydetect is a linux only project right ?

Or maybe there is a way to use it on Windows 7 ? (I'm using Raspberry 2, but I prefer to work on windows before putting it on my mirror)

If the project didn't fully wo

[2016-06-15 16:04] evancohen commented on #293
Windows 7 is still supported, I'm working on building an x64 binary but haven't had a chance yet.

The binary that is packaged is ARM, so it doesn't work on OSX either (you have to swap out the binary file).

You could try using the `evancohen/keyword-spotting` branch, which uses another method of keyword spotting that does work on Windows (just not the Pi). Note that the config it quite different

[2016-06-15 16:12] evancohen commented on #292
@GobleSt the iCals that we use are read-only. You're right though, that would be awesome to integrate. The barrier to entry here is that those APIs require O-Auth - which would mean that you would have to type in your Username and password on the mirror every once and a while (which would be lame)

I have some ideas about how to address this long term, including a companion app or locally hosted w

[2016-06-15 16:13] evancohen commented on #244
This is fixed in the latest `dev` branch and will be merged into `master` soon.

[2016-06-15 16:13] #244 closed

[2016-06-15 16:16] #287 closed

[2016-06-15 16:18] evancohen commented on #287
Seems like my GitHub automation got a little carried away there ;)

Regardless, this fix is now in the latest master, thank you all for your help :rocket:

[2016-06-15 22:42] SebHeuze commented on #293
It works now with the keyword-spotting branch, didn't seen that this branch was using a different method than master

Thanks

[2016-06-15 22:42] #293 closed

[2016-06-16 04:10] seiferal opened #295 "help to create a snowboy model"
hi, i m stuck at the step of making my own model for the voice recognition on the website https://snowboy.kitt.ai/hotword/47

I got to the step that I have to record my voice 3 times. But after the first record, nothing happenned. I could not move on to the 2nd and 3rd record to finish my model. Any ideas why this did not work for me?

I tried this on both Chrome and Firefox. I m running windows 7

[2016-06-16 13:19] GobleSt commented on #295
I had/have this same issue.  Poor audio / recording with the webcam on the rpi3 is what I attributed it to.  I went ahead and made the recording on another system and used the file that way.  My thought is that the audio issues we are having are related....[284](https://github.com/evancohen/smart-mirror/issues/284) etc... BUT...I am not one of the smart guys here....

[2016-06-16 22:29] digitaldidge opened #296 "Youtube video"
Hello folks,
inside the config.js file I can see the youtube example..

youtube: {
    key : "vy2u1t34bo123bu41234yduv1234tb"
}

How do I get that to show in the top_left part of the smart-mirror when it's running, any examples would be awesome :D

Thanks for everyones help :D

[2016-06-16 22:33] digitaldidge commented on #284
Can you please post the HTML code you used, I used an <iframe> tag to get a youtube playlist to present itself earlier and it would always play the full first track in the youtube playlist, but never anything further..

I'm very curious to know how to you got soundcloud to show :D

[2016-06-16 23:00] GobleSt commented on #296
If you check out the [chat](https://gitter.im/evancohen/smart-mirror) I just did similar moving the greeting to the bottom...modifying the index.html file...

[2016-06-17 00:04] digitaldidge commented on #296
Thanks :D

I just dont know how after I've edited the .js file expect it to just appear on screen where I want it :D

[2016-06-17 00:56] evancohen commented on #296
@digitaldidge you'll need to modify `index.html`. Just move the existing `<div>` container to whatever parent section you want.

More development details: http://docs.smart-mirror.io/docs/development_and_contributing.html

[2016-06-17 00:56] #296 closed

[2016-06-17 00:59] evancohen commented on #295
Have you set your webcam to be the default input device for your machine? You should confirm that microphone input is working in your web browser first, but you may want to contact the kitt.ai folks if you are still having trouble. They are awesome people and are really responsive :)

[2016-06-17 01:03] evancohen commented on #284
@digitaldidge all of the code for SoundCloud is in the `master` branch.
You might want to check out [`js/services/soundcloud.js`](https://github.com/evancohen/smart-mirror/blob/master/js/services/soundcloud.js)

[2016-06-17 02:26] digitaldidge commented on #296
Cheers buddy, even with adding in the config.js [ youtube : {add google/youtubeID here ], and the controller.js in the $scope.video = 'https://www.youtube.com/embed/videoeries?list=PLuMkI8cH380LOX2YSxC3m29y_69E-6z-I' it still never presented me with a video to see so I could not move on with editing the index.html file and rearranging the <div> tags :(
Thanks very much for the help.

[2016-06-17 19:15] evancohen commented on #296
It is also nessesary to change the focus of the mirror using:
[code]
Or you could remove the `ng-show` binding in `index.html`

[2016-06-17 20:53] sata73 commented on #295
Can I use it w/o using the model and keyword?
The old version w/o it works like a charm with voice control, this version doesn't do anything with voice comands.

[2016-06-18 01:23] evancohen commented on #295
@sata73 you can, but the number of requests that you are allotted will cause the mirror to fail speech recognition after about 5-10 min and be stuck in that state for the next 24 hours.

Have you installed the new dependencies?

[2016-06-18 14:52] sata73 commented on #295
Yes, I did install the new depencies. I'll try to setup the system completely new and start up from scratch.
Just to be sure, I have to say "Smart Mirror" before the actual command is spoken?
About the ding: Do I have to have speakers that output a sound which the Smart Mirror detects and then starts recognizing the voice commands? I don't have speakers yet.

[2016-06-18 15:19] GobleSt commented on #295
The bottom of the screen will light up when it is listening for commands.  I don't think the ding was put back on yet....

[2016-06-18 19:15] sata73 commented on #295
Ok, now I've set up the system completely new and it works now, but
- it does seldom recognize the keyword and the screen will not light up
- I also get stuck at the 1st or 2nd record at https://snowboy.kitt.ai/hotword/47
    - I guess, the recognition would be better with the model?

[2016-06-18 21:32] Criss95 opened #297 "White screen on startup."
fix the "white screen" issue that appear at the mirror startup.

[2016-06-20 10:19] GobleSt commented on #295
I had similar issues.  ...try to close the mirror after boot up and run <# pulseaudio --start> then start up the mirror and see if that helps.

[2016-06-20 11:33] kurtdb commented on #297
https://github.com/electron/electron/issues/861 > look at @mrtdeh's answer from 23 days ago. Might be an easy fix.

[2016-06-20 17:57] evancohen commented on #297
Thanks @kurtdb! There are actually two issues here I think. The first that you described, and a second with `ng-cloak`.

Pretty sure I can fix both of these, no problem. I'll take a stab this week.

[2016-06-20 17:59] evancohen commented on #295
I'm going to add `pulseaudio --start` as a part of the mirror boot (as it seems PulseAudio on the current version of Jessie is not autostarting)

[2016-06-21 18:03] evancohen opened #300 "Remove SCSS"
Based on recent discussion and in the interest of simplicity we should remove SCSS from the project.

[2016-06-21 18:54] joelhawksley commented on #300
@evancohen I can't seem to assign myself to this, but I can take this one.

[2016-06-21 18:58] kurtdb commented on #300
It's not that strict that you have to assign yourself here on github. A comment should be enough. (and a PR :))

[2016-06-21 19:03] joelhawksley commented on #300
👍

[2016-06-22 06:34] arifcit520 opened #301 "Failed to install electron-prebuilt"
I am trying to install electron-prebuilt using the instruction
![electron-prebuilt](https://cloud.githubusercontent.com/assets/19537585/16256685/a55f3b48-3875-11e6-8f39-4755f02e8a8e.PNG)

[https://www.npmjs.com/package/electron-prebuilt](https://www.npmjs.com/package/electron-prebuilt)

but I failed in all ways.

Could anyone help.

[2016-06-22 16:54] evancohen commented on #301
Can you add the log file to this bug, it will help to diagnose the issue, it does not appear to be a problem with the smart-mirror. You may have success with this stackoverflow post: http://stackoverflow.com/questions/23885449/unable-to-resolve-unable-to-get-local-issuer-certificate-using-git-on-windows

[2016-06-22 19:19] sata73 commented on #295
Nope, doesn't help :-(
In the meanwhile I wrote with the guys of snowboy because of the model issue and they replied, that there is a know issue with uploading wavs which is not yet fixed.
They told me, that I have to convert the wavs and there we go - I got a model:
`sox -t wav recorded_wav.wav -t wav -r 16000 -b 16 -e signed-integer -c 1 converted_wav.wav`

Anyway, even with the model and `pulse

[2016-06-23 00:38] HelloExactly commented on #285
i too would LOVE Plex on this.  Would the video be choppy like the current YouTube vids?

[2016-06-23 01:01] #300 closed

[2016-06-23 02:01] seiferal commented on #295
@sata73: how do you convert the wav file in windows? i stuck at uploading the 1st audio file :(

[2016-06-23 03:36] evancohen commented on #295
@seiferal if you have sox installed on windows the command should be the same.

[2016-06-23 06:47] arifcit520 commented on #301
[npm-debug.zip](https://github.com/evancohen/smart-mirror/files/329335/npm-debug.zip)

Find the error log

[2016-06-23 10:29] seiferal commented on #295
@sata73 @evancohen  it works perfectly now :+1:  thank you guys so much :D

[2016-06-23 17:46] #295 closed

[2016-06-23 17:48] evancohen commented on #301
It seems like you aren't running `npm install` from the smart-mirror directory (and are trying to install electron-prebuilt globally, which is not in the documentation)

[2016-06-23 17:48] #301 closed

[2016-06-23 20:59] bajo commented on #286
Motion detection is fairly simple to implement with OpenCV. But I only know of c++ and python support. Is there some way to connect c++ or python to the smart-mirror project?

[2016-06-23 21:12] evancohen commented on #286
@bajo The keyword spotter is actually a python library (although I'm in the process of writing a node module for their C++ library). In short: absolutely.

[2016-06-23 23:00] geman220 opened #303 "annyang.simulate syntax error in console"
When issuing a command like:

```annyang.simulate("show me a map of Seattle Washington");``` in the dev console I get the following error:

```Uncaught Syntax error: Invalid or unexpected token```

[2016-06-24 00:01] geman220 commented on #284
Soundcloud doesn't seem to even start playback for me.  Not sure if this is a different issue or related to this bug.  Just wanted to throw in my .02 if that helps.

[2016-06-24 00:40] evancohen commented on #284
@mojosoeun :bell: just a gental reminder

[2016-06-24 00:44] evancohen commented on #303
On the latest master with the default config I am unable to reproduce this.

![image](https://cloud.githubusercontent.com/assets/1198365/16324511/f5805c2a-3969-11e6-9b92-db56ae2bcb84.png)

Have you made any changes to the codebase that may cause this issue?

[2016-06-24 01:09] geman220 commented on #303
No I haven't in fact I just did the following to be sure
[code]

[2016-06-24 01:12] geman220 commented on #164
I use HA extensively and would love to have support for it on the mirror.

[2016-06-24 01:14] evancohen commented on #303
This puzzles me... @kurtdb are you able to get this to work?

[2016-06-24 01:24] evancohen commented on #303
Nevermind! Got this sorted out in chat. Turns out the encoding of the closing quotation mark was weird: http://i.imgur.com/8VpszUf.png

[2016-06-24 01:24] #303 closed

[2016-06-24 05:19] geman220 commented on #284
Wanted to post a breakdown of what I've done so far:

1. If I do ```pulseaudio -k``` and manually issue a command in the dev console ```annyang.simulate("SoundCloud play QUERY”);``` to the mirror I will get flawless playback.

2. If I then ```pulseaudio --start``` and voice issue a command it will playback audio for about 2 seconds before stopping. I'm almost certain it's pulse audio taking a dump

[2016-06-24 08:56] bravojun7 opened #305 "Can you guide to me how to solve this?"
Hi, I use rpi2 and installed smart mirror by your guideline. but it does not pop up .
Can you see this?

=========
npm info it worked if it ends with ok
npm verb cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start', 'dev' ]
npm info using npm@2.14.12
npm info using node@v4.3.1
npm verb run-script [ 'prestart', 'start', 'poststart' ]
npm info prestart smart-mirror@0.0.2
npm info start smart-m

[2016-06-24 10:13] kurtdb commented on #285
Looks like we could use this: https://www.npmjs.com/package/plex-api.

[2016-06-24 12:42] evancohen commented on #305
[code]
Running this will It will give you the revision number for the Pi. which you can use to look up the hardware version here: http://elinux.org/RPi_HardwareHistory

Odds are you actually using the Pi B (first generation)

[2016-06-24 12:42] #305 closed

[2016-06-24 18:37] geman220 commented on #286
Wouldn't motion detection with a PIR sensor be easy?

[2016-06-25 01:06] willem-hill commented on #286
@geman220 Yes, it would be absurdly easy. I've done similar projects
(specifically, a burglar alarm system for my house) using a PIR sensor and
a raspberry pi.

On Fri, Jun 24, 2016 at 2:37 PM, geman220 <notifications@github.com> wrote:

--
HillierTech on Facebook <http://www.facebook.com/hilliertech> (Like!)
HillierTech's New Website <http://willemhillier.wix.com/hilliertechvt>

[2016-06-25 02:18] mojosoeun commented on #284
@geman220  It seems like a problem between 'pulseaudio' and 'html5 audio' and I found a similar [issue](http://askubuntu.com/questions/646130/no-sound-with-html5-video-player-under-firefox-or-chromium-with-ubuntu-gnome-15). I'm thus looking for the solution.

[2016-06-25 02:23] geman220 commented on #286
@willem-hill That was sort of my point.  Instead of making a webcam sensor make a PIR sensor, they are cheaper to buy and easier to implement.

[2016-06-25 02:25] geman220 commented on #284
@mojosoeun Awesome, thanks so much.  Just so you know I'm trying everything on my end to find a solution.  justbill2020 is sending me his SD card image that he confirmed is working on 3 different RPi3s.  I've re-formatted and re-setup everything at least 4 times now and I get the same result every time.  I was thinking it could be a hardware issue, but I'm not the only person in the world having t

[2016-06-25 03:05] HelloExactly opened #306 "Audio/Video Mute on KWS"
For example, If I say "Smart Mirror, show me Game Of Thrones Season 6 Trailer"  the trailer will play fine, it seems to have a bit of trouble distinguishing your voice from the video audio, but it works.  Problem being, once the keyword is activated, the mic picks up the words from the video, rendering your command useless, and you simply have to wait for the video to end before issuing another co

[2016-06-25 20:18] geman220 commented on #284
I've re-formatted and re-configured everything from scratch (again).  Now I am seeing this error when issuing a voice command http://i.imgur.com/q9oDLAA.png .  The voice command pops up for about half a second and errors out with the error at the bottom.  Not sure if it's relevant to this or not.

[2016-06-25 22:39] geman220 opened #307 "Pulseaudio crashes constantly"
As far as I can tell PulseAudio is crashing causing audio playback to fail on the mirror.  Opening Pauvcontrol and muting then unmuting the output sometimes will enable playback for a short period (5-10 seconds).  You can keep muting / unmuting to resume playback for short bursts of time.  The same behavior seems to happen just by turning the volume up/down.  It's almost as if changing any setting

[2016-06-26 05:40] HelloExactly opened #308 "Spoitify Integration"
I see Spotify as API's and documentation available.  Would be great to get that in the mix.

[2016-06-26 08:47] geman220 commented on #284
I have quite a few findings and a general hackish work around to this issue I believe #307.

[2016-06-26 16:38] evancohen commented on #307
Thank you @geman220 for this super well documented issue! Seems to share the same root cause as #287. When streaming recorded audio and simultaneously playing, PulseAudio (more specifically the ALSA sync) hangs on a rewind.

I'll be looking at two potential solutions here: fixing the PulseAudio issue, and removing PulseAudio as a dependency for the smart mirror.

[2016-06-26 16:42] evancohen commented on #308
Last I checked the Spotify API does not allow for embedded playback. We discussed this a while back in #57.

Maybe this is something that you'd like to look into and send a PR for?

[2016-06-26 19:08] geman220 commented on #307
No problem, happy to help however I can.  Hopefully if someone else has this issue they can at least try this workaround.  I appreciate your help!

[2016-06-29 22:15] joelhawksley opened #315 "Tighten formatting of JS config stack"

[2016-06-29 22:15] joelhawksley commented on #315
@evancohen I'll take this

[2016-06-29 22:16] joelhawksley opened #316 "Use moment.js Calendar formatting for calendar day labels"
http://momentjs.com/docs/#/customization/calendar/

[2016-06-29 22:16] joelhawksley commented on #316
@evancohen I'll take this as well

[2016-06-29 22:21] joelhawksley opened #317 "Better handle multi-day and all-day events"
@evancohen currently we don't handle multi-day and all-day events very well, displaying the first day of the event in the former case, and displaying the (meaningless) start time for the latter.

Any thoughts on how we could better handle these cases?

[2016-06-29 22:27] evancohen commented on #317
For all-day events we should be displaying a duration rounded to the nearest day in both cases ("all day", "two days", etc) and for multi day events we should also specify an end date + time (if applicable).

The best place for this is probably the second line of the event details (under the name).

[2016-06-29 22:31] joelhawksley commented on #317
I like that. I'll chew on this and see if I can come up with something.

[2016-06-29 22:38] joelhawksley opened #318 "Hardware build guide"
@evancohen would you be interested in a build guide with a parts list/pictures?

[2016-06-29 23:00] evancohen commented on #318
Absolutely! This is something that people frequently have asked for, but I've always just referred them to the many other mirror builds out there. It would be awesome to have something of our own.

[2016-06-29 23:02] evancohen commented on #317
The tricky(ish) part will be what to display when in the middle of a multi-day event. Maybe just having something under TODAY and says "three more days" or something like that?

[2016-06-30 02:26] evancohen opened #321 "#313 causes a horrible crash when interval is not defined"
When `config.forecast.refreshInterval` is not defined in the config there is a horrible crash due to an infinite loop of mirror data being refreshed.

Note that this property value was changed since that PR in #320.

[2016-06-30 02:27] #315 closed

[2016-06-30 02:28] joelhawksley commented on #321
@evancohen I'll take this.

[2016-06-30 02:55] evancohen commented on #321
@joelhawksley no worries, I've got a fix for it. The problem exists for other services too.

[2016-06-30 03:10] evancohen commented on #321
Fixed in https://github.com/evancohen/smart-mirror/commit/4a0e61d85e725c5fcb7cde88d4c1c70299ae3353

[2016-06-30 03:10] #321 closed

[2016-06-30 03:23] evancohen commented on #297
@kurtdb I tested out that option. For some reason using this method ignores kiosk mode - I'll have to do some more investigating.

[2016-06-30 03:47] evancohen opened #323 "Implement a CI for the smart-mirror"
Right now we don't have any kind of testing. That's not cool. At the very least we need to write tests for the following:

- Running the mirror with an empty config file
- Running the mirror with the "default" sample config file
- Running the mirror with a "complex" test config file that

[2016-06-30 03:49] evancohen opened #324 "Write documentation for motion detection"
@justbill2020 From PR #311. We'll need some documentation for how to add motion detection to the mirror.

[2016-06-30 19:21] justbill2020 opened #326 "Motion Detection and Auto-Sleep / Auto-Wake functionality merger"
Merging Motion detection and Auto-Sleep / Auto-Wake Functionality. @evancohen I'll start working on this today. should have something for it later on today or tomorrow.
- [x] adding awesome #311 & #128
- [x] making awesome better

[2016-06-30 21:11] 7h30n3 opened #327 "[DEV] Flickering Greetings"
I'm on the current dev-branch and I have a (funny) issue using the greetings based on the time of the day. If an array for a certain time has more than one string, these strings continuously change. It looks like flickering.

Can anybody else confirm that?

[2016-06-30 21:35] evancohen commented on #327
I think @kurtdb had a similar problem. Just looked at it, this is totally my fault 4a0e61d.
I'll try for a fix tonight.

[2016-07-01 06:51] evancohen commented on #327
So I don't think I was able to fix it (I wasn't able to reproduce the issue on my desktop), but I did take another look at that code and fixed a bug that would case the greeting message to never refresh...

@7h30n3 Could you pull this change and see if it helps any? If not, I'll have some time that I can debug on the pi this weekend.

[2016-07-01 06:54] kurtdb commented on #327
I'm able to reproduce it on my laptop, so I'll take a swing at it tonight.

[2016-07-01 07:16] kurtdb commented on #292
@yaydogan any update on this one ?

[2016-07-01 10:56] yaydogan commented on #292
@kurtdb  I have it working based on old version of code so I have to make changes to fit into new code layout. Started on it on a new branch, hoping to get the PR out next week.

[2016-07-01 21:32] 7h30n3 commented on #327
@evancohen Thank you, the problem is fixed.

[2016-07-01 23:00] #327 closed

[2016-07-02 03:16] evancohen commented on #307
After some investigation I have found that it is actually fairly straightforward to get this working without PulseAudio (which should solve this issue).

First, you'll want to determine your playback and recording devices:

[code]
Here the playback device is card 0, device 0, or hw:0,0 (hw:0,1 is HDMI audio out). Then you'll want to determine the recording device:

[code]
Here the recording device

[2016-07-02 03:29] #316 closed

[2016-07-02 07:35] evancohen commented on #306
I really like this idea 👍. Best way to acheve it would probably be to use `amixer sset PCM 45%-` which decreases the existing volume by 45% (kinda just made this number up, maybe it should be customizable). Then the volume could be increased again with `amixer sset PCM 45%+`.

We could probably be a little smarter about this, you can get the currently set volume with the following and then apply a

[2016-07-02 15:46] HelloExactly commented on #306
To circumvent this in the interim, I've simply routed physical volume control outside the Mirror's frame and drop it to zero to issue the "stop video" command. Not a permanent fix although I do like instant access to volume controls.

[2016-07-03 02:57] joelhawksley commented on #318
Resolved in docs repo.

[2016-07-03 02:57] #318 closed

[2016-07-03 10:00] evancohen opened #332 "Move away from the deprecated Google Feed API for RSS"
Looks like we'll have to invest in porting this to a new service:
https://developers.googleblog.com/2016/06/announcing-turndown-of-google-feed-api.html?m=1

[2016-07-03 17:35] kurtdb commented on #308
I'm thinking of integrating this through last.fm's scrobbling support. That way we should use only 1 api and have support for itunes, spotify, etc.

Only downside is that it will only show you the song you're playing through another client.

[2016-07-03 18:22] 7h30n3 commented on #307
Still doesn't work for me.

[2016-07-03 18:37] evancohen commented on #307
@7h30n3 not a lot to go on there... Can you please include the make and model of your webcam, the output of `arecord -L`, and any terminal errors you get after activating the keyword?

[2016-07-04 02:08] gnurph69 commented on #51
Is this actually implemented?  I downloaded the version from about a week ago, but I don't have the above references in controller.js nor index.html.

[2016-07-04 02:12] evancohen commented on #51
@gnurph69 you need to be using the `dev` branch.

[2016-07-04 06:56] kurtdb commented on #102
I think this one was already finished, @evancohen ?

[2016-07-04 07:18] kurtdb commented on #59
@paviro how fast is the facial recognition? I don't think the rpi (even v3) is fast enough to do this in a user-friendly way. (e.g. look at the video at https://www.kickstarter.com/projects/1715072587/adept-mirror-smart-mirror?ref=nav_search)

A user won't wait for 5 seconds to see his/her information, they want it now. I've been looking into alternatives, but it seems that the way to go here migh

[2016-07-04 10:52] paviro commented on #59
A few seconds. For me it's fast enough :)

[2016-07-04 15:36] artifactdev opened #333 "Failure after starting ap, speech won't work"
I got an error after starting the smart mirror. The UI works but speech won't work.

Any suggestions? This is what the console says:

ALSA lib confmisc.c:1286:(snd_func_refer) Unable to find definition 'cards.bcm2835.pcm.front.0:CARD=0'
ALSA lib conf.c:4259:(_snd_config_evaluate) function snd_func_refer returned error: No such file or directory
ALSA lib conf.c:4738:(snd_config_expand) Evaluate err

[2016-07-05 23:02] evancohen commented on #333
These are expected warnings. Are you useing PulseAudio or are you following the guide from #307? Have you filled out your [Chromium Speech Keys](docs.smart-mirror.io/docs/chromium_speech_keys.html)? Is the keyword spotting working? What is the error in the chrom debug tools that you get after saying the key?

[2016-07-06 01:57] evancohen commented on #102
Yup!

[2016-07-06 01:57] #102 closed

[2016-07-06 08:13] artifactdev commented on #333
Yes, and after some time of struggling with pulse audio it works now.

[2016-07-06 08:13] #333 closed

[2016-07-06 09:55] SebDuboisMIAGE opened #335 "Speech recognizer problem"
Hi,

I have a problem with the speech recognizer.
My microphone works fine.

I saw many answers about this problem, but i don't understand what's the issue to fix it.

pi@raspberrypi:~/smart-mirror $ npm start dev

Thx

[2016-07-06 12:14] SebDuboisMIAGE commented on #289
Hi GobleSt,

Can you show me your config.js please ?
Because i've got the same error on my smart mirror and i don't find how the fix this problem.

Thx

[2016-07-06 12:20] Haffwa opened #337 "Mirror won't start correct"
Hi!
I just reinstalled the mirror but somehow it doesn't start correctly anymore.
On restart, everything looks like normal but the mirror only shows me the code of the browser with no content.
![img_5752](https://cloud.githubusercontent.com/assets/17971355/16617576/b7594e00-4384-11e6-85ed-164447b8be0d.png)
What did I do wrong?
Help is highly appreciated, Thanks!

[2016-07-06 12:21] kurtdb commented on #337
Looks like angularjs is not loaded correctly. Did you first run ```npm install```?

[2016-07-06 12:27] Haffwa commented on #337
Yes, ran it in the smart-mirror folder and it finished without an error. Should i reinstall it?

[2016-07-06 12:30] kurtdb commented on #337
What does the console say if you start the mirror by using ```npm start dev```?

[2016-07-06 12:43] Haffwa commented on #337
Looks like this:
![img_5753](https://cloud.githubusercontent.com/assets/17971355/16618125/f78e8708-4387-11e6-9720-fdc741a1dc48.JPG)

Your guess with angular was right, what can i do to solve this?

[2016-07-06 13:07] Haffwa commented on #337
I got a warning, that npm can't be run in my working directory...Don't know why

[2016-07-06 13:16] kurtdb commented on #337
In which directory are you running npm?

[2016-07-06 13:16] Haffwa commented on #337
/home/pi/smart-mirror

[2016-07-06 13:21] Haffwa commented on #337
This is what i get, after using npm install in home/pi/smart-mirror:

pi@raspberrypi:~/smart-mirror $ npm install

bower cached        https://github.com/angular/bower-angular-animate.git#1.5.0
bower validate      1.5.0 against https://github.com/angular/bower-angular-animate.git#1.5.0
bower cached        https://github.com/moment/moment.git#2.10.6
bower validate      2.10.6 against https://github

[2016-07-06 13:23] kurtdb commented on #337
Try running it using sudo, so sudo npm install.

[2016-07-06 13:28] Haffwa commented on #337
When i do that, I get the warning, that it can't be done in my working directory.

[2016-07-06 13:30] Haffwa commented on #337
"npm WARN cannot run in wd smart-mirror@0.0.2 bower install (wd=/home/pi/smart-mirror)"

[2016-07-06 13:33] kurtdb commented on #337
First run sudo npm -g bower. Then try again.

[2016-07-06 13:45] Haffwa commented on #337
That only gives me a list of how to use npm (possible commands), but beside that, nothing changes

[2016-07-06 13:55] kurtdb commented on #337
Forgot a word: sudo npm install -g bower.

[2016-07-06 14:15] Haffwa commented on #337
Obviously i messed something up during the installation...
I just had to change ownership (sudo chown pi:pi /home/pi/smart-mirror) and after that, I could use "npm install" in /home/pi/smart-mirror just as intended...The mirror is working!

Thanks kurtdb for your time and advices!!!

[2016-07-06 16:22] #337 closed

[2016-07-06 16:27] evancohen commented on #289
@SebDuboisMIAGE I would just wipe out the config and re-copy `config.example.js`. that should get you back to a good state.

[2016-07-06 17:20] evancohen commented on #333
Yeah... originally I thought PulseAudio was the fix-all audio solution. Turns out it's just another moving part that makes things more complicated when you try to do anything more complex than recording and playback. Live and learn :rocket:

[2016-07-06 18:08] SebDuboisMIAGE commented on #289
@evancohen Ok, so i just wait your correction on the config file ?

[2016-07-06 18:56] SebDuboisMIAGE commented on #289
I resolved the first problem (i forgot the Bing Maps Api key), so i have no error when i do npm start dev, but the voice recognition doesn't work...

[2016-07-06 21:03] 7h30n3 commented on #333
@artifactdev Do you know what you exactly did to solve the problem?

[2016-07-06 21:07] SebDuboisMIAGE commented on #333
Hi @artifactdev,

I've got a similar problem...

pi@raspberrypi:~/smart-mirror $ npm start dev

I tried my micro on chromium, and it works fine !
But when i do npm start, it don't reconize my keyword spotting...

Can you explain how to fix the problem ?

Thx

[2016-07-07 04:51] evancohen commented on #335
First off, those warnings are nothing to worry about. When I see speech recognition issues like this there are two things that I look at

1. Have they [installed all necessary dependencies](http://docs.smart-mirror.io/docs/installation.html#installing-smart-mirror-dependencies)?
2. Have they created [chromium speech keys](docs.smart-mirror.io/docs/chromium_speech_keys.html)?
3. Is their microphone

[2016-07-07 10:48] Keopss commented on #335
Hi! I have a problem with keyword i have made my own file but doens´t work. I have try with console an annyang.start() and microphone start to works.

[2016-07-07 11:06] Keopss commented on #307
My keyword is not recognizer :( i try with annyang.service() and microphone start to work. But any answer with keyword

[2016-07-07 12:11] SebDuboisMIAGE commented on #335
Hi @evancohen,

I retry my microphone and it works !!
I think that the micro is very bad, and i will configure the sensibility.

Thx for helping

[2016-07-07 13:15] stantonb commented on #335
I have the same problem as Keopss,
This is the error im getting

Expression 'paInvalidSampleRate' failed in 'src/hostapi/alsa/pa_linux_alsa.c', line: 2048
Expression 'PaAlsaStreamComponent_InitialConfigure( &self->capture, inParams, self->primeBuffers, hwParamsCapture, &realSr )' failed in 'src/hostapi/alsa/pa_linux_alsa.c', line: 2719
Expression 'PaAlsaStream_Configure( stream, inputParameters, o

[2016-07-07 15:18] GobleSt commented on #289
Soon as I get home it's yours!
On Jul 6, 2016 8:14 AM, "DUBOIS" <notifications@github.com> wrote:

[2016-07-07 17:11] evancohen commented on #335
@Keopss @stantonb A few questions to help sort this out:

1. Have you gone through all the steps I listed above (including step 3 which is to remove PulseAudio and try another method)?
2. Are you guys using the Pi or another device?
3. What USB microphone are you using?
4. Can you confirm that the filename for the model matches what you have put in `config.js`?

[2016-07-07 21:02] Keopss commented on #335
1 - I have installed PulseAudio i might to uninstall it?
2- Raspberry Pi 3
3 - USB device micro worked in all others versions and when i type annyang.start()
4 - Yes file match

[2016-07-07 22:21] evancohen commented on #335
@Keopss that's the correct command for uninstalling PulseAudio

When installing you should omit the final pulseaudio module (that will just cause it to be reinstalled):
[code]

[2016-07-08 08:01] dehlen opened #340 "Extend Fitbit API"
Would love to see an extended Fitbit API.

For example I use Fitbit extensively for food tracking. Would be super cool to see how many calories you burned vs how many you ate, your calorie goal and all your tracked foods. I know this should be easily possible by extending the already existing Fitbit API controller. I am still waiting for my smart mirror hardware parts :) If they arrive and I'll ge

[2016-07-08 09:21] GobleSt commented on #289
Not sure if you still wanted this but:
[config.zip](https://github.com/evancohen/smart-mirror/files/353864/config.zip)

[2016-07-08 09:30] SebDuboisMIAGE commented on #289
Hi @GobleSt and thank you for the config file.

I resolved my problem, it's just the quality of the microphone which is very bad.
And it struggle to recognize my voice.

Thx a lot !

[2016-07-08 10:07] GobleSt commented on #307
After following the "remove pulseaudio" instructions, no voice is detected at all for me.
The first thing I noticed is the my aplay -l looked slightly off:
`pi@smartmirror:~ $ aplay -l`
`**** List of PLAYBACK Hardware Devices ****`
`card 0: ALSA [bcm2835 ALSA], device 0: bcm2835 ALSA [bcm2835 ALSA]`
`  Subdevices: 7/8`
`  Subdevice #0: subdevice #0`
`  Subdevice #1: subdevice #1`
`  Subdevice #2:

[2016-07-08 12:07] dehlen opened #341 "Quora Integration"
I'd love to see a Quora integration. I look daily into the top stories which are recommended for me and I think there are some pretty interesting stories on Quora. Would be super cool to see them right on your SmartMirror.

[2016-07-09 18:17] 7h30n3 commented on #307
@evancohen I finally found an easy solution for voice recognition (Hotword Detection always worked) and I'm still using PulseAudio. I just removed the "Volume Control (ALSA)" from the taskbar as described here:

https://www.raspberrypi.org/blog/another-update-raspbian/

Maybe you can verify that.

[2016-07-09 22:49] GobleSt commented on #307
I reinstalled pulseaudio etc and removed the volume control as per above....commands are responsive again but playback (soundcloud, youtube) still has issues.  I haven't been able to work on this because working longer hours lately....will try to devote sometime soon.

[2016-07-09 23:41] evancohen commented on #341
Does Quota have an RSS feed that you could use?

[2016-07-09 23:49] evancohen commented on #289
Seems like this issue is resolved

[2016-07-09 23:49] #289 closed

[2016-07-10 12:42] dehlen commented on #341
Well actually there is the possibility to integrate a RSS feed. I didn't think about that. Thanks

[2016-07-10 12:42] #341 closed

[2016-07-10 19:42] evancohen commented on #340
@Shogan was the original author of Fitbit integration. I don't think anyone is actively working on this, but @R3dRuM recently extended it in #276.

[2016-07-11 13:23] dehlen opened #342 "Make localization consistent"
Hello,

I just had a quick look at the list of commands available to the smart mirror. The descriptions are not consistent. Sometimes the description end with a "." and sometimes not. Also the voice commands should follow a specific pattern in my opinion. Third-party extensions like Soundcloud are not localized (for example Soundcloud commands are not localized for the german language).

I might c

[2016-07-11 13:25] dehlen commented on #340
OK great thanks for pointing that out to me. The added extension to the fitbit integration however lacks localization and also is shown when there is no data. I will create a PR to make use of ng-show in order to fix this when there is no data to display, aswell as localize the commands for german language if this is appreciated. Just give me a feedback whether you think this would be a useful add

[2016-07-11 13:56] Shogan commented on #340
Hey guys, sorry for my absence. I have been super busy with house renovations above my usual full time job over the last few months.

I had a request to look at also putting two Fitbit user's info up, but after looking into it, decided it would be too messy - as you would need to auth two difference users and handle tokens etc for both + handle the UI for two users too.

Glad to see others are ext

[2016-07-11 14:40] dehlen commented on #340
I just had a look at extending the localization. The localization keys can be added into the locales/*.json files and then used in the index.html via `{{'localizationKey' | translate}}`. This way the strings would be available in the current languages. Next someone could add a ng-show attribute to the span elements in order to only show them if the data is available for example : `<span class="fit

[2016-07-11 16:20] evancohen commented on #340
@Shogan I still haven't integrated into the official docs because of the length (the docs do link to the readme though). Multi-user is something that we'd like to do *eventually*, but I don't think we are quite there yet.

@dehlen making use of localization and correct implementation of `ng-show` sounds excellent.

[2016-07-11 16:27] evancohen commented on #342
This sounds excellent. If you are creating the PR, I'd follow whatever guidance you come up with in regards to full-stops (although my preference would be to have them for all descriptions).

Regarding a specific pattern for voice commands: **yes**, we should absolutely be more consistent here. Each integration has been slowly added over time and feature authors come up with the command they think

[2016-07-11 20:55] Keopss commented on #284
We have any progress?

[2016-07-11 21:37] evancohen commented on #284
@Keopss geman is correct, #307 is the solution to this.

[2016-07-12 07:14] Keopss commented on #284
Thank you @evancohen. I have to follow "Update 3" changes?

[2016-07-12 08:36] dehlen commented on #342
Ok, so I will create a PR today for making the descriptions consistent and wait for your further input concerning the voice commands.

[2016-07-12 09:03] dehlen commented on #340
Just made a PR. Just have a look and tell me if there is something I should improve.

[2016-07-12 09:12] dehlen commented on #342
I made a PR with some first tries to make the localization more consistent. Feel free to leave feedback.

[2016-07-12 09:46] Keopss commented on #307
I have done this steps:

1º - `sudo apt-get install python-pyaudio python3-pyaudio sox`
2º - Configured `~/.asoundrc`
3º - Setup Audio Sound Output `sudo modprobe snd_bcm2835
sudo amixer cset numid=3 1`

Keyword works perfectly but soundcloud start to sound but it stop in seconds

[2016-07-12 13:23] dehlen commented on #340
Ok PR is merged now which is why i'll close this for now. If someone wants to make more extensions to the fitbit integration or I'll will take some time in the future to make so modifications a new issue should be opened imo.

[2016-07-12 13:23] #340 closed

[2016-07-12 13:23] dehlen commented on #342
PR was merged. Closing this issue now. Further efforts for making the voice commands more consistent should be discussed in a separate issue imo.

[2016-07-12 13:23] #342 closed

[2016-07-15 01:49] evancohen opened #345 "Performance Optimizations"
It's been a while since I've looked at the mirror's performance. The start-up time is getting pretty bad, and I feel like it no longer feels smooth. I'm going to spend some time investigating the following:

- [ ] **Atrocious CPU hogging from FitBit**. It's by far the most CPU intensive thing that happens on the mirror and it's really slowing things down (see chart below).
- [ ] **Minimize/Avoid W

[2016-07-15 06:48] kurtdb commented on #345
I created the performance-improvements branch to see what we can do to make it stable.

A few pieces of advice I got from a colleague:

- use one-time binding in stead of  {{}} if the value will not change.
- use ng-if in stead of ng-show/ng-hide, since the later ones will still render the output in your DOM.
- create smaller controllers for the specific functionality. Combined with the ng-if, we

[2016-07-15 07:49] evancohen commented on #335
This issue is resolved in #307

[2016-07-15 07:49] #335 closed

[2016-07-15 18:33] kurtdb commented on #332
Merged into dev.

[2016-07-15 18:33] #332 closed

[2016-07-16 08:22] 7h30n3 commented on #345
Performance improvements would be very appreciated.

After I finally finished the frame for my smart-mirror I made a long-term test (over night). As I wanted to talk to the mirror in the next morning it was totally unresponsive. For example it detects the hotword, but before the white shine at the button appears the mirror already stops listening.

Also I have a constant cpu load of 40% (Pi2). I t

[2016-07-16 19:56] evancohen commented on #345
@7h30n3 believe it or not, the hotword detection/keyword spotting is just about the most efficient thing in the mirror today 😉, for the Pi Zero it uses < 10%. I don't think 40% CPU load on the Pi 2 is all that bad, to be honest. We might be able to optimize some things here, but the optimizations that we can make for the mirror likely won't decrease overall CPU consumption by much, mostly because

[2016-07-16 23:08] #324 closed

[2016-07-17 04:37] justbill2020 commented on #219
I think there should be an option to select which branch to install. (dev or master)

[2016-07-17 04:42] justbill2020 commented on #219
Also, it still is set to install pulseaudio... there's an option to say no... but not sure that will help

also in the event that smart-mirror is already installed perhaps force a clone on top of or have a recursive script to delete the folder and start fresh... with an option to decline a fresh install..

[2016-07-17 04:48] justbill2020 commented on #219
something on the install of a fresh install of raspbian...
[code]

[2016-07-17 04:51] justbill2020 commented on #219
turning display 90 degrees did not work in script.

[2016-07-18 05:37] ojrivera381 commented on #170
@evancohen Thanks. I rebuilt it all seemed to be fine on my lab monitor in my office however when I moved it to its perm location speech stopped working. Also how do i exit it and get to the main desktop with menus. right now if I alt+f4 is closes the window but I can't see any menus to go through pi settings or launch terminal etc.. Thanks again.

[2016-07-18 14:15] evancohen commented on #170
@ojrivera381 is the Pi still connected to the same WiFi network? Have you exceeded your 50 query/day quota? The menu is missing because you have `unclutter` installed.
You can probubly also press the windows key on your keyboard, (which opens the Raspbian equivalent of the start menu). You can also get to the terminal via the recycling bin on the desktop (hacky, I know).

If those two things look

[2016-07-18 14:20] #317 closed

[2016-07-18 14:29] evancohen commented on #219
Thanks for testing this out @justbill2020! The work on this is a bit out of date (which is why it still tries to install PulseAudio) and is still "in progress". My approach to this install script is that it should give the user the least options possible, everything is reconfigurable later (ex: choosing a branch, it's a 1-line command to use).

It's also a 1-line command to remove the smart-mirror

[2016-07-19 02:58] renhuihhh commented on #32
I got the same problem , $HOME/Programs/node-linux-x64/bin has no electron executable file, and I remembered the previous version didn't.

[2016-07-19 02:59] renhuihhh commented on #32
[https://www.npmjs.com/package/electron-prebuilt](url) look here

[2016-07-19 10:40] shgmongo opened #349 "MagicMirror2 Modules"
Hello,
is it possible to install MM2 Modules or 3rd Party software to the Smart Mirror?

See the Modules at
[https://github.com/MichMich/MagicMirror/wiki/MagicMirror%C2%B2-Modules](url)

I´m a Newbie and need the information.

Kind regards,

Volker

[2016-07-19 13:43] distortd6 opened #350 "FitBit data not populating..."
![image](https://cloud.githubusercontent.com/assets/8869368/16951876/78f636c0-4d8c-11e6-837e-0c524ba88a5f.png)
Attached is the error I get when Fitbit data doesn't populate on initial "npm start dev".  After inputting CLIENTID and CLIENTSECRET, I start the mirror, alt+tab to browser, head to http://localhost:4000/fitbit and click on Allow which brings me to this error.   Any ideas guys?  I've been

[2016-07-19 14:59] justbill2020 commented on #219
No problem just wanted to put together some thoughts as i was going through it.

[2016-07-19 21:03] evancohen commented on #350
@distortd6 it would help to know if you are on `master` or `dev`. I don't have a fitbit, so I've never actually done much testing of this code path. You might be able to get an auth token from [grant](https://grant-oauth.herokuapp.com/#/fitbit) and then create the token JSON file that is typically generated for this.

[2016-07-19 21:06] evancohen commented on #349
@shgmongo you can't use modules from the MagicMirror, although porting modules over to this codebase is quite easy.

Integrating 3rd party services with the smart-mirror is also super easy, you can refer to the developer documentation for more information.

[2016-07-19 21:06] #349 closed

[2016-07-19 21:13] evancohen commented on #32
@renhuihhh I'm a bit confused about your issue. Can you please create a new issue with more detail?

[2016-07-21 14:03] esazsX opened #351 "White Background and Black Text, No Dynamic Information"
I ran `npm start` and I see the index.html but it shows up as plain text
for example, where the date should be, it says "{{date.format('dddd')}}" and shows something similar for forecast, greeting, and so on

[2016-07-21 18:02] evancohen commented on #351
You likeley haven't run `npm install`, which will install all nessesary dependencies. Please refer to the documentation: http://docs.smart-mirror.io

[2016-07-21 18:02] #351 closed

[2016-07-21 18:54] evancohen commented on #297
This isn't actually a "bug" per se, and it should be mostly fixed by the performance improvements in #352 and the rest of the optimizations from #345.

Going to close this out because it's being tracked elsewhere.

[2016-07-21 18:54] #297 closed

[2016-07-21 20:33] distortd6 commented on #350
I am on master, but will try dev as suggested in gitter.  This error is somewhat expected and does indeed create the fb-token.json in smart-mirror dir.  The real issue is that no fitbit data populates.

[2016-07-22 08:02] vwilk7 opened #353 "bower installer problem...."
during installing the code(about npm install ) with raspberry pi 3, i found the error in termminal
so i tried to solve the problem but i didn't
also i checked the node version.  the version is 4.0.0.
so i tried to upgrade the virsion but pi told me "permission denied"
after that, i tried to write "sudo apt-get remove node"
the code can be activating, but not remove the node
how can i remove the no

[2016-07-22 09:19] kurtdb commented on #256
This has now been added to the dev-branch.

[2016-07-22 09:19] #256 closed

[2016-07-22 16:01] cybertza commented on #48
So besides the standard accessing via an website to change settings, i was thinking along the idea of an USB drive, that if it contained a file like getconfig, an process that monitors storage would push the required files to the flash drive: like the boot/config.txt a system overview, like ip and what ever and so forth, but also allow you to drop a file on there like updateconfig.txt, and that wo

[2016-07-22 16:05] cybertza commented on #59
there is a really great idea on the selfie mirror is the 1 picture a day stream, if you captured 1 picture a day of yourself for ever, it would be rather cool, and with an overlay you may be able to calibrate it so that your face is always in the same place, but yea, just interesting.

[2016-07-22 16:42] evancohen commented on #59
@cybertza I like the idea! Want to take a shot at it and send a PR?

[2016-07-22 16:43] cybertza opened #355 "Suggestion: More Keywords"
Hi Guys,

I was wondering if its possible to tier the voice recognition, until it becomes offline alike?

Eg:
Listening for: Smart_mirror;
          Then Listening for Play Music off usb
                                        slideshow
                                         pause video
                                         pause music
                                         hide temp

[2016-07-22 16:51] paviro commented on #59
Like the idea! I might add that to my Module someday :)

[2016-07-22 16:53] cybertza opened #356 "Suggestion: Voice Identification (keyword)"
Hi Guys,

Was looking at a few of the ID ideas that there are around from the bluetooth distance and so forth but was wondering if it may be worth doing a voice recognition, that you can train for the mirror, or a voice unlock, once the mirror does recognize you with other bio metrics, i like the idea of having all my personal stuff displayed on the mirror, but i am not crazy about the idea of any

[2016-07-22 17:04] evancohen commented on #48
I have an architecture diagram for how a mirror<=>server handshake would work so that you wouldn't need to know the IP of your PI (you can just scan a QR code on the screen with your phone). Not quite ready to share it though. I think we are still a ways off from landing this because of the substantial amount of work involved, but i do have a plan to get us there...

1) Begin using Grant to obtain

[2016-07-22 22:29] franklinam1 commented on #307
Hey all, so I had this same problem and my setup is as follows:

- RP3
- Insignia USB Mic
- Rasbian Jessie

Symptom - USB MIC does not work, tried all troubleshooting steps in guide and in bugs but no luck

I found a post on the RP site that had similar symptoms so I changed the following and it seemed to fix all of my issues

"where there is a file called aliases.conf in /lib/modprobe.d which con

[2016-07-27 07:39] genbuttnak3cl opened #359 "Make "greeting" disappear after "x" seconds"
Hi all,
I love this Project and I am currently trying to make this running on my RPi 3.

I would like the "greeting" to fade out after "x" seconds of showing on wake up. Do I just have to change something in the config.js or another file or is it more complicated?

Thank you very much and sorry for my bad english :)

Best regards
Sergej

[2016-07-27 07:52] genbuttnak3cl opened #360 "Forecast/Weather is not visible anymore, but was visible in the first hour of using."
Hello :)

yesterday I installed this Project on my RPi 3 and added the API Key from forecast.io to the config.js file. In the first hour or so, the weather was working as expected, but since then I can not see any weather-info on the mirror. I didn't change anything in the weather.js, a reboot doesn't make any changes.

Tried to run in dev mode and there were no errors.

What could be the issue?

[2016-07-27 19:36] genbuttnak3cl commented on #360
Sorry, somehow the Word "forecast" in the config.js was spelled wrong :) but still wondering why it worked at first...

[2016-07-27 19:36] #360 closed

[2016-07-27 19:38] justbill2020 commented on #360
try ```npm start dev``` look in the console view and see if you get a geolocation error... if so manually enter your geolocation...

[2016-07-27 20:24] SebDuboisMIAGE opened #361 "Problem SpeechRecognition"
Hi everybody,

I've got a problem in my smart mirror.
I've got an error when i say the keyword (the mirror recognize the keyword but, i've got an error in the console) :

SpeechRecognitionError {error: "audio-capture", message="", type:"error", target: SpeechRecognition, currentTarget: SpeechRecognition...}

Is there anybody had got the problem ?

Thx

[2016-07-27 21:18] evancohen commented on #361
Please refer to the documentation for troubleshooting: http://docs.smart-mirror.io/docs/troubleshooting.html

[2016-07-27 23:38] evancohen commented on #359
@genbuttnak3cl you are going to want to edit `js/controller.js` and add a timeout that hides the element

[2016-07-27 23:38] #359 closed

[2016-07-28 05:49] genbuttnak3cl commented on #360
just started the mirror and again the forecast is not showing up :/ @justbill2020 thanks! Looked in the log and you are right, the geolocation couldn't be determined, so I made it manually, like you said->hardcoded the location in the config->works! :)
but I don't get, why it sometimes can't determine the location and sometimes it works, without manual enter of the geolocation... :/

[2016-07-28 05:56] genbuttnak3cl commented on #359
@evancohen thank you sir! :) can you tell me the exact line and command for the `controller.js`? I'm a noob... I'm sorry.

[2016-07-28 06:37] #109 closed

[2016-07-28 07:28] aroonp opened #362 "rocket symbol"
What does it mean rocket symbol

[2016-07-28 10:03] SebDuboisMIAGE commented on #361
Yes, but when i make npm microphone-debug, i've an error :

pi@raspberrypi:~/smart-mirror $ npm microphone-debug

Usage: npm <command>

where <command> is one of:
    access, add-user, adduser, apihelp, author, bin, bugs, c,
    cache, completion, config, ddp, dedupe, deprecate, dist-tag,
    dist-tags, docs, edit, explore, faq, find, find-dupes, get,
    help, help-search, home, i, info, init, in

[2016-07-28 17:08] evancohen commented on #361
The command is `npm run microphone-debug`

[2016-07-28 17:12] evancohen commented on #362
I guess it's just a weird thing I use when something is successful. For instance someone fixes a troubleshooting error. You're likeley talking about the rocket in the commit message from `0.0.3`... It took longer then expected to get that release out so I was happy to finally push things out.

I've always liked the expression "to the moon", and that emoji sort-of does that for me...
:rocket:

[2016-07-28 17:12] #362 closed

[2016-07-28 18:13] nojkepop opened #363 "Seeing the RSS feed line twice"
After updating to the latest version I am seeing the RSS feed section twice.

[2016-07-29 05:50] #363 closed

[2016-07-31 15:02] fledderman commented on #32
I was getting errors similar to these, and I was able to resolve them by running:

`xcode-select --install`

Hope that works for you too.  Happy coding.

[2016-07-31 22:02] 7h30n3 opened #365 "Greeting - Position / Visibility"
It's a minor cosmetic issue, but I think the postion and visibility of the greeting could be improved.
1. If I tell the mirror to show me a giphy-image the greeting and image are to high. Especially, if you have a long greeting they overlap with the calendar and weather information. So for (small) images the positon of the greeting should be lowered.
2. If I tell the mirror to show me a map I can

[2016-07-31 22:08] 7h30n3 opened #366 "Commads without "Text" and "Description""
In the list that appears if you tell the mirror "What can I say", there are two commands with missing translation:

`commands.screen on.text`
`commands.screen off.text`

They don't appear in the locales js. So I think the commands can't even be used.

[2016-07-31 23:21] drewgould opened #367 "Tesla API support"
I'm adding Tesla API support to allow checking some common things about the status of a vehicle. Thinking about showing the vehicle name, charge level/charge status and adding voice commands to toggle on and set the HVAC temperature and summon the vehicle out of the garage. I'd be happy to submit it for review for broader inclusion once it's ready.

[2016-08-01 20:56] evancohen commented on #367
This would be super rad! Please do send a PR once you have something :smile:

[2016-08-02 05:04] JinheeC opened #368 "Invaild sample_rate error and Annyang network error"
Hello
I have some problems..
It is not working on my raspberry pi 3. when I type "annyang.start();" it says **network error.**
So I tried almost things(include chromium speech keys) of answers related to my error. but nothing is changed..
and I can see the below error codes on the terminal.

[code]

[2016-08-02 10:47] kurtdb commented on #308
@HelloExactly is the current scrobbling support enough for you?

A few people have also been having problems with getting audio from the mirror, so it might be a better solution to look into streaming spotify through a supported app/device.

[2016-08-02 17:13] esazsX opened #369 "Weather widget misaligned"
The weather widget is no longer touching the border of the frame, and has been moved closer to the center

[2016-08-03 02:25] aroonp opened #370 "How to add support more languages"
How can smart-mirror show or support more language ex thai,chainess language?

How to make them?

Thank so much

[2016-08-03 02:59] evancohen commented on #368
Please see #307. You should not be using PulseAudio with the newest version. As for the network error, I recommend using the troubleshooting steps outlined here:

http://docs.smart-mirror.io/docs/troubleshooting.html#microphone-and-speech-recognition-issues

[2016-08-03 03:01] evancohen commented on #370
You can add more languages by creating locales JSON files: https://github.com/evancohen/smart-mirror/tree/master/locales

If you are up for it, please send a PR with any languages you add so everyone can benefit!

[2016-08-03 03:02] evancohen commented on #284
This issue is resolved, see the bug I linked above or the documentation for details

[2016-08-03 03:02] #284 closed

[2016-08-06 01:34] MattTheGamer opened #372 "Forecast Widget cannot automatically locate"
Seems as thought the forecast widget is having trouble locating my location. Manually entering a Lat and Long works though.

[2016-08-06 16:34] evancohen commented on #372
I believe this to be an issue with Google's geolocation API (nothing has changed in that code recently). This is a bug!

We may have to try geolocation lookup another way.

[2016-08-06 16:37] evancohen commented on #353
This should no longer be an issue. Closing this out.

[2016-08-06 16:37] #353 closed

[2016-08-11 01:31] StevenTLBF opened #374 "Backlight integration"
Looking for some input from the community. Does anyone have any clue as to how the backlight was integrated into the mirror in this article?

https://medium.com/@maxbraun/my-bathroom-mirror-is-smarter-than-yours-94b21c6671ba#.jjuhp5nj0

[2016-08-11 06:38] phelixz commented on #259
Hi Snypervash,

I got same problem and found that I had written the unclutter function ("unclutter -idle 0.1 -root")  in the wrong autostart file.

I wrote it to  /home/pi/.config/lxsession/LXDE-pi/autostart

but it need to be added here:

/etc/xdg/lxsession/LXDE-pi/autostart

as mentioned in cohen´s manual.

I hope this will help.

[2016-08-11 14:40] justbill2020 commented on #374
perhaps ask the person that posted the article?

[2016-08-12 05:46] EvilBuu opened #375 "Cloud Speech API google"
Hi there, Ive been following the guide of evan and so far everything is working (even my lights).

I however do have a problem with configuring my speech keys. The steps described on the gifthub are dated and not for google cloud speech.

Can someone please tell me which options to choose for the API keys? Thanks in advance

[2016-08-12 14:05] justbill2020 commented on #375
you should use the chromium speech API... there are directions on how to obtain those... they are still as of now available. Cloud speech API is new. and not yet implemented @evancohen has mentioned working on an update that would allow us to select our speech engine however that seems to be a low priority for now...

in the docs, http://docs.smart-mirror.io/docs/chromium_speech_keys.html there is

[2016-08-12 14:07] justbill2020 commented on #368
Invalid sample rate error has been resolved by others by doing a fresh install of Raspbian Jessie (the full image not installed with noobs) and going over the step by step instruction in the docs for installation and configuration of the mirror, pi, and audio settings.

[2016-08-12 14:10] justbill2020 commented on #365
@evancohen how hard would it be for the greeting to only show when you're on the "home" screen and to move it back to just above the command line text? similar to what it is on the icesnow template?

[2016-08-12 14:12] justbill2020 commented on #326
Currently looking into implementing johnny-five.io for motion detection...

[2016-08-12 18:26] evancohen commented on #368
@JinheeC hopefully this has resolved your problem. I'm going to close this issue but if you are still having problems feel free to follow up here or create a new issue.

[2016-08-12 18:26] #368 closed

[2016-08-12 18:27] evancohen commented on #365
@justbill2020 ~1 line of code to only show it on the home screen. A few more lines of CSS and you can put it wherever you want.

[2016-08-19 02:01] glcohen commented on #326
Have you made any progress? Not sure what camera you are using, but I've come across this to work with my PS Eye: http://www.lavrsen.dk/foswiki/bin/view/Motion/WebHome re:https://www.raspberrypi.org/forums/viewtopic.php?f=91&t=7397

[2016-08-19 13:34] justbill2020 commented on #326
@glcohen I have not further pursued this at this time as i've spent a lot of time troubleshooting on gitter getting the mirror up and running and focusing on the documentation. However, the motion detection we were looking at implementing was using a PIR rather than the camera... as a camera in a bathroom is kinda creepy in my humble opinion... My suspicion would be a bathroom is the likely place

[2016-08-19 15:27] glcohen commented on #326
Fair point; however I wouldn't rule the option out. It's likely possible to distort the image in such a way that the camera can pick up motion but see nothing valuable. You can also set the config to save no images.

It's a simpler alternative for those who have a single unit camera/mic like the PS Eye. I'll do some thorough experimenting and report back.

Of course people could always choose to b

[2016-08-19 16:28] justbill2020 commented on #326
to each their own I guess... adding that functionality isn't a bad thing... if you want to fork the project and work on that to see what you can come up with that would be cool....

[2016-08-22 18:34] SenadM opened #376 "Trouble changing time and date to european formats"
Tried to change the language in the config file to en-GB. Hasn't worked. This includes the date and time of the mirror (24h and DD/MM/YYYY)

[2016-08-22 21:11] evancohen commented on #376
Looks like there is a bug in the controller when registering locals for `moment`:
https://github.com/evancohen/smart-mirror/blob/dev/js/controller.js#L44

This is an issue with moment as they don't support an alias between the fully qualified locale and the locale that they provide, ie: French is `fr` while UK English is `en-gb`. That makes things complicated for us, because we always need the ful

[2016-08-22 22:43] SenadM commented on #376
Great Evan, thanks. I made it work with some workarounds, so now, I have the Danish date and time format. Had trouble with the weather and traffic info because I changed the language to "da", but ended up fixing it for now.

[2016-08-23 14:00] NilanjPatel opened #377 "how to install on mac osx"
how can i install smart-mirror in mac osx

[2016-08-23 19:59] evancohen commented on #377
The same steps as for the pi in the documentation with a few small exceptions:

- You have to install node for OSX, not ARMv6
- You have to replace the snowboy precompiled binaries in the `speech` folder with the [ones for OSX](https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/osx-x86_64-1.0.4.tar.bz2).
- Run on boot won't work the same way
- You don't need to configure `~/.asoundrc`
- E

[2016-08-23 19:59] #377 closed

[2016-08-23 20:00] evancohen commented on #376
Yeah, it's complicated because each service that needs the language wants it in a slightly different format.

[2016-08-24 21:35] SenadM opened #378 "Youtube not working"
Giving the error "If playback doesn't begin shortly, try restarting your device"

[2016-08-25 13:54] aanandpant opened #379 "how to install smart-mirror on ubuntu 16.04"
hello evan,i've installed all the necessary packages for ubuntu.But,the problem is as soon as i run "npm start" command i get this error "npm ERR! Linux 4.4.0-34-generic
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "start"
npm ERR! node v4.5.0
npm ERR! npm  v2.15.9
npm ERR! code ELIFECYCLE
npm ERR! smart-mirror@0.0.3 start: `electron main.js `
npm ERR! Exit status 1
npm ERR!
npm ERR! F

[2016-08-26 19:19] phelixz opened #381 "no weather forecast"
Hi all,

I´am new to this stuff and really impressed of the community around the smart mirror, that´s a really nice project your working on. Because I´am new to linux and coding I spend a couple of day´s to get the smart mirror up and running but now it seems that everything is working except the weather forecast (it doesn´t appear on the home screen).

As mentioned in the documentation (if proble

[2016-08-26 22:16] evancohen commented on #381
Not sure if this is a bug, but I'll take a look at it tonight to see if I can reproduce the issue. I have a feeling that it may be an issue with the language (see #376).

[2016-08-26 22:22] evancohen commented on #379
We cleared this up in Gitter, but a summery of the issue for anyone else who has the issue:

- Strange `npm` incompatibility, either use node 4.3.3 or 6.x
- Need to use the right snowboy binaries (the ones included by default are for the raspberry pi)

[2016-08-26 22:22] #379 closed

[2016-08-26 22:24] evancohen commented on #378
I've gotten this feedback from a couple of people - it doesn't happen on my Pi so I'll need to do a fresh install to see if I can get it to reproduce.

[2016-08-27 08:49] SenadM commented on #378
I can send you my smart-mirror folder and you can take a look on that.

[2016-08-27 10:56] phelixz commented on #381
Thanks for the fast response. I just changed the language to en-US in the config.js unfortunately it doesn´t solved the issue.

[2016-08-27 21:39] glcohen commented on #378
Having this issue as well, getting the spinning wheel of death from the YouTube frame.

[2016-08-27 23:02] evancohen commented on #381
So, I looked into this and there's definitely an issue with the geolocation lookup when you aren't using custom chromium keys. The lookup will fail when using custom keys unless you have enabled this API:
https://console.cloud.google.com/apis/api/geolocation/

Once I added a custom geoPosition though it worked just fine, for instance:
[code]
In your case, it looks like the API is working, but it's

[2016-08-28 01:16] EvilBuu commented on #375
Hi thanks for responding It worked out doing a bit more reading. My keys are working i checked it with print command in terminal.

[2016-08-28 01:16] #375 closed

[2016-08-28 07:18] glcohen commented on #280
I've been playing with getting this working today and am nearly there. I've been using the SpeechSynthesisUtterance API. Here's the code I've got so far. Haven't gotten sound working quite yet, but this method does work if I run it from a non-mirror js console.

`function getTime() {
              var currentTime = new Date();
              var hours = currentTime.getHours();
              var min

[2016-08-28 09:52] phelixz commented on #381
Perfect! Now the weather plugin is working correctly with hardcoded position!

As you mentioned right, the geolocation API is working, the fault was the "_" in the config.js file.

The only need was to rename the function "geo_position" to "geoPosition"  in config.js file.

Thanks a lot Evan!

[2016-08-28 10:00] phelixz commented on #378
Yes, same for me

[2016-08-28 10:55] #381 closed

[2016-08-28 16:18] Keopss opened #383 "Keyword doesn´t work"
Hi people! I have a issue with the detection of the keyword. I have done a fresh install of all system. And keyword is not detected. If i type annyang.start() mic **works perfect** but any answer with Keyword.

I receive this error when i close Electron and when i try this code `python speech/kws.py smart_mirror.pmdl 0.5`

Error received in both cases:
[code]

[2016-08-28 16:59] Keopss commented on #383
I have solve it! I have to type:

`pulseaudio --start
jack_control start`

[2016-08-28 17:20] 7h30n3 commented on #378
Me, too.

[2016-08-28 21:59] 7h30n3 commented on #59
What's the current status of the face recognition feature?

Maybe we could use the face detection (Just "face detected" and "no face detected", no certain faces) as a substitute for the hotword detection.

[2016-08-28 22:55] paviro commented on #59
Feel free to port my module to evan's mirror: https://github.com/paviro/MMM-Facial-Recognition

[2016-08-28 23:18] evancohen commented on #378
Sounds like a bug, I shall investigate!

[2016-08-28 23:19] evancohen commented on #372
Resolved because you can hard-code your geolocation if it's not working #381

[2016-08-28 23:19] #372 closed

[2016-08-30 05:52] glcohen opened #384 "SoundCloud Request Failing"
In soundcloud.js:23, the query is formatted with "&limit=1". When a query is run, I consistently get the following error in the console

    annyang.simulate("soundcloud play kanye");
    undefined
    TypeError: Cannot read property 'permalink_url' of undefined
        at soundcloud.js:26
        at processQueue (angular.js:15552)
        at angular.js:15568
        at Scope.$eval (angular.js:168

[2016-08-30 06:23] glcohen commented on #280
I had been exploring [Artyom](https://github.com/sdkcarlos/artyom.js), but it looks like, unfortunately, Google has discontinued the use of the Speech API in embedded/dev chromium environments.

[https://discuss.atom.io/t/webkitspeechrecognition-google-webkit-speech-api-throws-network-error-in-electron-app/27958/3](url)

Not sure what to look into next...

[2016-08-30 09:40] evancohen commented on #280
@glcohen I think what you are talking about is unrelated to this issue... As for the Speech API, the workaround is in the documentation and is no longer an issue for us.

[2016-08-30 15:21] glcohen commented on #280
Could you point me to the documentation with the workaround?

As far as I can tell the problem is that speechSynthesis won't load any voices (speechSynthesis.getVoices() returns a null set), because synthesis isn't supported in Chromium.

[2016-08-30 18:14] evancohen commented on #280
Having the mirror talk back to you is not really a missing feature, I have expressly kept it out of the mirror up until now. See my response in #78 for details.

You should open up a new issue for this and we can discuss the merits of the mirror responding to you via voice there (I'll try to help you get speech synthesis working regardless).

[2016-08-30 19:04] capfirepants opened #385 "FHEM Support"
From the Website:
FHEM (TM) is a GPL'd perl server for house automation. It is used to automate some common tasks in the household like switching lamps / shutters / heating / etc. and to log events like temperature / humidity / power consumption.
The program runs as a server, you can control it via web or smartphone frontends, telnet or TCP/IP directly.

Support for FHEM devices to be controlled o

[2016-08-30 19:36] evancohen commented on #385
I really like the idea of integrating an existing home automation platform. I believe Home Assistant, which we are looking at for integration (#164), supports all of the home automation tasks that you mentioned (it has a fantastic community and is arguably the best open source home automation system out there right now).

[2016-08-30 23:43] evancohen commented on #384
I'm not really sure why this would happen, can you include the API response for `&limit=1` and `&limit=2`?

[2016-08-31 00:59] glcohen commented on #384
Having the limit set to 1 does work for most requests; however, there is a case where no the response includes nothing with the limit as 1 (i.e. []), but returns a song when the limit is set to 2.

Here's an example...

**Limit = 1**
**Query**: https://api.soundcloud.com/tracks.json?client_id=myclientid&q=dangerzone&limit=1
**Response**:

    []

**Limit = 2**
**Query**: https://api.soundcloud.com

[2016-08-31 01:11] glcohen opened #386 "Text-To-Speech"
Continuing what I was working on in #280.

I have read when you (Evan) have written about TTS in #78, and agree that having a speech response to most commands would be useless; however, when asking "what time is it?" I think it would be a nice feature if the mirror spoke the time at the user, though the "what time is it" feature should be fixed to display the time on the mirror too if any other se

[2016-08-31 01:50] evancohen commented on #384
Yup, that's bizarre. Fixed in the above commit on the `dev` branch. Thanks for following up on this!

[2016-08-31 01:50] #384 closed

[2016-08-31 02:32] jonathanng92 opened #387 "Fitbit integration issue"
I am having an issue integrating the Fitbit data to the smart mirror. I have set up the API (was also not sure what to list for application and organization website). I put in the same code from the Fitbit read-me into my config.js file, but in the console I am getting the following error:

TypeError: Fitbit is not a constructor.

Any guidance would be super helpful. Thanks!

[2016-08-31 05:09] evancohen commented on #387
Possibly a duplicate but definitely related to #350 - closing this issue out to consolidate this FitBit problem, feel free to follow up there.

[2016-08-31 05:09] #387 closed

[2016-08-31 05:12] glcohen commented on #369
I changed main.css:191 to "margin-left: 75px;" which fixed the misalignment for me.

[2016-08-31 05:17] evancohen commented on #369
@glcohen I think that just adds additional padding to the `.weather` class. I think what really has to happen is that it needs to be of `display: block;` which will fix the left margin issue.

[code]

[2016-08-31 05:19] #369 closed

[2016-08-31 05:20] glcohen commented on #369
Can confirm that worked. Not too great with CSS. Thanks!

[2016-08-31 05:20] evancohen commented on #361
Closing this out because the issue has been solved. See #307 for more info.

[2016-08-31 05:20] #361 closed

[2016-09-02 03:25] Rian9771 opened #388 "Edited!"
**Edited! Apologies, did not read the complete detail of your project!. You may close this

[2016-09-02 08:13] evancohen commented on #388
Love it when issues resolve themselves :)
🚀

[2016-09-02 08:13] #388 closed

[2016-09-02 19:36] En-TACT opened #389 "NPM install fails"
Unable to reach electron v1.3.5-linux-arm.zip.  Return error, "Error: Failed to find Electron v1.3.5 for linux-arm at https://github.com/electron/electron/releases/download/v1.3.5/electron-v1.3.5-linux-arm.zip".  Folder /download/ does not exist.

[2016-09-02 19:39] justbill2020 commented on #389
@evancohen,

I submitted this issue on electron's repo on github... you might want to comment anything you find there as well...

https://github.com/electron/electron/issues/7075

[2016-09-02 19:43] evancohen commented on #389
Great, thanks @justbill2020 :+1:

[2016-09-03 17:41] arnbruM commented on #389
Sorry to hijack your thread, I am also having this issue, although mine is looking for an arm64.zip.

[2016-09-03 18:08] evancohen commented on #389
There isn't an arm64 binary for electron. See https://github.com/electron/electron/issues/259

[2016-09-03 18:08] #389 closed

[2016-09-04 16:41] wuppi83 opened #390 "How to add more speech commands"
Hi,

if i want to add more speech commands ... which files i have to change ?!
I add a few lines in the "de.json"

`        "shutter": {
            "text": "Schließe die Rolläden",
            "voice": "Schließe die Rolläden",
            "description": "Schließe die Rolläden."
        },`

and in "controller.js"

`            // Shutter
            addCommand('shutter', function() {
		var clicku

[2016-09-04 17:22] harvest3155 opened #391 "Weather not displaying todays forecast"
i am able to pull and display Current weather, weather description, and weekly weather forecast. I noticed there is something that should call for the current days forecast with High/Low in the ../js/services/weather.js (line 28- 36). however, i am not displaying that information.

[2016-09-04 19:16] benjitastic commented on #378
same for me... sorry, don't have much more useful information. here is my .asoundrc file: https://gist.github.com/benjitastic/7fbf0a886f3a68a21103043347ff754f

here's my /boot/config.txt: https://gist.github.com/benjitastic/79c4ee05d97926633f2bb911f4754739

let me know if there are any other files or info that would be helpful.

USB mic input is working

[2016-09-04 20:08] evancohen commented on #390
Those are the only two things that you should have to modify. My guess is that somehow annyang is not correctly matching what you have said to the command.

Use the `annyang.simulate("Schließe die Rolläden")` command in the dev console to see if it matches correctly. Then speak the command and see if the output of the recognized text is ok.

Another potential reason it might not be working: Google

[2016-09-04 20:15] evancohen commented on #391
That's what the comment says... After reading https://github.com/evancohen/smart-mirror/blob/master/js/services/weather.js#L28-L37 it doesn't look like there is any data transformation on those two fields - although they are returned with the function call, they just aren't consumed in the view.

You could add those two properties by adding them to the template in `index.html`.

[2016-09-04 20:15] #391 closed

[2016-09-05 15:14] jallen1227 commented on #266
Agreed on the privacy relative to cameras, what about switching based upon use of Pi's NFC module.  That way, a phone or tablet could be used to switch between users.  Certainly not as convenient as voice but opens up options and validation / security of content shown.

[2016-09-06 03:58] glcohen commented on #386
I've been working with getting Festival to speak commands, which work via the terminal, and would work through [Vocal](https://github.com/active9/vocal); however, ALSA does not allow multiple sound sources (the mirror and festival) to go at the same time.

I've been playing around with the .asoundrc file to see if I can get [DMIX](http://alsa.opensrc.org/Dmix) to work, but I don't understand this

[2016-09-06 18:54] martster opened #392 "Updating Annyang"
Updating Annyang to the newest version would be cool. Maybe it makes further maintenance easier and more features of Annyang can be used such as `annyang.trigger()`.

[2016-09-06 20:18] mkerfoot opened #393 "Enhancement: consolidate email output"
I think it would be sweet if we could get the calendar events all consolidated under the day they below opposed to how mine is showing right now(shown below).

**Today**
appointment 1(all day)
appointment 2(all day)

**Tomorrow**
Appointment 3(1hr)

**Tomorrow**
Appointment 4(1hr)
Appointment 5(1hr)

**Tomorrow**
Appointment 6(1hr)

With the goal being;

**Today**
appointment 1
appointment 2

**To

[2016-09-06 20:42] TwoClipz commented on #359
Have you been able to get this to work?
I'm not much of a coder, but adding something like this might work... I'll try it tonight when I get home.
{
    var x = document.getElementById("greetingTime");
    setTimeout(function(){ x.value=" " }, 6000);
}

[2016-09-07 00:51] evancohen commented on #393
That's already how it works today... Are you using the latest from master?

![image](https://cloud.githubusercontent.com/assets/1198365/18295925/63d25932-745a-11e6-9cfe-28c3759775eb.png)

[2016-09-07 00:51] #393 closed

[2016-09-07 19:05] mkerfoot commented on #393
Strange, everything looks good today. Must of had something to do with my google calendar <-> outlook calendar sync.

P.S. this is the master branch(very recent clone).

Thanks Evan!

[2016-09-07 23:41] cowboysdude opened #395 "Instructions are too old and need updating."
Unless you are a programmer you don't get the average person to want to attempt this...
Mic issues that should be easily fixable and when you go to the troubleshooting section you end up going around in a big circle with nothing getting fixed....

[2016-09-08 01:14] TwoClipz commented on #359
This seems to be working... it doesn't hide per say 	,it  just changes to to be blank..
I was trying to do a nice fadeOut but couldn't get it working. I'm going to continue to work on it. I'll also try to add the var to the config and get it outta here.

{
var greetingTimeOutMs = 20000; // <-- time in milliseconds
setTimeout(function(){ $scope.greeting = " " }, config.greetingTimeOutMs);
}

[2016-09-08 20:23] evancohen commented on #395
@cowboysdude it would be helpful if you could elaborate on this. Could you include some more details so that we can improve the documentation?

[2016-09-08 23:26] cowboysdude commented on #395
Let me read through it again and see if we can't figure out an approach for non programmers...
Installation section:

wget https://nodejs.org/dist/v4.4.3/node-v4.4.3-linux-armv7l.tar.gz
tar -xvf node-v4.4.3-linux-armv7l.tar.gz
cd node-v4.4.3-linux-armv7l

The above is all wrong because it's version 4.5.0 now... I would suggest this instead:

sudo apt-get install -y nodejs

That works great!  I kno

[2016-09-09 01:05] cowboysdude opened #396 "Weather not working...Geo not working.."
I have created both an API and hard coded the long/lat for Geolocation and neither one are working.

The weather isn't loading...

Continue to get "Google Recognizer: Network Error "  I know my quota has not been reached because I checked that and it's at 0, it's a new key.    It was working fine then suddenly it just started doing that...
I created a new key and it's still doing the same thing.

[2016-09-09 02:29] evancohen commented on #396
Yup that's a bug, rename "geo_position" to "geoPosition". See #381. The fix is already in the dev branch (which I'm trying to merge into master this weekend).

[2016-09-09 02:32] evancohen commented on #395
hey @justbill2020 I know you were thinking about clarifying some parts of the docs and expanding some sections, you should take a look at this feedback.

[2016-09-09 03:11] cowboysdude commented on #395
Great!!! I'm just running node 4.5 but it's working...
Well the fun part is trying to figure things out... but pi-install.sh isn't a bad idea either... it has simplified some things...

We all appreciate your work!  Thank you for putting your time into this!

[2016-09-09 03:11] #395 closed

[2016-09-09 03:15] cowboysdude commented on #396
If you're referring to the config.js file it's already named that and still isn't loading....

[2016-09-11 01:33] cowboysdude commented on #396
Uncomment the GEO section in the config.js and create ALL chrom keys... my fault.  Issue solved.  :)

[2016-09-11 01:33] #396 closed

[2016-09-11 01:38] cowboysdude commented on #378
Yes just noticed it is also happening to me as well.  Not sure why...   Don't know if this helps any but...I realize this isn't windows but perhaps it's a starting point..

"I have a brand new PC with windows 10 and after the issue happened to me I searched around like everyone else here. Still not entirely sure what causes it but; "Run Chrome as Administrator" fixed it for me. Hopefully this help

[2016-09-13 19:55] seihser commented on #396
Excuse me, I'm having the same problem with my old config file.

Can you be more explicit when you say that you have to creat all chrom keys?

Can we have a look at your config.js wchich is working?

[2016-09-13 20:23] seihser commented on #47
Greetings everyone!

Sorry but i have th same probeme, I'm not running the smart mirror on a raspberry but on an old MSI wind U 100 with ubuntu on it.

I started using your files 6 months ago and it worked well (got the geoposition problem only), but i saw that you implemented new functions recently so I created an other folder in order to copy the new files (following the doc).

So i got those er

[2016-09-13 20:29] seihser commented on #47
If you want me to give you the old confif.js file which work well (except the weather) and the new one that crash at "npm start" let me know.

thanks for all the support evan on this awesome project!

[2016-09-13 20:55] seihser opened #398 "Re opening #47 and #396"
Sorry, but do you mind re opening those topics ?

I have issues similar to those but no solution yet.

Thanks

[2016-09-13 21:00] evancohen commented on #47
Try reinstalling your dependencies:
[code]

The package that we use is still `electron-prebuilt` even though they have moved to `electron` for prebuilt binaries, and I think it's still supported but that could also be the cause of this issue.

[2016-09-13 21:03] evancohen commented on #398
Please use the threads on the existing issues - no need to create new issues to track existing problems.

[2016-09-13 21:03] #398 closed

[2016-09-13 21:11] evancohen commented on #386
Sorry for the delay in response here! You've answered your own question, DMIX is the way to go. It would be helpful to know what issues you've been having trying to figure it out.

Just taking a stab in the dark here, but if you are using the provided `~/.asoundrc` file then you should just be able to update the `plugged` pcm device, for instance:

[code]

[2016-09-13 21:19] evancohen commented on #390
Assuming that this solved your issue. Cheers!

[2016-09-13 21:19] #390 closed

[2016-09-13 21:24] evancohen commented on #376
I now have a solution to this issue (after totally dropping the ball on it) 🏀. We'll need to create fully qualified alias for each of the moment locales by extending the existing ones: http://momentjs.com/docs/#/customization/

Shouldn't be difficult at all!

[2016-09-16 17:08] DuFeel opened #399 "Unable to determine location - No Weather"
HI All,
Running my mirror in dev mode i get a "unable to determine location" Controller.is.:164
I have double checked my forcast.io key in the config and can see that this isnt getting any hits of their site
i have renamed "geo-position" to "geoPosition" and set a geo location so my config file is:

geoPosition: {
latitude: 51.528308,
longitude: -0.3817765
},

The Google Maps Geolocation API has b

[2016-09-17 03:14] evancohen commented on #219
Got this working. Now it's a one line script:
[code]

[2016-09-17 03:14] #219 closed

[2016-09-17 13:07] DuFeel commented on #399
Solved it!

You have to delete the */ and /* before and after the:

geoPosition: {
latitude: 51.528308,
longitude: -0.3817765
},

Sorry... i am new to everything.
Noobs are people too!!

[2016-09-17 13:07] #399 closed

[2016-09-17 22:50] Fabrizio1 commented on #378
Hi all,
I had exactly the same problem.
I checked the code and just replaced "config.youtube.key" with my API key in the "search.js" file, see below.
Now it is working, at least for me. Maybe this helps.
Best, Fab

"//Sharing this key in the hopes that it wont be abused
                    'key': config.youtube.key"

[2016-09-21 20:45] itsmason opened #402 "Issues installing on pi-3"
Hi, I followed the instructions at docs.smart-mirror.io to the letter but its failing to load.
npm-debug log is as follows:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nodejs', '/usr/bin/npm', 'start' ]
2 info using npm@3.10.3
3 info using node@v6.6.0
4 verbose config Skipping project config: /home/pi/.npmrc. (matches userconfig)
5 verbose run-script [ 'prestart', 'start', 'post

[2016-09-21 21:04] evancohen commented on #402
Looks like there is something wrong with your electron installation, can you try:
[code]

[2016-09-21 21:17] itsmason commented on #402
thanks evan, i've fixed the issue, the instructions need the following added (i got this info from another answer you gave someone else...

at install point bower needs to be installed from within the smart-mirror directory. this fixed the issue and it's running with no issues now.

great work by the way, and thankyou.

[2016-09-21 21:27] #402 closed

[2016-09-22 19:28] evancohen commented on #383
@Keopss I think we sorted this out in Gitter, but I can't remember now. I'm going to close this, but if you are still have trouble feel free to comment and I'll reopen.

[2016-09-22 19:28] #383 closed

[2016-09-22 19:29] evancohen commented on #374
I don't think this is a suggestion, so I'm closing out this issue.

[2016-09-22 19:29] #374 closed

[2016-09-22 19:31] #370 closed

[2016-09-22 19:32] evancohen commented on #292
@yaydogan any chance you are still working on this?

[2016-09-22 19:33] evancohen commented on #249
Stale issue, also Windows isn't fully supported anymore (although I am working on it)

[2016-09-22 19:33] #249 closed

[2016-09-22 19:34] evancohen commented on #307
Closing this out because this is no longer an issue :)

[2016-09-22 19:34] #307 closed

[2016-09-23 18:04] itsmason commented on #378
from what i can tell this is a soundcard issue, i had the same problem but found switching to an external card freed up the problem and videos would run, may possibly be the internal card resource is being hogged by raspbian OS, i'm going to try to disable it for the OS and see if that fixes it.

[2016-09-23 18:21] evancohen commented on #378
@itsmason it's very likeley that is the issue, in which case the simple fix is to use Dsnoop. Instructions for this are in #386.

I can test that out over the weekend. I'll update this thread and the docs if that fixes it.

[2016-09-27 21:41] SenadM commented on #51
When will this be merged with master?

[2016-09-28 01:37] evancohen commented on #51
@SenadM #128 is already in `master`, I think I just forgot to close this issue. For reference, the file that does the legwork here is [`autosleep.js`](https://github.com/evancohen/smart-mirror/blob/master/js/services/autosleep.js)

[2016-09-28 01:37] #51 closed

[2016-09-28 13:57] sdetweil opened #403 "Voice reco not working on PI 3."
I recently installed SM for the first time. I have a TV as the monitor, with HDMI output, and a USB webcam as mic in.

I 'think' I have the setup correct so that arecord and aplay work on the default devices with pulseaudio running.

but nothing works with smart mirror. (is it supposed to make a sound at npm start?)
pulseaudio -v shows the attached
[sound-trace.txt](https://github.com/evancohen/sm

[2016-09-28 14:24] sdetweil commented on #403
also, what is the training supposed to do? It opens the web site, but on create new hotword it says use Chrome.. then there is the 'record my voice' button, but nothing happens, and the button goes away.
the help doesn't describe what is supposed to happen.

the snowboy setup step, rec temp.wav works.. so mic is working, sw is configured, ...

[2016-09-29 03:27] evancohen commented on #403
Hey @sdetweil, the smart mirror no longer supports PulseAudio (see #307). I responded to that email and on gitter, but for anyone else wondering:
When training the keyword you have to log in first. I'm guessing in input problems here are caused by PulseAudio issues.

[2016-09-29 14:32] sdetweil commented on #403
i removed pulseaudio, fixed up the .asoundrc file, got rec and play to work.. then went to record the model with my mic..    no logon available from pi invocation...  had to go to windows, and record works, test works.

save doesn't UNLESS the name of the model is unique.. (not already used!)..  weird..

now have reco test working, and mirror code shows some blip, but then doesn't do anything else

[2016-09-30 14:33] sdetweil commented on #326
it should be configurable, and device extendable... you want to use PIR, then do this, you want to use camera, then do that (new cam type, extend this). In my case the mirror will be out in a hallway, and I am using webcam for voice, so have cam for motion detection.

[2016-09-30 16:02] sdetweil commented on #403
I am using my own voice model now..

today I noticed that microphone-debug and arecord both failed, something about dsnoop..  turned out my usb webcam had changed card numbers.  fixing that is ~/.asoundrc, now works..

[2016-09-30 16:02] #403 closed

[2016-10-02 18:47] GobleSt commented on #286
Could this be done using:  https://goo.gl/xt2w5d ?

[2016-10-02 23:34] GobleSt opened #404 "White is boring....what about adding some colors?"
Let's spice things up a bit and add some color or maybe scroll the stocks....something to add some pizzazz.

[2016-10-03 13:06] bajo commented on #286
@GobleSt possibly. However, OpenCV is the standard library to do something simple like that.
One good tutorial can be found here [1], full source code as well. I think it can be easily adopted to not output the motion shown as boundary box in an output window, but only as a bool or string which can be used within the js script for further processing.
However I am not familiar with the process of c

[2016-10-03 17:56] evancohen commented on #286
@bajo we currently do that today with the keyword spotter by spinning up a child process with an IPC. See `main.js` for the exact implementation.

[2016-10-05 01:26] dithom02 opened #405 "Saying Smart mirror only half works"
After I say "Smart Mirror" the bottom of the screen flashes, but nothing is recognized past this. I had it working before, and when I restarted I started to get these issues :S

Here is the output of the terminal:

[code]

Thanks!

[2016-10-05 03:57] evancohen commented on #405
This issue has been addressed [many](https://github.com/evancohen/smart-mirror/issues/383) [many](https://github.com/evancohen/smart-mirror/issues/368) [times](https://github.com/evancohen/smart-mirror/issues/333) [before](https://github.com/evancohen/smart-mirror/issues/287). I'm willing to bet that either your microphone configuration got messed up on reboot or you are out of speech requests for

[2016-10-05 03:57] #405 closed

[2016-10-07 10:52] namezero opened #406 "microphone"

[2016-10-07 10:53] #406 closed

[2016-10-07 10:59] namezero opened #407 "Audio not working"
[code]

[2016-10-07 12:02] namezero commented on #407
ALSA lib confmisc.c:1286:(snd_func_refer) Unable to find definition 'cards.bcm2835.pcm.front.0:CARD=0'
ALSA lib conf.c:4259:(_snd_config_evaluate) function snd_func_refer returned error: No such file or directory
ALSA lib conf.c:4738:(snd_config_expand) Evaluate error: No such file or directory
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM front
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate

[2016-10-07 12:21] namezero commented on #407
ALSA lib confmisc.c:1286:(snd_func_refer) Unable to find definition 'cards.bcm2835.pcm.front.0:CARD=0'
ALSA lib conf.c:4259:(_snd_config_evaluate) function snd_func_refer returned error: No such file or directory
ALSA lib conf.c:4738:(snd_config_expand) Evaluate error: No such file or directory
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM front
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate

[2016-10-07 13:24] namezero commented on #407
pcm.usb {
type hw
card U0x6f80x3009
}
#asym fun start here. we define one pcm device called "pluged"
pcm.pluged {
type plug
#this is your output device
slave.pcm "hw:0,1"
}
#one called "dsnooped" for capturing
pcm.dsnooped {
ipc_key 1027
type dsnoop
#this is your input device
slave.pcm "usb"
}
#and this is the real magic
pcm.asymed {
type asym
playback.pcm "pluged"
capture.pcm "dsnooped"
}
#a quic

[2016-10-07 15:58] bajo commented on #286
@evancohen I will look I to it and come back to you if I need some help. Thanks for pointing me in the right direction.

[2016-10-07 17:50] evancohen commented on #286
Awesome!

[2016-10-08 23:09] glcohen commented on #386
Haven't had time to continue my work until now, unfortunately.

I'm still having some trouble with `~/.asoundrc`.

With the following configuration, my code to announce the time works, along with other sounds (via SoundCloud), but, the microphone stops working.

[code]

I've tried to integrate this with the .asoundrc file you've created in https://github.com/evancohen/smart-mirror/issues/307 to no

[2016-10-10 13:24] GobleSt commented on #326
I agree with @sdetweil .  Mine is next to the front door.  I think we should have both options for what different people want to do.  The webcam option can continue in issue #286 I suppose.

[2016-10-10 13:25] GobleSt commented on #286
I have installed motion and am able to view the feed in the web browser.  motion.conf is what I am working on now to get the "on_event_start value" and "on_event_end value" actually calling to my off and on scripts.  Manually calling the scripts work but for some reason the motion.conf doesn't.... I thought is might have been since motion.conf is called by the motion user but sudo -u motion >scrip

[2016-10-12 10:27] pearno opened #408 "Calendar recurring events not correctly picking up the day labels"
I'm having trouble with calendar events displaying with the 'Today', 'Tomorrow', etc. labels.

I believe this issue is limited to events which are recurring.  These events show the start and end times, but no day or date label at all.

Individual ad-hoc events correctly display the day/date and, curiously, the event immediately after an ad-hoc event also displays the day/date whether it is recurri

[2016-10-13 09:43] hyp3rx commented on #407
I have the same issues... trying to fix that in the last 3 days...

[2016-10-13 10:26] evancohen commented on #407
Don't feel bad, linux audio is notoriously complex. Pretty sure @namezero had their issue solved in gitter - I think it was something funky with microphone the microphone index?

That said, there actually isn't anything wrong with most of these errors (there's a closed issue about it already with more details)

[2016-10-13 11:34] hyp3rx commented on #407
I have partitially fixed the problems, but still there are some:

ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.side
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.hdmi
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate)

[2016-10-13 16:26] evancohen commented on #407
Those are all safe to ignore :)

As for snowboy, they have an auth bug. Click on the top left icon to take you to the snowboy home page. Then login on the top right. After you log in, close the window and relaunch. You should be able to record then.

[2016-10-13 16:33] jamesrequa commented on #407
I tried loading smart-mirror for the first time yesterday and the whole screen is black nothing else shows up. When I close the program I can see in the terminal there are similar error messages from ALSA lib. See below.

ALSA lib confmisc.c:1286:(snd_func_refer) Unable to find definition 'cards.bcm2835.pcm.front.0:CARD=0'
ALSA lib conf.c:4259:(_snd_config_evaluate) function snd_func_refer returne

[2016-10-13 16:47] jamesrequa opened #409 "Mirror wont load unless RSS feed is defined in config"
I ran smart-mirror in debug and got the following Angular error in the console. BTW nothing showing in the program - the whole screen is black.

angular.js:13236 TypeError: Cannot read property 'then' of undefined
    at Object.RssService.service.refreshRssList (rss.js:34)
    at refreshRss (controller.js:275)
    at MirrorCtrl._this.init (controller.js:283)
    at new MirrorCtrl (controller.js:56

[2016-10-13 17:37] evancohen commented on #409
Looks like something is wrong with your RSS config. Try removing it from `config.js` and see if that fixes it.

[2016-10-13 17:46] jamesrequa commented on #409
I actually had it commented out in the config file cause I don't have any RSS feeds. Now I tried removing it altogether from the config and rerun but getting the same error back in the console.

[2016-10-13 17:51] evancohen commented on #409
Interesting - sounds like a bug. For now you should just be able to add the empty config object and that should work.

[2016-10-13 18:09] jamesrequa commented on #409
That worked, now the mirror loads, awesome! Thanks Evan!

----

btw...the mic is picking up my voice since it follows all my commands but there doesn't appear to be any audio playback. All I see is that the bottom of the screen turns slightly white to show the mirror is listening. I can post that issue in a separate thread though.

[2016-10-14 06:05] hyp3rx commented on #407
@evancohen you are right ! it can be ignored.... as for snowboy i´ve manged it, thank you. Everthing seems working fine now !!

@jamesrequa:

you have to start jackserver and maybe pulseaudio manually:

pulseaudio --start
jack_control start

you will see, that it will works till now ;)

[2016-10-14 14:41] sdetweil commented on #403
solved by changing the .asoundrc to specifically id my USB device, instead of depending card order..

pcm.usb {
type hw
card U0x46d0x825 <----- change this to match your hardware ID. (found with arecord -l command
}
-#asym fun start here. we define one pcm device called "pluged"
pcm.pluged {
type plug
-#this is your output device
slave.pcm "hw:0,1"
}

-#one called "dsnooped" for capturing
pcm.dsno

[2016-10-17 14:58] #407 closed

[2016-10-17 16:45] TheCellMC opened #410 "Ios reminders / Amazon echo shopping list"
A welcome feature would be the added support to reminders (ios, Android) or the support for the amazon echo shopping list. Then you could just ask the smartmirror to display your shopping list.

[2016-10-17 18:55] p4ndi4 opened #411 "Emotion Detection"
I know there is a module for face detection to switch between users, but has anyone considered emotion detection (e.g. changing the string that is shown depending on emotion rather than time of day - or both)?

The Cognitive Services API in Azure has a free tier and an emotion API that could be used: https://www.microsoft.com/cognitive-services/en-us/emotion-api/documentation.

[2016-10-18 05:57] mohiuddinopu opened #412 "Failing to start"
I configured as per the instruction and seeing the following error while starting. I updated the SM repo, still seeing the same error.

pi@raspberrypi:~/smart-mirror $ npm start

internal/child_process.js:313
    throw errnoException(err, 'spawn');
    ^

Error: spawn EACCES
    at exports._errnoException (util.js:1036:11)
    at ChildProcess.spawn (internal/child_process.js:313:11)
    at Object.

[2016-10-18 23:19] evancohen commented on #412
Could be that there's an issue with your dependencies, can you try:
[code]
and then start it again?

[2016-10-18 23:20] evancohen commented on #410
thanks for the suggestions!

[2016-10-18 23:22] evancohen commented on #411
Thanks for your suggestion. I've done some on-device face recognition before, but I think this would be really cool. Feel free to take a stab at it and send a PR. Let me know if you need any help!

[2016-10-22 05:42] #392 closed

[2016-10-22 05:46] evancohen commented on #386
With the updated speech recognition work that I just completed, my recommendation would be to use Say: https://github.com/Marak/say.js

Troublesome audio configuration should be a thing of the past (I still have to verify this though).

[2016-10-23 23:34] kashyyyk1 opened #416 "App threw an error during load"
I just did an update and now I get the following error.  Previously I had youtube issues, but the speech worked and didnt notice anything else.

[code]

[2016-10-23 23:39] evancohen commented on #416
Please follow the instructions in the documentation for getting your Google Cloud Speech API keyfile:
https://docs.smart-mirror.io/docs/configuring_voice.html

Leaving this open for a while for visibility.

[2016-10-24 01:52] scottpcrawford commented on #416
Having the same error message. I followed the linked instructions to create the keyfile, named it keyfile.json and saved to the smart-mirror folder and updated the config.js without success

[2016-10-24 03:36] kashyyyk1 commented on #416
I'am too, in the config, I put in the name of the JSON file it created, I also changed the project name to my project name and still the error.

[2016-10-24 04:03] evancohen commented on #416
Ooh, yup. I've fixed this in the latest master. `git pull` and try again.

[2016-10-24 04:05] evancohen opened #417 "Final results only display the first character of a message"
For instance "go home" only shows "g"
![image](https://cloud.githubusercontent.com/assets/1198365/19633258/541a3594-9964-11e6-871c-5b1b18247a5a.png)

[2016-10-24 04:09] #417 closed

[2016-10-24 04:37] scottpcrawford commented on #416
Pulled the latest change that fixes the keyFile typo and the program is loading. Youdaman @evancohen

[2016-10-24 08:15] evancohen commented on #412
This should be fixed in the latest master.

[2016-10-24 08:15] #412 closed

[2016-10-24 12:40] kashyyyk1 commented on #416
thanks it loaded for me, voice didn't work and when I exited out there was error-

[code]

[2016-10-24 17:59] evancohen commented on #416
There are two things going on here:
@kashyyyk1 - you need to make sure you've installed this library
[code]

It also looks like the projectID is hard-coded into `sonus.js` so until I fix it to pick up the config value, you'll need to fix it manually.

[2016-10-24 22:26] kashyyyk1 commented on #416
Thanks, that did it!

[2016-10-25 01:54] #416 closed

[2016-10-25 04:28] HumzahF opened #418 "My Microphone is not getting recognized"
Hi everybody,
For some reason the app is not picking up my microphone. I set up the keyfile and everything in the config file.

  speech : {
        projectId: 'magicmirror-147422',
        keyFilename: './home/pi/smart-mirror/MagicMirror-9d1fd3963297.json',
        keyword : "Smart Mirror",
        model : "smart_mirror.pmdl", // The name of your model
        sensitivity : 0.5, // Keyword gettin

[2016-10-25 18:21] evancohen commented on #416
Can you run `git pull` and try again? I've pushed the update to master
already.

On Sun, Oct 23, 2016, 8:36 PM kashyyyk1 <notifications@github.com> wrote:

--

//mobile

[2016-10-25 23:44] kashyyyk1 commented on #416
OK, I ran git pull and it works.

[2016-10-26 03:20] madhavc opened #419 "Integrate OpenTok APIs for video chat"
Opening Issue so we can add it waffle.io and keep track of it.

[2016-10-30 16:56] jamiemckay opened #420 "Hotword detection stops working"
Hi, my name is Jamie and I am 12 years old.  I started this smart mirror project and have made very good progress.  Everything is working great apart from the hotword detection.
It always works at least once - but not for long - after a few voice commands it stops responding and never detects a hotword again until I stop the app and restart it.

Can somebody please tell me what they think the prob

[2016-10-30 17:26] kurtdb commented on #420
Hi Jamie,

Supercool that you're doing this with your dad. He must be so proud of you that you got this far.

The hotword is actually a prefix, so you would say smart mirror *insert command*. If this does not work, there is a help section regarding all of this in the documentation: http://docs.smart-mirror.io.

You could also debug a bit using ```npm start dev``` as a startup command. That way you

[2016-10-31 04:36] glcohen commented on #386
I had tried say back when I started down this rabbit hole. Just tried it again with the updated mirror code, and it has no output sound, no error messages. I'm guessing there's still a dmix issue.

[2016-10-31 07:46] martinakmckay commented on #420
Hi kurtdb - Jamie's Dad here :)
We have opened it with the debug console visible - We have gone through the troubleshooting tips.
When the hotword gets detected we get the "white/grey gradient effect" across the bottom of the screen.
We can request maps, and zoom in and out and it works great, but after a few commands the hotword detection stops - we don't get the visual effect any more - it is as

[2016-11-01 16:16] evancohen commented on #386
@glcohen have you followed the updated documentation? I tried Say with Sonus a few weeks ago and it worked without a hitch.

[2016-11-01 16:49] evancohen commented on #420
Hi Jamie (and Jamie's dad),

Nicd work getting the smart mirror running! I've been out of town for the past few days so I'm sorry that I wasn't able to respond any sooner. A few things to clarify, and then a suggestion for troubleshooting:

- Are you using the most up-to-date code from the `master` branch?
- Are you running this on a Pi 2 or 3?
- What microphone are you using?

You may want to try

[2016-11-02 02:09] glcohen commented on #386
Updated asoundrc worked!

Should I submit a pull request?

[2016-11-04 20:11] filimikr opened #421 "Microphone issue"
Hey,

I have an issue with my usb (creative) camera for the microphone.
Raspberry recognizes the device and in the sound config file(asoundrc)  I set it as default recording device.
Microphone-debug recognizes the device as well, and I can record and play my recording.
Although when I run the Smart-Mirror the microphone is not working. I think that my config.js file is properly edited.

Any help w

[2016-11-04 20:24] kurtdb commented on #421
If you start the mirror using ```npm start dev```, do you see any logging concerning the speech?

[2016-11-04 20:36] filimikr commented on #421
No, i have only this folowing error (and one more for the rss), but nothing for speech.

TypeError: Cannot read property '@attr' of undefined
    at scrobbler.js:17
    at processQueue (angular.js:15552)
    at angular.js:15568
    at Scope.$eval (angular.js:16820)
    at Scope.$digest (angular.js:16636)
    at Scope.$apply (angular.js:16928)
    at done (angular.js:11266)
    at completeRequest (

[2016-11-04 23:15] evancohen commented on #421
You might want to give the troubleshooting steps a shot and just run the keyword spotter and speech recognition to see what is up: https://docs.smart-mirror.io/docs/microphone_and_speech_recognition_issues.html

[2016-11-05 01:16] petran1420 opened #422 "Can you...log out of the app?"
Hi all,

Probably dumb question here- I have the app up and running just fine after npm start, but I'm wondering if theres any way to close the app and get back to the rasp pi home screen? Do I have to turn it off and on again? I have ssh enabled but I don't think npm commands work with ssh so I'm not sure I can do anything remotely

This is my first project making an app like this after a little

[2016-11-05 01:31] justbill2020 commented on #422
Alt + F4 will do it... or control + c from the terminal... also alt + tab will work just like it does in other operating systems.

[2016-11-05 01:34] petran1420 commented on #422
Thanks!!

[2016-11-05 01:34] #422 closed

[2016-11-05 01:47] justbill2020 commented on #422
If you haven't already check out our gitter page for quick answers to issues @ https://gitter.im/evancohen/smart-mirror

[2016-11-05 11:52] martinakmckay commented on #420
mmm - something bad :/
npm run sonus gives me:

then nothing ... I suspect my audio is the problem.

[2016-11-06 00:49] filimikr commented on #421
Actually I re-installed everything from the scratch(raspbian-smart-mirror etc), and now things are better. the app recognizes the usbCamera normally, and after I trained my own model, the keyword seems like it's ok(it shows this white line across at the bottom.(sonus shows me that it recognizes the keyword as well)

The problem is that after the white effect , it does nothing. It doesn't listen to

[2016-11-07 02:59] petran1420 commented on #420
@martinakmckay , i'm actually having the same problem with the hotword detecting correctly right off loading the app, but only for a little bit- sometimes a minute, sometimes 5  minutes, etc., then it stops working. Sometimes the white 'listening' glow is turned on right off the bat, even if I don't say anything too, which is weird- but I'll leave that for another thread :)

In regards to npm run

[2016-11-07 10:15] martinakmckay commented on #420
@petran1420 I suspected my audio setup, and switched focus to explore it - I tried the Node project fro Alexa:
https://github.com/alexa/alexa-avs-sample-app

I thought it would be cool for the Mirror to do the whole Alexa thing. ( @evancohen :) )
The audio and hotword detection is perfect - I am using kitt.ai for the hotword.
I now need to dig through the code and compare the audio configs to see

[2016-11-07 14:24] petran1420 commented on #420
That sounds cool! Let me know how it turns out.

[2016-11-07 18:05] justbill2020 commented on #420
@martinakmckay is that the version of the alexa app using Java?

[2016-11-07 18:08] martinakmckay commented on #420
Yes - There is a Java client app.
M

On 7 November 2016 at 13:05, Bill Martin <notifications@github.com> wrote:

--
*Martin McKay*
CTO

T: +44(0)28 9442 8105

<https://www.facebook.com/Texthelpers>   <https://twitter.com/texthelp>
<https://www.linkedin.com/company/texthelp>
<https://plus.google.com/u/0/+Texthelp/posts>

<http://www.texthelp.com/>

Texthelp, Lucas Exchange, 1 Orchard Way, Greystone

[2016-11-07 19:44] justbill2020 commented on #420
I've spoken to @evancohen about this and there are some concerns regarding it... I'm going to tag this as a v1 suggestion though...

[2016-11-07 19:47] justbill2020 commented on #408
@pearno are you still experiencing this issue?

[2016-11-07 20:11] evancohen commented on #418
I'm pretty sure that we sorted you out on Gitter, but for anyone else with this problem:
Check out the [microphone and speech troubleshooting steps](https://docs.smart-mirror.io/docs/microphone_and_speech_recognition_issues.html).

[2016-11-07 20:11] #418 closed

[2016-11-07 20:14] evancohen commented on #421
You might want to review the steps that you used to get your key. If it doesn't have valid permissions then hotword detection will work but streaming will fail: https://docs.smart-mirror.io/docs/configuring_voice.html#setting-up-speech-recognition

[2016-11-07 20:19] justbill2020 commented on #421
also the project name in the `keyfile.json` file must match the project name in `config.js` file

[2016-11-07 20:21] evancohen commented on #408
@kurtdb maybe you have an idea of what's going on here?

[2016-11-07 20:26] pearno commented on #408
Yes, still happening for me.  I wondered if it might be related to the moment.js localisation issue (#376), since I'm set to UK dates/times?

[2016-11-07 21:34] evancohen commented on #408
Ooh, yup. I keep meaning to fix that! Hopefully I can take a shot at it this week.

[2016-11-07 21:57] justbill2020 commented on #378
:boom:

[2016-11-07 22:00] itsmason commented on #378
@justbill2020 I've not tried yet sorry, but I'm looking into it over the next week or so. If I get an answer before you (I'm guessing you're having the same issue) I will update.

[2016-11-07 22:02] justbill2020 commented on #326
the issue with using the webcam is limited resources on the PI... as stated in #286. since most are using a Rasp Pi adding webcam support for motion detection might have to wait until they release the raspberry pi 8... which should have the performance needed for this whenever they get around to that version of coarse 😝 lol

[2016-11-08 14:25] hyp3rx opened #423 "integration of pimatic"
Hello,
it would be nice if we can integrate Pimatic home-automatation. Maybe partially...  for Temp-sensors, status ...

From website:
pimatic is a home automation framework that runs on node.js. It provides a common extensible platform for home control and automation tasks.
 Uniform interface
It defines several schemata for different home devices and sensors, so that all devices can be controled

[2016-11-08 16:49] justbill2020 commented on #423
@hyp3rx This is a great suggestion... my concern is with so many open source projects out there it hard to integrate all of them. As I'm sure you've seen there's requests to integrate everything from smartthings to Logitech harmony hub to wink to insteon... even integration with the tesla app... and everything in between. being pragmatic the only thing most of these have in common with one another

[2016-11-08 16:50] justbill2020 commented on #57
pandora.... would be awesome!!

[2016-11-08 16:54] justbill2020 commented on #350
Hello all, I don't have a Fitbit so cannot independently test... is this issue resolved? @distortd6 I'm trying to close out any pending issues which have been resolved or at least bump them to get a status...

[2016-11-08 16:55] justbill2020 commented on #350
@jonathanng92 you reported this issue as well in #387 has this been resolved for you?

[2016-11-08 16:58] justbill2020 commented on #366
@evancohen I've been thinking about the commands going off the screen which is and isn't part of this... we should add a pagination feature for the commands and have a voice command for advancing through the pages (page forward and page back) more of a suggestion than a bug... possibly v1.0

[2016-11-08 17:01] jonathanng92 commented on #350
No, it hasn't worked out. But I've been busy with other things so I haven't been able to dedicate time to solving it.

Get Outlook for Android<https://aka.ms/ghei36>

On Tue, Nov 8, 2016 at 8:59 AM -0800, "Bill Martin" <notifications@github.com<mailto:notifications@github.com>> wrote:

@jonathanng92<https://github.com/jonathanng92> you reported this issue as well in #387<https://github.com/evancoh

[2016-11-08 19:21] hyp3rx commented on #423
Maybe we can develop some universal plugin for many homeautomatiation since many of them (pimatic included) can be used via api.
So we use a command line to get some temperature values for the smart-mirror.

[2016-11-08 21:03] itsmason commented on #378
I've not had a chance to check updates but I was using the most current build last month on both raspbian and smart-mirror code.

[2016-11-09 06:29] evancohen commented on #378
I haven't been able to reproduce this problem on the latest build. It could be that you have some straggler environmental variables from an old version of the mirror that are getting in the way. Try clearing those out if you have them.

[2016-11-09 19:26] justbill2020 commented on #423
@hyp3rx if you fork the repo you can take a look and see how to go about integrating it and then when complete submit a PR against the dev branch and after some testing and what not @evancohen can merge the PR... once its tested and vetted it will be included in the next master release then.

we definitely need and can use more community programming involvement.

[2016-11-09 19:47] wuppi83 opened #424 "Cannot find module '@google-cloud/speech'"
Hi Evan,

do you have an idea ...  what is the problem?!

[code]

[2016-11-09 19:56] justbill2020 commented on #424
did you use the install script for raspberry pi? or a manual installation?

it looks like you're missing dependencies... can you browse the internet?

[2016-11-09 19:59] wuppi83 commented on #424
I used the script :0( ... and i didn't find anything about this error by the internet ..

[2016-11-09 20:00] justbill2020 commented on #424
i can't replicate this currently

[2016-11-09 20:14] wuppi83 commented on #424
Maybe

`npm install --save google-cloud`

works ... i will test it !

[2016-11-09 20:38] justbill2020 commented on #424
I would say to do `git pull` and then `npm update` from the `smart-mirror` folder

also you have downloaded your keyfile.json from the google cloud platform console right?

also you've configured your config.js?

[2016-11-09 21:09] wuppi83 commented on #424
[code]

[code]

Yes

Yes

[code]
Doesn't fix the problem :0(

[2016-11-10 09:43] hyp3rx opened #425 "Add more speech commands"
Hello,
regarding #390 i have the same issue.

after adding in de.json:

       "shutter2up": {
            "text": "Rolladen zwei Wohnzimmer hoch",
            "voice": "Rolladen zwei Wohnzimmer hoch",
            "description": "Rolladen zwei Wohnzimmer hoch"
        },
        "shutter2down": {
            "text": "Rolladen zwei Wohnzimmer runter",
            "voice": "Rolladen zwei Wohnzimmer

[2016-11-10 11:38] taran27 commented on #404
hmmm @GobleSt  your idea is gr8 but its now possilbe as its in mirror form we can setup this later if you go for the touchscreen mirror that can  be too good for dat purpose

[2016-11-10 12:10] GobleSt commented on #404
Seems like it would be simple as it is just a Web page but I don't do Web
page coding.  Since I'm a hardware guy I'm hoping one of you smart software
people will hook me up.

On Nov 10, 2016 6:38 AM, "taran27" <notifications@github.com> wrote:

[2016-11-10 23:40] weedorbeat opened #427 "Error in automatic installation - GRPC"
Hello,
i have used the following manual to install smart-mirror:
[https://docs.smart-mirror.io/docs/installation.html](https://docs.smart-mirror.io/docs/installation.html).

There I got the following command and executed this in the shell:
`Curl -sL https://raw.githubusercontent.com/evancohen/smart-mirror/master/scripts/pi-install.sh | bash`

The following error occurred during the installation:
!

[2016-11-11 00:17] evancohen commented on #425
Do you actually do anything with `clickurl`? It looks like all you are doing is setting a variable. Maybe I'm missing something...

[2016-11-11 01:11] evancohen commented on #424
Running `npm install` should resolve the issue, but if it doesn't then you can try

[code]

For reference: https://www.npmjs.com/package/@google-cloud/speech

[2016-11-11 04:17] petran1420 opened #429 "Hotword detection issues"
I seem to be experiencing a problem a few others are dealing with, but perhaps for different reasons, so let me explain my situation specifically.

When I boot up the app with `npm start` voice recognition typically works right off the bat, with hotword detection working quite well, listening to commands afterwards and such (but it can never seem to understand the word 'zoom' when I try to zoom in

[2016-11-11 04:27] petran1420 commented on #429
Ok, I just tried adjusting to `speech : {continuous : true}` in config.js, and now it isn't detecting anything...

[2016-11-11 07:13] hyp3rx commented on #425
If you just execute the URL by hand (in the browser) it do what i expected.
It´s "Do move shutter DOWN... and UP.

[2016-11-11 07:16] hyp3rx commented on #429
I have exactly the same issue.
After some time (5 or 10 minutes) the grey glow turns on even if i don´t say anything... after a while (glows for more then 2-3 minutes) it doesn´t glow anymore...

[2016-11-11 19:12] justbill2020 commented on #427
did you write the raspbian jessie with pixel directly to your SDcard or did you use noobs to install?

i'm allso going to tag @evancohen  to see if he knows what would cause this?

[2016-11-11 19:19] justbill2020 commented on #429
hey guys... did you follow all the configuration steps in https://docs.smart-mirror.io?

continuous:true is really not a great thing to have done it will burn through your API calls when its working... i would set that back to false...

have you followed the steps for configuring the pi? https://docs.smart-mirror.io/docs/configure_the_pi.html

there might be something with the screensaver impactin

[2016-11-11 19:55] evancohen commented on #425
Yeah... But you actually need to make an HTTP request to GET that URL, the code that you provided doesn't actually do anything except change a variable. Again, I could be missing something here.

What you really want to do is:
[code]

If you are convinced that the callback isn't working then you may want to try setting a breakpoint there to see what's going on.

[2016-11-11 21:55] weedorbeat commented on #427
Right, using a Windows PC and DiskImager to write raspbian jessie with pixel directly to mine SD-Card (32GB Samsung)

[2016-11-11 22:47] evancohen commented on #427
There's a similar issue compiling gRPC for ARM here: grpc/grpc#6302

That said, I had no trouble compiling on my Pi a few weeks ago so clearly *something* has changed. I'll take a look this weekend.

[2016-11-11 22:57] weedorbeat commented on #427
Thanks for your help, I hope you'll find something :thumbsup:

[2016-11-11 23:42] petran1420 commented on #429
I believe I did everything correctly with installation and configuring the pi, but i'll recheck, maybe reinstall the screen saver program...would the app still be working if the non-screen saver install wasn't done correctly? Here's my speech input for the config file:

` // Keyword Spotting (Hotword Detection)
    speech : {
        projectId: 'mirror-146901',
        keyFilename: '/home/pi/smart

[2016-11-12 00:08] weedorbeat commented on #427
Thanks for your help, I hope you'll find something 👍

Here is the verbose log:
![pri_npm_error_verbose](https://cloud.githubusercontent.com/assets/199562/20233838/65d73d80-a874-11e6-92d9-eaf07521c9eb.PNG)

NPM-Debug-Verbose-Log: [npm-debug.txt](https://github.com/evancohen/smart-mirror/files/586950/npm-debug.txt)

[2016-11-12 02:04] petran1420 commented on #429
Just checked the screen saver under `/home/pi/.config/lxsession/LXDE-pi/autostart` and everything appears to be in order.

Left again, came back a few hrs later, and the same problem. At start up the app is recognizing almost any word as the hotword, usually won't stop listening, and then stops listening altogether after an extended period of time.

[2016-11-13 16:36] taran27 opened #430 "Suggestion:Why not JasPer."
**_well google API's are great but not efficient for daily use why not we use jasper a open source project which is offline and good for speech plus contains self developing functions._**

[2016-11-13 16:58] taran27 commented on #306
and @HelloExactly @evancohen  there a same issue if we run the certain video after saying going "go home" still video plays or sound but it doesnt quite continuos in background.

[2016-11-14 13:16] hyp3rx commented on #429
yep... i agree with @petran1420 ... i have the same issue, and have fallowed every step ! After Start, the app recognized everything, then it stops listining (white bar)

[2016-11-14 23:43] evancohen commented on #430
Hey @taran27, thanks for the suggestion!

Jasper typically relies on Pocketsphinx, is written in Python, and is likely too bloated for the smart-mirror.
Pocketsphinx is great, but the accuracy leaves a lot to be desired and it's also significantly slower on a low powered device like the Pi.

I'd rather not go back to a world where the project is half Python, there are enough moving parts already.

[2016-11-14 23:43] #430 closed

[2016-11-14 23:43] evancohen opened #431 "Alexa Voice Services API Suggestion"
Continuing from #420

[2016-11-14 23:45] evancohen commented on #420
Breaking out AVS support into another issue (#431) to keep things on topic. I've been totally swamped with work since I got back from vacation, but I know that this is an issue and I'm going to be looking at it ASAP.

[2016-11-14 23:48] evancohen commented on #429
Thanks for the super detailed issue, I wish they were all like this!
I'm pretty sure this is a duplicate of #420 so I'm going to close this out so we can consolidate the conversation.

[2016-11-14 23:48] #429 closed

[2016-11-14 23:49] evancohen commented on #421
Sounds like you haven't enabled billing. Can you double check that?

[2016-11-14 23:54] evancohen commented on #306
@taran27 can you file a separate issue for the sound continuing to play after you go home? This is a separate suggestion.

[2016-11-15 05:09] evancohen commented on #427
Ok, I did some investigating here and the issue is that you are using grpc with Node 7.
If you roll back to `lts` (v6.9.1 right now) it should work.

[2016-11-15 18:27] wuppi83 commented on #424
`npm install @google-cloud/speech --save`

Works for me :0) Thank you Evan !

[2016-11-15 18:27] #424 closed

[2016-11-15 18:28] wuppi83 commented on #378
I have the same problem on the latest build :0(

[2016-11-15 20:42] weedorbeat commented on #427
It works. Thanks a lot :)!

[2016-11-15 22:28] #427 closed

[2016-11-15 23:24] jgummersall opened #432 "Getting Icloud Calendar to work"
When I put the webcal:\\ address in the config file and run npm start dev, it gives me an error syaing that my URL address is in an unreadable format.

[2016-11-15 23:25] jgummersall commented on #432
If you remove the webcal:// and replace it with https:// so it reads https://p10.......... then it will have access to your calendar.

[2016-11-15 23:35] taran27 commented on #430
yo thanks @evancohen thats gr8 den..

[2016-11-17 10:58] chanjungkim opened #434 "'What can I say?' isn't working."
I installed everything. and sonus seems okay. Billed google speech and got API and applied in the config.js from smart mirror..
But 'what can I say?' isn't working.. what should I do???

[2016-11-17 15:15] hyp3rx opened #435 "sonus stopps working"
Today after playing around, started smart-mirror:

npm start

ERROR me/pi/smart-mirror/sonus.js:4
const config = require(__dirname + "/config.js")
^^^^^
SyntaxError: Use of const in strict mode.
    at Module._compile (module.js:437:25)
    at Object.Module._extensions..js (module.js:467:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Module.runMain

[2016-11-17 20:59] evancohen commented on #435
What version of Node are you using?

[2016-11-17 22:11] evancohen commented on #434
According to gitter you got this sorted out. What was the issue?

[2016-11-17 22:11] #434 closed

[2016-11-18 01:15] chanjungkim opened #436 "Voice Command Problem"
I fixed using 'What can I say?' command by voice.
however, I need to say 'What can I say?' every time before every c
ommand.
'What can I say?' -> 'Show map' 'What can I say?' -> 'Go home'
'What can I say?' -> 'What can I say?'
It is because I fixed speech>model>"smart_mirror.pmdl" -> "whatcanisay.pmdl(I trained and downloaded it)"from the config.js
As I see in Evan's video, he doesn't repeat the s

[2016-11-18 02:12] evancohen commented on #436
You'll probably want to train your own hotword here: https://snowboy.kitt.ai/hotword/47

The video is a year old and things have changed - mostly that you can't get unlimited free speech requests and people don't like constantly streaming audio to Google.

Now the way it works is:

"Smart mirror" -> "What can I say?"
"Smart mirror" -> "Go home"
etc.

[2016-11-18 08:52] hyp3rx commented on #435
Now i am in real problems, tried to reinstall smart-mirror, but fails here:

npm ERR! Linux 4.4.21-v7+
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"
npm ERR! node v7.0.0
npm ERR! npm  v3.10.8
npm ERR! code ELIFECYCLE

npm ERR! grpc@0.15.0 install: `node-pre-gyp install --fallback-to-build`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the grpc@0.15.0 install script 'node-

[2016-11-18 09:06] evancohen commented on #435
Check out #427
You problem is with node 7.x

[2016-11-18 09:30] hyp3rx commented on #435
Have downgraded to node 6.9.1, but:

Installing smart-mirror dependencies...
This may take a while. Go grab a beer :)
npm WARN deprecated node-uuid@1.4.7: use uuid module instead

Unable to install dependencies :(

[2016-11-18 10:33] hyp3rx commented on #435
I´ve installed electron by hand, then use npm install. Now it´s back working. Maybe there is something wrong in the "one click install script"

[2016-11-18 19:13] evancohen commented on #435
I hear that when you get those errors there's a debug log, can you please share it?
The WARN is just that, only a warning, and should not cause any issues with installation.

[2016-11-19 07:30] lorama opened #438 "Reminders"
I'm not sure if it's just my mirror but when I add or request to be shown the reminders, nothing happens.
Thank you (:
Also, the command for showing reminders is "show me reminders" while the command for videos is "show me____"

[2016-11-19 13:47] evancohen commented on #438
Interesting... @justbill2020 have you seen this? I'm not sure this was ever even fully implemented...
Could be a regression too. I'm on vacation for Thanksgiving this week but I'm trying to carve out some time to work on the smart mirror - hopefully I'll have time to take a look :)

[2016-11-19 18:07] wuppi83 commented on #378
You can fix the problem with

[code]

you have to start jackserver and maybe pulseaudio manually:

[code]

[2016-11-19 18:22] justbill2020 commented on #438
Lol "carve out" I see what you did there... I don't use reminders but I'll test on pi and my ubuntu dev vm. @lorama what platform are you running the smart-mirror on?

[2016-11-19 18:37] CaolanMcK opened #439 "Raspberry Pi Zero?"
This might be a stupid question, but can the code be run on a raspberry pi zero?

[2016-11-19 18:51] evancohen commented on #439
Not a stupid question, but no - it's not powerful enough (and Electron doesn't have ARMv6 binaries)

[2016-11-19 18:51] #439 closed

[2016-11-19 18:52] CaolanMcK commented on #439
Raspberry Pi 1?

[2016-11-19 18:58] evancohen commented on #439
Same deal (they essentially have the same specs)

[2016-11-19 19:00] evancohen commented on #378
Just as a reminder, the mirror doesn't support PulseAudio - I know that some people have added it to their setup for *reasons*, but you really shouldn't need it.

[2016-11-19 19:53] lorama commented on #438
I'm running it through the raspberry pi :) @justbill2020

[2016-11-19 23:38] justbill2020 commented on #438
@evancohen ok I just tested it in ubuntu... it is very haphazard... sometimes when running it in dev mode it loads the "remind me to _______" command other times it doesn't

often when speaking "remind me to watch tv" google only translates "remind me"

when speaking "show reminders" I don't get a display of what google speech heard and i get this youtube video... https://www.youtube.com/watch?v=d

[2016-11-20 02:51] evancohen commented on #438
LOL. I love Ellen...
Since we updated annyang it's now `annyang.trigger("COMMAND HERE")`
I'm guessing the order or command registration got mixed up so it's "falling back" to YouTube before considering reminders.

[2016-11-20 03:05] justbill2020 commented on #438
Ok that's cool docs need to be updated to show trigger not simulate.

[2016-11-20 07:46] kermit-kr opened #441 "jack server is not running or cannot be startd"
pi@raspberrypi:~/smart-mirror-master $ npm start dev

Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started

Annyang does not work, and the above message appears.

There is no error in the source code.

I get the same error if I kill and run pulseaudio again

I do not know what to do.

[2016-11-20 08:47] evancohen commented on #441
Please ensure that you are running the latest version of Raspbian and the mirror. There are audio issues with older versions of both.

[2016-11-20 20:59] jcbriones commented on #438
Having the same issue.

[2016-11-22 04:20] justbill2020 commented on #441
@evancohen a few tthoughts... can we (read: you, lol) "version" the smart-mirror... so that when we npm smartmirror version it spits out a version number? so we can verify what version people are on... obviously if the command doesn't work its not current...

also we need to go through and edit the old audio issues where we were debugging pulse audio so that its not misleading people down a rabbit

[2016-11-22 04:29] evancohen commented on #441
Agreed with those thoughts!

[2016-11-22 06:37] justbill2020 opened #442 "Multiple personal models for KWS"
currently only one pmdl file can be specified in the config.js file. This makes multiple users of the smart-mirror keyword spotting difficult or not work well at all.

### Expected Behavior

allow for multiple pmdl files in config.js similar to how snowboy's multiple keyword spotting worked in their python examples...
### Current Behavior

in the config.js file potentially would look like this:
[c

[2016-11-22 06:43] justbill2020 commented on #436
@chanjungkim is this resolved now or do you need more guidance on this one... please let us know so we can further assist. if this is resolved please comment how you resolved it and then please close the issue... thank you.

[2016-11-22 06:47] justbill2020 commented on #421
@filimikr is this now resolved?

If not please update us and let us know how we can help. If it is please comment what solved the issue and then close the issue. thank you.

[Also, we're available on gitter to help assist you in real time.](https://gitter.im/evancohen/smart-mirror)
@filimikr is this now resolved?

If not please update us and let us know how we can help. If it is please comment wha

[2016-11-22 06:50] justbill2020 commented on #441
@kermit-kr is this now resolved?

If not please update us and let us know how we can help. If it is please comment what solved the issue and then close the issue. thank you.

[Also, we're available on gitter to help assist you in real time.](https://gitter.im/evancohen/smart-mirror)

[2016-11-22 06:59] justbill2020 commented on #378
Unable to reproduce with the most current master branch as of 11/22/2016

### Environment
Device/OS: Raspberry Pi 3 with Raspbian Jessie with Pixel

### Suggestion if you're still having this issue
If you're having this issue and your environment matches the environment I just described in this comment please submit a new issue... please reference this issue in your new issue so we can properly tr

[2016-11-22 06:59] #378 closed

[2016-11-22 07:05] justbill2020 commented on #292
@yaydogan haven't seen any updates regarding this since Sep 22... is this still being worked on?

[2016-11-22 07:19] justbill2020 commented on #64
#326

[2016-11-22 07:31] justbill2020 commented on #57
@evancohen should this be labeled as outdated? this would require pulseaudio which we've found causes issues with smart-mirror...

[2016-11-22 08:00] justbill2020 opened #443 "update "recent audio issues" link in Microphone and Speech Recognition Issues on docs site"
to prevent confusion on outdated issues the link needs to be updated linking to the github issues...

### Expected Behavior

https://github.com/evancohen/smart-mirror/issues?utf8=%E2%9C%93&q=is%3Aissue%20audio%20-label%3A%22Outdated%20Issue%20-%20Informational%20Only%22%20

### Current Behavior

https://github.com/evancohen/smart-mirror/issues?utf8=%E2%9C%93&q=is%3Aissue%20audio

### Possible Solu

[2016-11-22 09:46] GeonilJang opened #444 "Hi~"
I just bought pi3 to make this smart-mirror with you git. There is one thing i wanna know why we have to use pi2 or more than pi2 model?
Coz i have pi b model.
### Expected Behavior

### Current Behavior

### Possible Solution

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Context

### Your Environment

* Environment name and version (e.g. Raspberry Pi 3, node.js 5.4):
* Operating System and

[2016-11-22 15:01] justbill2020 commented on #444
Its due to the hardware... electron is a dependency for the project and isn't compatible with raspberry pi prior to the pi 2 nor is it compatible with the pi Zero which uses the same processor as the B, and B+... prior to the pi 2 the processor was an arm v6 single core. the pi 2 is v7 quad core. the pi 3 uses a 64 bit processor. While Smart-Mirror works with a pi 2... a pi 3 is highly recommended

[2016-11-22 15:01] #444 closed

[2016-11-22 15:24] GeonilJang commented on #444
thank for letting me know this issue. i will follow your amazing git as soon as i get pi3. i am a student who want to be a good engineer... you are like my mentor... but i am not kind of smart student like you... if you dont mind, could you let me know how to be a good computer engineer and what i should do first?? i am stuck..
many people say that i have to study c languge first.. but when i stud

[2016-11-22 15:40] justbill2020 commented on #444
that's an @evancohen question he's the mastermind behind the smart-mirror...

[2016-11-22 17:38] justbill2020 opened #445 "update docs with trigger command in the developing/contributing section"
the development and contributing section is outdated...

### Expected Behavior

[code]
### Current Behavior

[code]
### Possible Solution

edit the file in docs.smart-mirror.io repo

[2016-11-22 17:42] justbill2020 commented on #445
@evancohen please pull this change...

[2016-11-22 17:46] justbill2020 commented on #443
resolved with [PR](https://github.com/evancohen/docs.smart-mirror.io/pull/11)

[2016-11-23 04:46] kermit-kr commented on #441
The problem is well solved.
Thank you.

[2016-11-23 04:46] #441 closed

[2016-11-23 06:36] justbill2020 commented on #441
@kermit-kr can you please post here how you solved the issue?

[2016-11-23 06:50] #443 closed

[2016-11-23 06:50] #445 closed

[2016-11-23 21:53] justbill2020 commented on #442
@evancohen looking through sonus it looks like this can work... however... it seems like the syntax in the config.js file would be
[code]
actually doesn't look like that would work either... the `file` variable would be an array as well as the `hotword` variable.... sonus would have to be able to handle that as multiple input distinct from the current hotwords array being passed currently...

[2016-11-23 22:00] evancohen commented on #57
Yeah, this is a bit out of date. It would be nice to support this functionality at some point, but it won't be via PulseAudio. There may be some Node libs that we can look at for DLNA streaming.

[2016-11-23 22:13] justbill2020 commented on #57
i'm going to leave it... i don't think anyone will install pulseaudio based on this issue...

[2016-11-23 22:20] evancohen commented on #444
The best computer scientists are the ones who are doing what they are passionate about, it doesn't matter what language you use (although understanding low level languages like C helps you understand what is going on in other languages but depending on what you want to do it may not be super useful except at a conceptual level).

My recommendation would be to pick a project you want to do, somethi

[2016-11-23 22:32] evancohen commented on #442
I'm cool with this :)
Just pushed a new branch that supports this config for testing.

[2016-11-23 22:59] justbill2020 commented on #442
I started playing with it and since we're not passing the model when we spawn the process like in the previous dev version and `sonus.js` pulls the config file itself the foreach needs to happen within sonus.js i'm trying to debug but i'm unable to attach to the child process running `sonus.js`...

[2016-11-23 23:44] justbill2020 commented on #442
@evancohen... lol... didn't realize until i was trying to pull from my repo to the branch you created you already did it. our code was really close too... took me a while to figure out the right place to put the code... then some while longer to sort out debugging to watch it while it ran... and i used a foreach loop instead of for loop... anyways... i've tested it and its working both running son

[2016-11-23 23:44] #442 closed

[2016-11-24 00:23] evancohen commented on #442
I tested it just as a string and as an array of strings and it seemed to
work on my machine. If it works on yours then it sounds like we're good!

On Wed, Nov 23, 2016, 3:44 PM Bill Martin <notifications@github.com> wrote:

--

//mobile

[2016-11-24 00:26] justbill2020 commented on #442
I actually tested with 3 separate model files and it detected the hot words for each. @evancohen should I merge or with dev branch?

[2016-11-24 00:27] justbill2020 commented on #442
Nvm you already did... lol

[2016-11-24 09:35] kermit-kr opened #448 "Smart mirror does not respond to microphone"
There are no errors in all sources
USB microphone not recognized

This is the situation now.

[code]
It works in annyang.simulate but does not recognize the microphone.
Sounds like a problem with microphone input.

### Your Environment

* Environment name and version (e.g. Raspberry Pi 3, node.js 5.4): Raspberry pi 3, node.js 6.9.1
* Operating System and version (e.g. Raspbian, Ubuntu, OSX): Raspb

[2016-11-24 16:04] duckhee commented on #448
me too doesn' work microphone......  I sugest snowboy doesn't work maybe.....

[2016-11-24 17:31] justbill2020 commented on #448
It's an issue with your configuration... @kermit-kr

Here's the `~/.asoundrc` based on the info above... this is if your plugging into the 3.5mm jack... FYI search for a PlayStation Eye to use for a microphone... I've been noticing issues with USB microphones that use that driver... the audio is extremely low volume wise.

[code]

[2016-11-25 04:42] kermit-kr commented on #448
@justbill2020
I tried that but it does not work.

I do not know how ...

[2016-11-25 04:45] justbill2020 commented on #448
This is different than what you posted previously...

[2016-11-25 04:46] justbill2020 commented on #448
99% of the time it is during this step or other troubleshooting breaking something else... I should have time tomorrow to help troubleshoot this.

[2016-11-25 10:40] kermit-kr commented on #448
I am trying to output sound using hdmi and I am trying to input sound using a usb microphone.

But the microphone is not recognized.

Even using the above method, it is not recognized at all.

Help.

[2016-11-25 13:13] kermit-kr commented on #441
The problem was caused by the low node.js version.

The node.js version has been raised and fixed.

Thank you!

[2016-11-25 23:00] evancohen commented on #409
Fixed in the dev branch. Should be ok now :)

[2016-11-25 23:16] evancohen commented on #448
Can you try `rec test.wav` and record a sound sample? If you get an error like `rec - command not recognized` then you are missing dependencies.  If you don't see the bars moving it's a config issue. If you see the bars moving then it should work just fine.

[2016-11-26 08:06] evancohen commented on #438
Fixed in dev :)

[2016-11-26 08:06] #438 closed

[2016-11-26 08:06] #409 closed

[2016-11-27 03:14] justbill2020 commented on #423
migrated to http://feathub.com/evancohen/smart-mirror/+2 please refer to feathub for all future comments on this suggestion.

[2016-11-27 03:14] #423 closed

[2016-11-27 03:21] justbill2020 commented on #431
migrated to http://feathub.com/evancohen/smart-mirror/+3 please refer to feathub for all future comments on this suggestion.

[2016-11-27 03:21] #431 closed

[2016-11-27 03:30] justbill2020 commented on #419
migrated to http://feathub.com/evancohen/smart-mirror/+4 please refer to feathub for all future comments on this suggestion.

[2016-11-27 03:30] justbill2020 commented on #419
keeping open for waffle.io as noted above... @madhavc please add comments to the feathub suggestion... thank you...

[2016-11-27 03:34] justbill2020 commented on #411
migrated to http://feathub.com/evancohen/smart-mirror/+5 please refer to feathub for all future comments on this suggestion.

Issue will be closed and tracked on feathub moving forward

[2016-11-27 03:34] #411 closed

[2016-11-27 03:40] justbill2020 commented on #410
Migrated to http://feathub.com/evancohen/smart-mirror/+6

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 03:40] #410 closed

[2016-11-27 03:43] justbill2020 commented on #404
Migrated to http://feathub.com/evancohen/smart-mirror/+7

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 03:43] #404 closed

[2016-11-27 03:45] justbill2020 commented on #385
Migrated to http://feathub.com/evancohen/smart-mirror/+8

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 03:45] #385 closed

[2016-11-27 03:47] justbill2020 commented on #367
Migrated to http://feathub.com/evancohen/smart-mirror/+9

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 03:48] #367 closed

[2016-11-27 03:49] justbill2020 commented on #365
this isn't really a bug... not really a suggestion... its more an aesthetics recommendation... @evancohen since you have it labeled next i'm going to leave this and remove the suggestion label... i'm also leaving this open...

[2016-11-27 04:03] justbill2020 commented on #356
Migrated to http://feathub.com/evancohen/smart-mirror/+10

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 04:03] #356 closed

[2016-11-27 04:06] justbill2020 commented on #355
@evancohen this seems to be outdated at this point... i think we've moved past this and it would add increased configuration and training of personal models for snowboy...

additionally since we're using Google Cloud Speech API now we're not limited to 50 api calls...

should i move this to feathub?

[2016-11-27 04:16] justbill2020 commented on #326
removed suggestion status, moved this into feathub and added the in progress and help wanted labels...

[2016-11-27 04:18] justbill2020 commented on #323
moved from suggestion to next label... as it is tagged for milestone v1.0 i think this would be better tracked via github issues...

[2016-11-27 04:24] justbill2020 commented on #308
Migrated to http://feathub.com/evancohen/smart-mirror/+13

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 04:24] #308 closed

[2016-11-27 04:25] justbill2020 commented on #57
Migrated to http://feathub.com/evancohen/smart-mirror/+13

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 04:25] #57 closed

[2016-11-27 04:26] justbill2020 opened #452 "Scrobbling Service Documentation"
There's no current documentation for how the scrobbler service works...

[2016-11-27 04:30] justbill2020 commented on #306
Migrated to http://feathub.com/evancohen/smart-mirror/+14

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 04:33] justbill2020 commented on #292
Migrated to http://feathub.com/evancohen/smart-mirror/+15

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 04:33] #292 closed

[2016-11-27 04:37] justbill2020 commented on #286
Migrated to http://feathub.com/evancohen/smart-mirror/+12

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 04:37] #286 closed

[2016-11-27 04:40] justbill2020 commented on #285
Migrated to http://feathub.com/evancohen/smart-mirror/+16

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion

[2016-11-27 04:40] #285 closed

[2016-11-27 04:43] justbill2020 commented on #281
Migrated to http://feathub.com/evancohen/smart-mirror/+17

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion

[2016-11-27 04:43] #281 closed

[2016-11-27 04:48] justbill2020 commented on #386
what's the status on this one... @glcohen were you able to submit a pull request to the dev branch can this and #280 be closed? also i'm concerned with the asoundrc info above leading people down the wrong troubleshooting path... can you please update the asoundrc file that is working for you?

[2016-11-27 04:49] justbill2020 commented on #280
removed suggestion label as this is being worked on and is labeled "next"

[2016-11-27 04:54] justbill2020 commented on #269
Migrated to http://feathub.com/evancohen/smart-mirror/+18

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion

[2016-11-27 04:54] #269 closed

[2016-11-27 04:57] justbill2020 commented on #268
Migrated to http://feathub.com/evancohen/smart-mirror/+19

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion

[2016-11-27 04:57] #268 closed

[2016-11-27 05:00] justbill2020 commented on #267
Migrated to http://feathub.com/evancohen/smart-mirror/+20

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 05:00] #267 closed

[2016-11-27 05:02] justbill2020 commented on #266
Migrated to http://feathub.com/evancohen/smart-mirror/+21

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 05:02] #266 closed

[2016-11-27 05:03] #355 closed

[2016-11-27 05:16] justbill2020 opened #453 "suggestion"

[2016-11-27 05:16] #453 closed

[2016-11-27 05:28] evancohen commented on #355
I think we've solved this problem. Multiple hotwords is now supported too, so if someone wanted to they could implement this themselves.

[2016-11-27 05:30] justbill2020 commented on #258
@evancohen has this been fixed? i think this should be added to the mute when using KWS features... http://feathub.com/evancohen/smart-mirror/+14

I'm labeling this as a bug. If its fixed please close...

If this is a future enhancement please comment on feathub related to feathub+14. Thanks

[2016-11-27 05:31] evancohen commented on #452
Yeah, this needs to be done. I'll take a crack at it tomorrow if I have time

[2016-11-27 05:34] justbill2020 commented on #248
Migrated to http://feathub.com/evancohen/smart-mirror/+22

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 05:34] #248 closed

[2016-11-27 05:36] justbill2020 commented on #227
Migrated to http://feathub.com/evancohen/smart-mirror/+23

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 05:36] #227 closed

[2016-11-27 05:36] evancohen commented on #258
Yup, it's a bug 🙃

[2016-11-27 05:38] justbill2020 commented on #216
Migrated to http://feathub.com/evancohen/smart-mirror/+24

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 05:38] #216 closed

[2016-11-27 06:24] justbill2020 commented on #214
Migrated to http://feathub.com/evancohen/smart-mirror/+25

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 06:24] #214 closed

[2016-11-27 06:29] justbill2020 commented on #210
Migrated to http://feathub.com/evancohen/smart-mirror/+26

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 06:29] #210 closed

[2016-11-27 06:33] justbill2020 commented on #199
Migrated to http://feathub.com/evancohen/smart-mirror/+27

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 06:33] #199 closed

[2016-11-27 06:35] justbill2020 commented on #193
Migrated to http://feathub.com/evancohen/smart-mirror/+28

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 06:35] #193 closed

[2016-11-27 07:14] justbill2020 commented on #176
Migrated to http://feathub.com/evancohen/smart-mirror/+29

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:14] #176 closed

[2016-11-27 07:15] justbill2020 commented on #164
moved this to in progress rather than suggestion... since its labeled next

[2016-11-27 07:19] justbill2020 commented on #140
Migrated to http://feathub.com/evancohen/smart-mirror/+30

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:19] #140 closed

[2016-11-27 07:21] justbill2020 commented on #110
Migrated to http://feathub.com/evancohen/smart-mirror/+31

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:21] #110 closed

[2016-11-27 07:23] justbill2020 commented on #108
Migrated to http://feathub.com/evancohen/smart-mirror/+32

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:23] #108 closed

[2016-11-27 07:26] justbill2020 commented on #107
Migrated to http://feathub.com/evancohen/smart-mirror/+33

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:26] #107 closed

[2016-11-27 07:32] justbill2020 commented on #164
referenced in http://feathub.com/evancohen/smart-mirror/+2

[2016-11-27 07:33] justbill2020 commented on #96
Migrated to http://feathub.com/evancohen/smart-mirror/+2

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:33] #96 closed

[2016-11-27 07:34] justbill2020 commented on #86
Migrated to http://feathub.com/evancohen/smart-mirror/+34

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:34] #86 closed

[2016-11-27 07:35] justbill2020 commented on #64
Migrated to http://feathub.com/evancohen/smart-mirror/+12

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:35] #64 closed

[2016-11-27 07:37] justbill2020 commented on #59
Migrated to http://feathub.com/evancohen/smart-mirror/+35

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:37] #59 closed

[2016-11-27 07:39] justbill2020 commented on #48
@evancohen for now i labeled this as in progress and next rather than suggestion... this seems to be on our hit list right now...

[2016-11-27 07:42] justbill2020 commented on #45
Migrated to http://feathub.com/evancohen/smart-mirror/+36

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:42] #45 closed

[2016-11-27 07:44] justbill2020 commented on #40
Migrated to http://feathub.com/evancohen/smart-mirror/+37

Issue will be closed and tracked on feathub moving forward. Please refer to feathub for all future comments on this suggestion.

[2016-11-27 07:44] #40 closed

[2016-11-27 21:43] cheever13 opened #454 "Errors on 'npm start'"
I'm using RPi3 with Raspbian (full not noobs) and attempting to get this to work. It's most likely something simple as I am relatively new to these types of projects. However. Followed the installation instructions and when attempting to start the mirror for the first time I get some failures. Seems like I'm running from a wrong directory perhaps?

'npm-debug.log' contents:
0 info it worked if it

[2016-11-27 21:57] glcohen commented on #386
Just submitted pull request [here](https://github.com/evancohen/smart-mirror/pull/455/commits/84689d1263524dea3430a388dbf84482b6fcc4b4). #280 can be closed.

[2016-11-27 23:16] justbill2020 opened #456 "Documentation for multiple kws hotwords"
add documentation for keyword spotter under configuring the mirror

[2016-11-28 04:20] justbill2020 commented on #454
you must be in the smart-mirror folder... such as `cd ~/smart-mirror`

then you can do `npm install`

then you can do `npm start`

[2016-11-28 09:31] kermit-kr commented on #448
Hi~ @evancohen

Thanks for the answer.

but I have suffered a great trial.

The bar moves when you try rec test.wav.

I tried recording through the microphone. It does not work on smart mirrors.

Everything works when annyang.trigger is done, but the mic does not work.

I have tried using the logitch c110 cam because it is a microphone problem but it does not work the same.

What should I do now?

[2016-11-28 18:46] warflash opened #457 "autoTimer isn´t working"
### Expected Behavior
After a specific time the pi should deactivate its HDMI output.

### Current Behavior
The HDMI output won´t get deactivated - pretty simple. I dont get any error or something...
If I enter "/opt/vc/bin/tvservice -o" manually everything is working fine.
I just have the part of the config code for anyone wondering:

 autoTimer: {
        autoSleep: 240000, // How long the scree

[2016-11-28 22:30] justbill2020 commented on #457
Thanks for submitting this i've been meaning to and have otherwise been distracted... this is an issue with the tvservice commands not functioning as expected... we'll have to look into it further to solve...

[2016-11-29 05:58] Fijvect commented on #366
For those who are waiting for this bug to be resolved, but want a hack-fix in the meantime, then this worked for me:

Under the controller.js file, under the `var addCommand = function(...` function I added the following just inside that function: `if(commandId != 'screen off' && commandId != 'screen on') {`, followed with a closing bracket `}` at the end of the function.
It's not a eloquent fix a

[2016-11-29 14:20] kermit-kr commented on #448
I found the answer.

The project id of the Google Cloud Speech API was entered incorrectly.

It works normally.

Thank you for your help.

[2016-11-29 14:20] #448 closed

[2016-11-29 17:20] justbill2020 commented on #448
AWESOME @kermit-kr glad you got it working... and thank you for posting the solution on here as well...

[2016-11-30 21:33] roiboos commented on #457
Found the problem: The variables for AutoWake defined in the config.js and autosleep.js are named differentely. Just rename autoWake in config.js to auto_wake

[2016-12-01 05:55] Fijvect commented on #457
I just discovered this as well. Works perfectly after that. I changed every other instance of auto_wake to autoWake however, in controller.js and autosleep.js instead.

[2016-12-02 17:45] justbill2020 commented on #456
Added documentation with commit [8a9dc0d](https://github.com/evancohen/docs.smart-mirror.io/commit/8a9dc0dcccd8dea688a766b84d7eb6cba647221f)

[2016-12-02 17:45] #456 closed

[2016-12-02 17:53] justbill2020 commented on #457
created a patch for this and pull request... #458 to be pulled to dev branch...

@evancohen something like this should i just hotfix in master and dev branch of follow the normal workflow?

[2016-12-02 18:00] justbill2020 commented on #436
haven't heard a response in 10 days. I'm closing this issue...

@chanjungkim if you're still having issues please comment on this issue and we can reopen..

[2016-12-02 18:00] #436 closed

[2016-12-02 18:03] justbill2020 commented on #425
This is 21 days old since the last update... @hyp3rx has this issue been resolved for you? if so please comment how it was resolved (hopefully @evancohen's comment helped) and close the issue. If it's not resolved please let us know how we can further help... Also please check us out on [gitter.im](https://gitter.im/evancohen/smart-mirror) if you haven't already...

If we don't hear anything over

[2016-12-02 18:28] justbill2020 commented on #421
haven't heard a response in 10 days. I'm closing this issue...

@filimikr  if you're still having issues please comment on this issue and we can reopen..

[2016-12-02 18:28] #421 closed

[2016-12-02 18:29] justbill2020 commented on #350
i just got a fitbit to use for testing... not sure how long before i will have time to look at this though...

[2016-12-02 18:37] justbill2020 commented on #435
This is 14 days old since the last update... @hyp3rx has this issue been resolved for you? if so please comment how it was resolved (hopefully @evancohen's comment helped) and close the issue. If it's not resolved please let us know how we can further help... Also please check us out on [gitter.im](https://gitter.im/evancohen/smart-mirror) if you haven't already...

If we don't hear anything over

[2016-12-02 19:44] Fijvect commented on #457
Just to give a warning to people in case they are having problems with the monitor turning back on after having been off for so long, there is one more step you may have to do. I had to at least.
Instead of having the autowake run the tvservice - p command, I had it run a custom script instead that ran the tvservice -p, followed by sudo chvt 9 && sudo chvt 7. Then it worked beautifully. I think wh

[2016-12-02 20:27] justbill2020 commented on #457
can you attach the script file here... and the command in config.js that you entered... i'll add it to the hotfix PR for this

[2016-12-03 17:58] kbeaux opened #460 "Smart mirror doesn't detect my voice"
Hi,

i'm trying to install smart mirror on my RP3 and everythings seems to work except that the smart mirror never detect my voice (Or detect my voice but didn't do anything :p).
I tryed to run rec test.wav and it worked pretty well.
I verified that my projectId was good.
I set the language at fr-FR and tryed to say "Que puis-je dire?", "What can i say", ... but the smart-mirror never do anything

[2016-12-03 22:57] evancohen commented on #460
It seems that you haven't run the full install. If it's just a problem with Snowboy then you can `npm install snowboy`. If similar module errors persist then you should try `npm install`, which will install all of the dependencies.

[2016-12-04 00:02] cheever13 commented on #454
Thank you justbill2020, I apologise for my late reply (weekly schedule is difficult for projects). I was able to get farther with your help but it appears I have some syntax issues I need to take care of. It turns out my keyboard has an odd map and was typing ¬ instead of a  tilde. Thank you for your help, I believe I can take it form here.

[2016-12-04 00:02] #454 closed

[2016-12-04 01:07] #457 closed

[2016-12-04 17:56] Fijvect commented on #457
Here's the script I used: (based on https://gist.github.com/simlun/1b27b14d707abbba8fc1)

`
#!/bin/bash -e

# /usr/local/sbin/raspi-monitor
# Script to enable and disable the HDMI signal of the Raspberry PI

CMD="$1"

function on {
    /opt/vc/bin/tvservice --preferred

    # Hack to enable virtual terminal nr 7 again:
    chvt 6
    chvt 7
}

function off {
    /opt/vc/bin/tvservice --off
}

func

[2016-12-04 18:54] kbeaux commented on #460
Hi,

i tried the both commands and i still have the same error message with Cannot find module 'sonus'.
Do you have another idea ?

Thx.

[2016-12-05 07:35] kurtdb commented on #457
Not sure that running the mirror as root is that of a good idea, but that's just my 2 cents.

[2016-12-05 11:04] evancohen commented on #460
If you run `npm install sonus --verbose` do you get any kind of error?

[2016-12-05 14:39] justbill2020 commented on #457
its more running the script as root... for purposes of the monitor going on and off...

[2016-12-05 16:17] XPMCoding opened #462 "ERROR e:6571)"
ERROR e:6571) UnhandledPromiseRejectionWarning: unhandled promise rejection (rejection id: 1) Error: stdout maxBuffer exceeded

[2016-12-05 16:21] justbill2020 commented on #462
this appears to be a sonus bug... sonus@#22

[2016-12-05 17:17] kbeaux commented on #460
Hi,

yes i have these errors :

[code]

[2016-12-05 21:37] anbuford opened #463 "White Screen - HTML Error"
I have executed all commands. I even erased Raspbian image and reinstalled everything to be sure. I updated config setting (expect Bing, lastFm, fitBit). I completed Javascript Linter.

### Expected Behavior
Smart Mirror executed

### Current Behavior
White screen with broken HTML

### Possible Solution
errors in HTML?

### Steps to Reproduce (for bugs)
1. update config.js
2. command npm start
3.

[2016-12-05 21:40] justbill2020 commented on #463
can you attach the `config.js` file and then from the `smart-mirror` folder run `npm ls`

[2016-12-05 21:44] anbuford commented on #463
@justbill2020 you bet...

[config.js.txt](https://github.com/evancohen/smart-mirror/files/632353/config.js.txt)

smart-mirror@0.0.6 /home/pi/smart-mirror
├── UNMET DEPENDENCY annyang@^2.6.0
├─┬ electron@1.4.10
│ ├─┬ electron-download@3.0.1
│ │ ├─┬ debug@2.3.3
│ │ │ └── ms@0.7.2
│ │ ├─┬ fs-extra@0.30.0
│ │ │ ├── graceful-fs@4.1.11
│ │ │ ├── jsonfile@2.4.0
│ │ │ ├── klaw@1.3.1
│ │ │ ├── path-is-abso

[2016-12-05 23:24] justbill2020 commented on #463
config looks good...

but i think that this is the issue... you're missing dependencies...

`npm ERR! missing: annyang@^2.6.0, required by smart-mirror@0.0.6
npm ERR! missing: electron-json-storage@2.0.0, required by smart-mirror@0.0.6
npm ERR! missing: express@^4.13.4, required by smart-mirror@0.0.6
npm ERR! missing: fitbit-oauth2@0.0.1, required by smart-mirror@0.0.6
npm ERR! missing: hyperion-c

[2016-12-05 23:26] justbill2020 commented on #460
i looks like you're using node vs 7.2.0 please downgrade to node version 6.9.1 and then try `npm install` again

[2016-12-06 00:01] anbuford commented on #463
@justbill2020 If we were at a bar right now, I'd buy you 2 beers. Thank you so much...

![image](https://cloud.githubusercontent.com/assets/11401555/20907585/291158ca-bb1d-11e6-8c48-bd48c2816c32.png)

[2016-12-06 00:05] justbill2020 commented on #463
sweet deal... happy to help. As you continue make sure to follow the docs.smart-mirror.io it can get tricky.

[2016-12-06 00:05] #463 closed

[2016-12-06 00:42] Fijvect commented on #435
This is also a major issue for me right now, so I guess I'll pick up the mantle from here.
Where can I find the debug log? I'll post the results once I find it

[2016-12-06 01:04] evancohen commented on #462
Should be fixed in the latest version of Sonus. We'll probably want to patch the min version, but any *new* installation of the mirror should have any issues with this.

[2016-12-06 01:07] justbill2020 commented on #462
@evancohen I think the `package.json` file is set to use a specific release...

[2016-12-06 06:02] justbill2020 commented on #326
@evancohen i started working on this again using johnny-five... the main issue is that it requires root permissions to use the raspi-io node module and access the GPIO pins on the pi... i don't like that... also it seems like the IPC renderer doesn't actually trigger the commands as it should... all of this is frustrating as hell... however the `sudo npm run motion` script I added to the `package.

[2016-12-06 06:20] justbill2020 commented on #326
holy crap nevermind... i figured it out!!!!!

[2016-12-06 07:23] kbeaux commented on #460
I downgrade my node version to 6.9.1 and did npm install and now it says that i can't find module '/home/pi/smart-mirror/node_modules/grpc/src/node/extension_binary/grpc_node.node.

![image](https://cloud.githubusercontent.com/assets/7451998/20916688/440002ec-bb8d-11e6-8040-e3be1ee06ccf.png)

[2016-12-06 07:36] kbeaux commented on #460
I did npm install grpc and i think everything is good now

[2016-12-06 07:47] justbill2020 commented on #326
completed johnny-five functionality in PR #464 tested this extensively and should be ready to go...

[2016-12-06 07:56] justbill2020 commented on #460
if everything is good @kbeaux will you please close this issue... thank you...

[2016-12-06 17:21] #460 closed

[2016-12-06 22:09] GobleSt commented on #326
did a git pull today and see that the auto time out works great!.... the wake up not so much.  How do I disable it until I am ready to do a complete rebuild?

[2016-12-06 22:40] justbill2020 commented on #326
blank out the wake_cmd and sleep_cmd...

[2016-12-06 23:07] GobleSt commented on #326
...in the config.js .  Thanks!

[2016-12-07 06:46] evancohen commented on #462
Yuuuup! That's my bad. I'll fix that right now.

[2016-12-07 06:48] #462 closed

[2016-12-07 06:49] evancohen commented on #462
Patched in `dev` and in `master` 🚀

[2016-12-07 06:52] evancohen commented on #457
I'm assuming that there's no reasonable way to run that script without `sudo`, correct?
If we're just running a small purpose specific script just to turn the monitor on/off with `sudo` and not the whole mirror I think that should be ok...

[2016-12-07 07:26] kbeaux opened #465 "Questions for implementing new features"
Hi,
I want to try to add some commands for domoticz because domoticz works pretty well with many things like z-wave and enocean wich is an alternative to philips hue and it works  with REST API and json.
But i'm not pretty sure to understand everythings to implement for sending "orders", can someone correct me or tell me if i'm right.

In controller.js i have to add an "addCommand" like this for e

[2016-12-07 08:22] kurtdb commented on #465
Did you translate the domoticz_turn_off_lights in the translation files? This is just a placeholder: the text you have to say will be in the en.json in the locales-directory. (or in your native language if the file is present)

[2016-12-07 08:45] kbeaux commented on #465
I don't really begin all the work, for the moment i just look all the api documentation of domoticz but yes i saw all the /locales files to implement but i forget to speak about them ^^.
Except that, all is good ?

[2016-12-07 14:14] justbill2020 commented on #465
Then is you want to create a PR to merge what you've done you would do it against the dev branch.

[2016-12-07 14:15] #465 closed

[2016-12-07 15:25] justbill2020 commented on #457
there isn't... but its just that script running sudo...

[2016-12-09 02:01] evancohen commented on #420
There have been some performance optimizations in the underlying audio recording library and `sonus` itself that *should* fix this issue. I'm still seeing a tiny bit of slowdown after a high number of activations that I'm still trying to iron out. @jamiemckay @martinakmckay can you try the `dev` branch and update your dependencies and give this another shot?

[2016-12-10 21:37] justbill2020 commented on #435
This should be solved by doing `git pull && npm install` within the `smart-mirror` directory...

I'm closing this as resolved...

[2016-12-10 21:37] #435 closed

[2016-12-10 21:39] justbill2020 commented on #425
haven't heard a response in 8 days. I'm closing this issue...

@hyp3rx if you're still having issues please comment on this issue and we can reopen..

[2016-12-10 21:39] #425 closed

[2016-12-12 17:34] slgoodson opened #468 "Error is thrown after spoken keyword is recognized"
### Expected Behavior
Smart mirror should respond to the command after the white bar appears following a keyword recognition.

### Current Behavior
Currently, I say 'Smart Mirror' and, while the white bar appears, terminal shows the following error immediately after. If I follow this keyword by 'What Can I Say?' nothing happens. No matter what, the white bar never goes away and commands never work

[2016-12-12 20:20] derweba commented on #420
Hey,

just for information, i have quiet a simular error.

The `npm run sonus` command is detecting my hotword perfectly and the smart-mirror as well (the little white bar is showing up), but then it doesent detecting any command.

Not sure if it's the same issue, or a error with a false configuration (especially with the Google Cloud Speech API).

[2016-12-12 20:58] slgoodson commented on #468
My Raspberry Pi is having problems setting the date and time correctly, and that was the cause of this issue. The API request fails since the system clock is out of sync.

After I manually set the date and time it worked fine. I will still need to find a way to keep the time from resetting after reboots, though.

Related article that helped me figure this out here: https://groups.google.com/forum/

[2016-12-12 20:58] #468 closed

[2016-12-13 00:04] jgummersall opened #469 "Reminders list fails to populate text"
![img_5719](https://cloud.githubusercontent.com/assets/19269741/21122061/48a6c146-c08d-11e6-8c42-15e964a8cabf.JPG)
### Expected Behavior
It should populate a list of reminders from voice-to-text for the user to see.

### Current Behavior
The list that i am getting is just bullet points, it represents the number of reminders I make but there are no words following the bullet points. It is just blac

[2016-12-13 00:06] jgummersall commented on #469
![img_5719](https://cloud.githubusercontent.com/assets/19269741/21122061/48a6c146-c08d-11e6-8c42-15e964a8cabf.JPG)

[2016-12-13 00:06] jgummersall commented on #469
the photo shows the bullet points.

[2016-12-13 12:08] prashanth57 opened #470 "Failed at the snowboy@1.1.0 preinstall script 'npm install node-pre-gyp"
when i first try to to setup this smart mirror  it shows
npm WARN deprecated node-uuid@1.4.7: use uuid module instead and check your nodjs version
then i reinstalled nodejs and npm and try it again but it shows following erros

###[log.txt](https://github.com/evancohen/smart-mirror/files/648794/log.txt)

#### Failed at the snowboy@1.1.0 preinstall script 'npm install node-pre-gyp

#npm WARN deprec

[2016-12-13 15:19] justbill2020 commented on #470
please upgrade node to 6.9.2... this should solve the issue... please report back the result... Based on ubuntu 64 bit you should use the 64 bit download below...

[32 bit Node DL](https://nodejs.org/dist/v6.9.2/node-v6.9.2-linux-x86.tar.xz)
[64 bit Node DL](https://nodejs.org/dist/v6.9.2/node-v6.9.2-linux-x64.tar.xz)

Again please report back on whether this resolved your issue and if so close ou

[2016-12-13 15:34] justbill2020 commented on #469
@jgummersall please check out http://feathub.com/evancohen/smart-mirror if you haven't, to up-vote (or down vote) feature requests... i think there's some in there about todoist and what not...

[2016-12-13 19:54] slgoodson opened #471 "Document: YouTube preview image loads, but video never starts"
### Expected Behavior
Video should buffer and then play.

### Current Behavior
After saying "smart mirror show me how to tie a bow tie" the image preview for the video loads. After the loading cog spins for a while, it then displays the message "If playback doesn't begin shortly, try restarting your device." and the video never loads.

![video](https://cloud.githubusercontent.com/assets/16243710/2

[2016-12-14 17:12] derweba opened #472 "No further command recognition after the KeyWord"
Hey there,

my issue is more a question...

If i say my KeyWord, the small white bar in the bottom of the screen appear, but it isn't detecting any commands. I think this is probably a error with the Google Cloud Speech configuration, but i am not sure, so has anybody a tip to solve this problem, or to see if my configuration of the smart mirror is correct, especially the configuration with the Go

[2016-12-14 20:28] justbill2020 commented on #472
the most common issue is not enabling billing in google cloud platform...

[2016-12-14 22:36] derweba commented on #472
Ok thanks for the fast answer, i will try it and comment if it solved my issue.

[2016-12-15 02:55] dnorthrupva opened #473 "YouTube non-responsive after one video."
If I use voice to load a scene, it will automatically start playing, then go to 'Next Video' tooltip, but not be able to resume, or find another video. "Go Home" still responds.
### Expected Behavior
Once a video finishes, it should remove the small window, or at the least continue accepting commands.

### Current Behavior
If I say "Show me a video of Carl none of this matters" - It shows me a 4 s

[2016-12-15 06:25] #326 closed

[2016-12-15 06:26] justbill2020 commented on #471
@slgoodson please git pull and attempt this again...

[2016-12-15 06:38] justbill2020 commented on #366
This was resolved with PR MERGE #474 to Master

[2016-12-15 06:38] #366 closed

[2016-12-15 06:42] evancohen opened #475 "Holiday Improvments"
### Overview
We'll be putting in some time over the holidays to do:
 - [x] Refactor
 - [x] Remote Config UI
 - [x] Bugfixes
 - [ ] Client side analytics
 - [ ] Auto-update
 - [ ] Bonus: Announcements on the mirror (Updates etc.)

[2016-12-15 06:44] Fijvect commented on #471
Tried out the latest commit by @evancohen but it sadly didn't seem to fix it

[2016-12-15 06:44] Fijvect commented on #471
will try git pull first, instead of manually changing the 3 lines

[2016-12-15 07:12] Fijvect commented on #471
@evancohen After the latest git pull, I'm getting these errors now (also, youtube is still doing the same thing sadly):

I get these errors in the terminal:
[code]

And this is the npm-debug.log:
[code]

[2016-12-15 07:13] Fijvect commented on #475
Awesome!!!
And "Thank You", btw! For putting in all this time to the community you've made.

[2016-12-15 07:38] evancohen opened #476 "Test issue for discourd"
### Expected Behavior

### Current Behavior

### Possible Solution

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Context

### Your Environment

* Environment name and version (e.g. Raspberry Pi 3, node.js 5.4):
* Operating System and version (e.g. Raspbian, Ubuntu, OSX):

[2016-12-15 09:41] #476 closed

[2016-12-15 13:19] slgoodson commented on #471
Didn't fix it for me either, sadly!

[2016-12-15 15:27] derweba commented on #472
Thank you very much, this solved my problem. It was just my fault, I thoght it would work without enabling billing in the google cloud platform.

But maybe you make it in the documentation a bit bigger or something like that so that this fault isn't coming up in the future.

[2016-12-15 15:45] justbill2020 commented on #472
That's a great suggestion. I'm glad yo ugot it working. I'll close this issue now.

[2016-12-15 15:45] #472 closed

[2016-12-15 18:46] derweba opened #477 "Auto stop listening after a few seconds"
I don't know if this feature is implemented yet,

but if i say the Keyword, the SmartMirror never stops listening.

So basically i say the KeyWord and then the white bar is appearing. Then the voice recognition is sometimes working sometimes it isn't working. It would be a good feature if the voice recognition stops listening, especially because of the 60min of free speech recognition time from th

[2016-12-15 19:29] justbill2020 commented on #477
what microphone are you using... its possible its not picking up your voice properly for google to work... however you shouldn't have it on all the time... its not normal operation.

[2016-12-15 21:55] derweba commented on #477
I am using a "Kinobo Kanji USB 2.0 Mikrofon"... this is a recommended microphone from other voice recognition projects.
But how can i stop the listening process? Or is there any timeout until google stops listening?

[2016-12-16 15:19] justbill2020 commented on #477
it stops automatically when it stops detecting noise... if the light at the bottom is staying on the mic is constantly picking up noise. I have that microphone it is cheap but works for crap. The smart-mirror is both more sensitive than other project and more accurate voice detection. I would recommend getting a PS3 Eye... it has a 4 Microphone array and works great!

[2016-12-16 16:16] derweba commented on #477
Ok... i will try the other microphone and will repeply if it solved the problem.

And to my question I mentioned above: "I have extended the code so i can turn the gpio pins of my Raspberry on and of. Is there any need to publish this, and if, how should i publish it? (Sry, i'm quiet new to GitHub...)"

[2016-12-16 16:24] justbill2020 commented on #477
Well... you might not... will it contribute to the community and overall project? if its just a one off for your purposes extention you might not need to send it to the master repo... but then you have to maintain your code inline with the master...

head over to [gitterim](https://gitter.im/evancohen/smart-mirror) and we can discuss further... i'll help you out there...

[2016-12-18 02:12] justbill2020 commented on #471
@fijvect you have to update config.js... you're missing the motion element

[2016-12-18 02:13] justbill2020 commented on #471
You also need to do `npm install` after `git pull`

[2016-12-18 02:26] evancohen opened #478 "Motion config should be optional"
### Expected Behavior

Not providing the `motion` config variable shouldn't cause a crash on boot

### Current Behavior

[code]
### Possible Solution

We should update `main.js` so that we check for the config variable before we try to initialize [here](https://github.com/evancohen/smart-mirror/blob/master/main.js#L102).

### Steps to Reproduce (for bugs)

1. Update mirror to `v0.0.7`
2. Do not up

[2016-12-18 22:35] dcvonb opened #480 "angular.js TypeError: Cannot read property"
Hi,

I've been working on adding traffic map support to the smart mirror. To do this I am using the Bing Maps API. I can ask the smart mirror to show traffic and it will return a static map with traffic in my area. I also wanted to be able to ask it to show traffic in different locations or zoom in and out. The problem is I cannot get it to zoom in or out unless the map URL is using the location c

[2016-12-19 06:28] kurtdb commented on #480
Looks like the response doesn't contain a location. You should try to debug this and look at the full response you're getting from the google maps api.

Try it like this:

```console.log(angular.fromJson(result).data)```

or start your mirror using ```npm start dev``` and look in the network tab for the google maps api call. There you should be able to see the full response you're getting. (or the

[2016-12-19 20:56] dcvonb commented on #480
Thank you for the help!

I looked in the network tab and can see the google api call does return the area I'm looking for, in this case I said Redmond, WA:
<img width="320" alt="screen shot 2016-12-19 at 8 20 34 am" src="https://cloud.githubusercontent.com/assets/24350171/21320003/5699ffde-c5c4-11e6-8912-32b771058ceb.png">

Full Result:
`{results: [{,…}], status: "OK"}
results
:
[{,…}]
0
:
{,…}
ad

[2016-12-20 06:07] evancohen commented on #480
I suppose it's possible that their API has changed since this was first implemented. Can you provide a full stack trace for this error? I should have some time in the next few days to investigate.

[2016-12-20 06:20] kurtdb commented on #480
You're actually reading the JSON in an incorrect way: you don't have any location element inside a data element.

I'm guessing this should work:

```var coordLocation = angular.fromJson(result).results[0].geometry.location```

[2016-12-20 11:42] taran27 commented on #477
yeah this suggestion is gr8 it needs to stop listening after few seconds...!

[2016-12-21 16:28] dcvonb commented on #480
Thanks again for the help!

@kurtdb
I tried your suggestion and I get this error:
angular.js:13236 TypeError: Cannot read property '0' of undefined
    at geolocation.js:68
    at processQueue (angular.js:15552)
    at angular.js:15568
    at Scope.$eval (angular.js:16820)
    at Scope.$digest (angular.js:16636)
    at Scope.$apply (angular.js:16928)
    at done (angular.js:11266)
    at completeR

[2016-12-21 19:02] kbeaux opened #485 "How to update to the last version ?"
Hi,

i saw there is a new patch (0.0.7), how can i update my project to the last version plz ?
i tried "npm update" but it didn't worked.

Thanks.

[2016-12-21 19:03] justbill2020 commented on #485
use `git pull && npm install`

[2016-12-21 19:03] justbill2020 commented on #485
you'll have to update the config.js file to include anything added to config.example.js

[2016-12-21 19:16] kbeaux commented on #485
I try it now.

Thanks :).

[2016-12-21 20:12] slgoodson commented on #471
Mine is throwing errors too, @justbill2020
Did npm install , added motion element, and set it to false (Disabled).

[code]

[2016-12-21 20:17] justbill2020 commented on #471
thanks for reminding me... i need to test the final fix for this so evan can patch it on dev and master

[2016-12-21 23:04] evancohen commented on #485
Thanks @justbill2020 👍

For future reference: https://docs.smart-mirror.io/docs/updating.html

[2016-12-21 23:04] #485 closed

[2016-12-21 23:37] evancohen commented on #480
Usually `$http()` can figure out the data type. Do you actually need to use `angular.fromJson()`?
Or can you just use `result.results[0].geometry.location`?

[2016-12-21 23:55] evancohen commented on #478
Fixed with #483

[2016-12-21 23:55] #478 closed

[2016-12-22 09:04] wuppi83 commented on #471
Do you use audio over HDMI ?!

I have had the same problem ... paste

`pcm.!default {
  type asym
   playback.pcm {
     type plug
     # This is your output device (In this case AUX out on the Pi)
     slave.pcm "hw:0,0"
   }
   capture.pcm {
     type plug
     # This is your input device (it may be different from what is seen here)
     slave.pcm "hw:1,0"
   }
}`

with nano ~/.asoundrc .. but d

[2016-12-22 13:17] flyerguy commented on #350
Some additional info here. I'm getting this message when running npm start dev after registering my fitbit app on the website.
`angular.js:14195 TypeError: Fitbit is not a constructor at Object.FitbitService (fitbit.js:53) at Object.invoke (angular.js:4767) at Object.enforcedReturnValue [as $get] (angular.js:4605) at Object.invoke (angular.js:4767) at angular.js:4565 at getService (angular.js:4712

[2016-12-22 14:15] slgoodson commented on #471
👍 👍 👍 💯
@wuppi83 you're the best!! Now YouTube plays fine! Do you know what the heck was causing this to only affect audio/YouTube inside of smart-mirror? I followed the guide on audio setup and the HDMI output worked fine playing YouTube videos directly from Chromium. Weird!

[2016-12-22 18:53] evancohen commented on #350
Yeah... this is a long standing bug that I haven't been able to fix because I don't have a Fitbit (thus the help wanted tag).

[2016-12-22 19:33] flyerguy commented on #350
Evan,
Wish I could help out. I have a fitbit but not the programming knowledge. Love the rest of Smart-Mirror so far.

[2016-12-22 23:25] evancohen commented on #477
Just looked at this. It's a problem both in the mirror and in sonus. If you don't say anything after the mirror detects "smart mirror" we never detect a `final-results` event (which we use to determine when the mirror stops listening).

We'll have to see if there's another event that we can add (like "no-results")  that we can use for this as well.

[2016-12-22 23:58] evancohen commented on #350
Maybe after the changes Bill and I are making over the holidays he can take a look at it

[2016-12-23 06:10] kurtdb commented on #350
Does @justbill2020 have a fitbit? Otherwise I can change my login info and you can use that data. :)

[2016-12-23 06:51] justbill2020 commented on #350
i'll take a look at it... i might need creds... my mother-in-law gave me one to use for this purpose... I've done 0 with it thus far...

[2016-12-23 14:08] abendplays opened #490 "the mirror is not responding"
Hi guys,
just having some problems with the speech regognation...
I used the microphone debug mode, which worked completely fine! When I say anything, nothing happens!
Tried different sensitivitys and it is not working..
Help me pleeeeaaase..
![unbenannt](https://cloud.githubusercontent.com/assets/21024367/21455558/7b28aff2-c921-11e6-8f89-36f56846bbcc.png)
Just censored a few things..

[2016-12-23 14:34] justbill2020 commented on #490
@evancohen is microphone debug really verifying a proper audio config?

[2016-12-23 14:40] abendplays commented on #490
yes! I don´t change anything (leave it at default) and when I play it later, everything works just fine!

[2016-12-23 14:41] justbill2020 commented on #490
@abendplays There's a lot of white space in your keyfile. Also just `./keyfile.json` Is sufficient.

Also, have you configured your `~/.asoundrc` file?

Have you trained your personal model?
Have you enabled billing on the google cloud platform?

[2016-12-23 14:43] justbill2020 commented on #490
I don't know what you mean by this:

[2016-12-23 14:43] abendplays commented on #490
yes, I blanked out a few things with black, that´s why it looks like this.. yes, configurated the asoundrc file and it works either!
No, I don´t trained the modell and didn´t enable billing, because I don´t want to pay for this project!

[2016-12-23 14:44] abendplays commented on #490
I thought about the debug mode! When you start it, it asks you which microphone you want to use, to check if it works. I left it at default and it worked fine!

[2016-12-23 14:44] justbill2020 commented on #490
Oh right in microphone debug! Yeah I don't know that is testing everything. Which is why I tagged Evan.

[2016-12-23 14:45] kurtdb commented on #490
You have to enable billing for the speech recognition to work.

[2016-12-23 14:45] abendplays commented on #490
ok... does it really cost anything, or is it free?

[2016-12-23 14:45] justbill2020 commented on #490
Ok that's why it's not working...

[2016-12-23 14:47] abendplays commented on #490
oh ok :D that´s a mad mistake :D
but does it really cost something? Have you ever paid for it?

[2016-12-23 14:47] kurtdb commented on #490
I haven't seen anyone who has gotten a bill for their usage.

[2016-12-23 14:47] abendplays commented on #490
ohhhh, ok... thank you :D

[2016-12-23 14:50] justbill2020 commented on #490
My console doesn't even display API calls currently and I've seen where it says the first 60minutes is included every month

[2016-12-23 19:15] incubik opened #491 "Displayed Time"
The time shown on the screen is 1 hour late. I hardcoded the position to Madrid for weather but time shown still 1 hour behind. Any ideas why this is happening?

[2016-12-23 19:22] abendplays commented on #490
Just activated the billing and it is still not working D: Still having the same problem D:

[2016-12-23 19:24] abendplays commented on #490
Which way do I have to change the sensitivity? When I turn it up, might it recognize my voice, or do I have to turn it down?

[2016-12-23 20:31] dnorthrupva commented on #491
Hey @incubik as I mentioned in Gitter, this is actually an issue involving Moment.JS which creates the time.
`new moment()` is returning the value that the mirror is using to dictate the time.
For the time being please modify your `controller.js` -
`https://github.com/evancohen/smart-mirror/blob/master/js/controller.js#L85-L86` - to include
`$scope.date = new moment().add(1, 'hour');` and you resu

[2016-12-23 21:28] justbill2020 commented on #490
the normal sensitivity is 0.5 (50%) maxing at 1 (100%)... from the snowboy docs:

What is detection sensitivity?

[2016-12-24 01:22] brutal-one opened #492 "rss"
### Expected Behavior

### Current Behavior

### Possible Solution

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Context

### Your Environment

* Environment name and version (e.g. Raspberry Pi 3, node.js 5.4):
* Operating System and version (e.g. Raspbian, Ubuntu, OSX):

[2016-12-24 01:22] #492 closed

[2016-12-24 05:46] XPMCoding opened #493 "ERROR e:2698"
After about two minutes the mic stops working and I get a ERROR e:2698) UnhandledPromisRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: stdout maxBuffer exceeded

[2016-12-24 07:06] evancohen commented on #493
This should be fixed in the most recent version (latest in `master`). See #462.

 Can you update and try again?

[2016-12-24 07:15] XPMCoding commented on #493
I have, I run git pull and I still get the same issue but sometimes its different error numbers like i just got ERROR: 5329 but it says the same stuff after it

[2016-12-24 07:16] evancohen commented on #493
My guess is that you haven't updated your dependencies. The error is coming from an old version of the audio recording library that we use.

[2016-12-24 07:17] XPMCoding commented on #493
how do I update the dependencies?

[2016-12-24 07:21] XPMCoding commented on #493
nvm I figured out how

[2016-12-24 07:39] jgummersall opened #494 "Not responding to voice commands"
I have been running my smart mirror with out any issues but at some time today, unaware of when I wasnt getting any responses from the mirror when I tried to command it to do something. When I closed I noticed in the terminal that I would get this error.
ERROR error:Error: invalid_grant
ERROR 3 22:14:11.831820590 1322 plugin_credentials.c:67] Getting metadata from plugin failed with error : invali

[2016-12-24 13:25] dnorthrupva commented on #494
#468 Seems to be the same issue you're having. I'm surprised this is related due to it mentioning an invalid_grant. Can you confirm if manually resolving the time differences resolves your issue, as a temp solution?

[2016-12-24 18:19] evancohen commented on #493
Hopefully this fixed, if you're still having issues feel free to re-open.

[2016-12-24 18:19] #493 closed

[2016-12-24 18:23] evancohen commented on #468
Glad you were able to sort this out yourself. We should probably add this to the documentation, I've created an issue there.

[2016-12-24 18:35] justbill2020 opened #495 ".asoundrc changes after reboot causing errors in console and audio to not work."
### Expected Behavior

on restart the .asoundrc file remains unchanged

### Current Behavior

before reboot.
[code]
after reboot...
[code]

Also, this is found in the console after starting smart-mirror

[code]

### Possible Solution

find the source of the change or find a template that will not change and still work with the mirror.

### Steps to Reproduce (for bugs)

1. configure audio
2. resta

[2016-12-26 06:40] mkings007 commented on #477
which microphone do i use for smart mirror

[2016-12-26 10:02] #490 closed

[2016-12-26 10:04] abendplays opened #496 "any possibility, to prevent it from listening a few hours?"
Hi guys,
my problem is that the mirror triggers my voice sometimes, even if the sensitivity is pretty good..
Is there any possibility of implementing a "timeout", which prevents the mirror from sending google hours of voice without getting anything usefull back?

[2016-12-26 10:04] wuppi83 commented on #425
Hi,

i have tested the solution  ... but sadly it doesn't work :0(

`            //Shutter
            addCommand('shutter', function ()
                $http.get('http://192.168.1.xx:3777/user/WebhookBY.php?RUNScriptID=27550')
            });`

What's wrong ?! Can somebody help ?!

[2016-12-26 16:32] evancohen commented on #425
This is addressed with the recent refactoring in the `dev` branch. You'll want to create a new "Plugin". The documentation isn't complete, but there are plenty of in-code examples.

[2016-12-26 16:37] evancohen commented on #496
I think this is actually a UI bug (see #477). The mirror will typically only send a single utterance to Google - but for some reason there's a glitch right now that's causing the bottom glow of the mirror to persist even after it is done "listening".

I'm going to close this out because I think it's a duplicate, but feel free to let me know if you think otherwise.